## Îç∞Ïù¥ÌÑ∞ Ìï∏Îì§ÎßÅ Î∞è Ï†ÑÏ≤òÎ¶¨ 

## 07. Îç∞Ïù¥ÌÑ∞ Ïù∏ÏΩîÎî©ÌïòÍ∏∞

<img src = "https://images.unsplash.com/photo-1533237264985-ee62f6d342bb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80" width=80% align="center"/>

<div align="right">ÏÇ¨ÏßÑ: <a href="https://unsplash.com/ko/%EC%82%AC%EC%A7%84/LTyDj7u_TU4?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>Ïùò<a href="https://unsplash.com/@element5digital?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Element5 Digital</a>
</div>

## 0. Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
- ### Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö
    1. preprocessing_07.csv : Ïù¥Ï†Ñ Ïã§ÏäµÏóêÏÑú Ïù¥ÏÉÅÏπò Ï≤òÎ¶¨Î•º ÏôÑÎ£åÌïú Îç∞Ïù¥ÌÑ∞ 
> - MovieId : (int) ÏòÅÌôî ÏïÑÏù¥Îîî <br>
> - ImdbId : (int) IMDb Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ Í¥ÄÎ¶¨ ÏïÑÏù¥Îîî<br>
> - TmdbId : (int) TMDB Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ Í¥ÄÎ¶¨ ÏïÑÏù¥Îîî<br>
> - Title : (object) ÏòÅÌôî Ï†úÎ™© <br> 
> - Year : (int) Ï†úÏûëÎÖÑÎèÑ <br> 
> - Genres : (object) ÏòÅÌôîÏùò Ïû•Î•¥, '|'ÏùÑ Íµ¨Î∂ÑÏûêÎ°ú Ìïú Î≥µÏàò Ïû•Î•¥
> - UserId : (int) Ïú†Ï†Ä ÏïÑÏù¥Îîî <br>
> - Rating : (float) ÏòÅÌôî ÌèâÏ†ê <br>
> - Gender : (object) ÏÑ±Î≥Ñ, M/F <br>
> - Age : (int) ÎÇòÏù¥<br>
> - Occupation : (object) ÏßÅÏóÖ,<br>

In [1]:
# ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∂àÎü¨Ïò§Í∏∞
import pandas as pd

import warnings
warnings.filterwarnings(action='ignore')

In [2]:
# Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
df = pd.read_csv("./data/preprocessing_07.csv")

In [3]:
df.head()

,MovieId,ImdbId,TmdbId,Title,Year,Genres,UserId,Rating,Gender,Age,Occupation
0,1,114709,862,Toy Story,1995,Adventure|Animation|Children|Comedy|Fantasy,1,4.0,F,2,K-12 student
1,1,114709,862,Toy Story,1995,Adventure|Animation|Children|Comedy|Fantasy,5,4.0,M,30,writer
2,1,114709,862,Toy Story,1995,Adventure|Animation|Children|Comedy|Fantasy,7,4.5,M,39,academic/educator
3,1,114709,862,Toy Story,1995,Adventure|Animation|Children|Comedy|Fantasy,15,2.5,M,29,executive/managerial
4,1,114709,862,Toy Story,1995,Adventure|Animation|Children|Comedy|Fantasy,17,4.5,M,52,academic/educator

---

### 1. Î†àÏù¥Î∏î Ïù∏ÏΩîÎî© (Label Encoding) 
Î≤îÏ£ºÌòï Îç∞Ïù¥ÌÑ∞Î•º Ïà´ÏûêÎ°ú Î≥ÄÌôòÌïòÎäî Î∞©Î≤ïÏúºÎ°ú, Í∞Å Î≤îÏ£ºÏóê Í≥†Ïú†Ìïú Ïà´ÏûêÎ•º Ìï†ÎãπÌïòÎäî Î∞©ÏãùÏûÖÎãàÎã§. <br> 
ÏòàÎ•º Îì§Ïñ¥, "ÎÇ®ÏÑ±", "Ïó¨ÏÑ±"Í≥º Í∞ôÏùÄ Î≤îÏ£ºÌòï Îç∞Ïù¥ÌÑ∞Î•º Í∞ÅÍ∞Å 0Í≥º 1Î°ú Î≥ÄÌôòÌïòÎäî Î∞©Î≤ïÏù¥ ÏûàÏäµÎãàÎã§.<br>
sklearn ÎùºÏù¥Î∏åÎü¨Î¶¨Ïùò LabelEncoding Ìï®ÏàòÎ•º ÏÇ¨Ïö©ÌïòÍ±∞ÎÇò, pandasÏùò map Î©îÏÜåÎìúÎ•º ÏÇ¨Ïö©Ìï¥ÏÑú ÏßÅÏ†ë Í∞íÏùÑ Î≥ÄÌôòÌïòÎäî Î∞©Î≤ïÏù¥ ÏûàÏäµÎãàÎã§.

#### 1-1. Sklearn ÎùºÏù¥Î∏åÎü¨Î¶¨Î•º ÌôúÏö©ÌïòÍ∏∞
- #### 'Occupation' Ïª¨Îüº label Encoding ÌïòÍ∏∞

In [4]:
df_le = df.copy()

In [5]:
# ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∂àÎü¨Ïò§Í∏∞
from sklearn.preprocessing import LabelEncoder

# Label Encoder Ìò∏Ï∂úÌïòÍ∏∞
le = LabelEncoder()

# 'Occupation' Ïª¨ÎüºÏùò Îç∞Ïù¥ÌÑ∞Î•º Label Ïù∏ÏΩîÎî©ÌïòÍ∏∞.
le_occupation = le.fit_transform(df['Occupation'])

In [6]:
le_occupation

array([ 0, 20,  1, ..., 11, 11,  7])

In [7]:
# label Encoding Îß§Ìïë ÌÅ¥ÎûòÏä§ ÌôïÏù∏
le.classes_

array(['K-12 student', 'academic/educator', 'artist', 'clerical/admin',
       'college/grad student', 'customer service', 'doctor/health care',
       'executive/managerial', 'farmer', 'homemaker', 'lawyer', 'other',
       'programmer', 'retired', 'sales/marketing', 'scientist',
       'self-employed', 'technician/engineer', 'tradesman/craftsman',
       'unemployed', 'writer'], dtype=object)

In [8]:
df_le['Occupation_Le'] = le_occupation

In [9]:
df_le.head(3)

,MovieId,ImdbId,TmdbId,Title,Year,Genres,UserId,Rating,Gender,Age,Occupation,Occupation_Le
0,1,114709,862,Toy Story,1995,Adventure|Animation|Children|Comedy|Fantasy,1,4.0,F,2,K-12 student,0
1,1,114709,862,Toy Story,1995,Adventure|Animation|Children|Comedy|Fantasy,5,4.0,M,30,writer,20
2,1,114709,862,Toy Story,1995,Adventure|Animation|Children|Comedy|Fantasy,7,4.5,M,39,academic/educator,1

#### 1-2. PandasÏùò map() Ìï®ÏàòÎ•º ÏÇ¨Ïö©ÌïòÏó¨ Î†àÏù¥Î∏î Ïù∏ÏΩîÎî©
- #### 'Occupation' Ïª¨Îüº label Encoding ÌïòÍ∏∞

In [10]:
# 'Occupation' Ïª¨ÎüºÏùò Í∞íÎì§ÏùÑ lable mapping
label_mapping = { "other" : 0 , 
                  "academic/educator" : 1, 
                  "artist" : 2, 
                  "clerical/admin" : 3, 
                  "college/grad student" : 4, 
                  "customer service" : 5, 
                  "doctor/health care" : 6, 
                  "executive/managerial" : 7, 
                  "farmer" : 8, 
                  "homemaker" : 9, 
                  "K-12 student" : 10,
                  "lawyer" : 11, 
                  "programmer" : 12, 
                  "retired" : 13, 
                  "sales/marketing" : 14, 
                  "scientist" : 15, 
                  "self-employed" : 16, 
                  "technician/engineer" : 17, 
                  "tradesman/craftsman" : 18, 
                  "unemployed" : 19, 
                  "writer" : 20 }

In [11]:
# pandas replace() Î©îÏÜåÎìúÎ•º ÏÇ¨Ïö©Ìï¥ÏÑú Í∞íÏùÑ ÎåÄÏ≤¥
df_le['Occupation_Map'] = df['Occupation'].map(label_mapping)

In [12]:
df_le.head(3)

,MovieId,ImdbId,TmdbId,Title,Year,Genres,UserId,Rating,Gender,Age,Occupation,Occupation_Le,Occupation_Map
0,1,114709,862,Toy Story,1995,Adventure|Animation|Children|Comedy|Fantasy,1,4.0,F,2,K-12 student,0,10
1,1,114709,862,Toy Story,1995,Adventure|Animation|Children|Comedy|Fantasy,5,4.0,M,30,writer,20,20
2,1,114709,862,Toy Story,1995,Adventure|Animation|Children|Comedy|Fantasy,7,4.5,M,39,academic/educator,1,1

---

### 2. ÎçîÎØ∏ Î≥ÄÏàò ÏÉùÏÑ±(Dummy Variable Creation)
Í∞Å Ïπ¥ÌÖåÍ≥†Î¶¨Î•º Ïù¥ÏßÑ ÌòïÌÉúÎ°ú ÌëúÌòÑÌïòÎäî Î∞©Î≤ïÏûÖÎãàÎã§. <br> 
Í∞ÅÍ∞ÅÏùò Í∞íÏùÑ Í≥†Ïú†Ìïú Ïù¥ÏßÑ Î≤°ÌÑ∞Î°ú Î≥ÄÌôòÌïòÏó¨ Ìï¥ÎãπÌïòÎäî Í∞íÏùò ÏúÑÏπòÏóê 1ÏùÑ ÌëúÏãúÌïòÍ≥†, ÎÇòÎ®∏ÏßÄ ÏúÑÏπòÏóêÎäî 0ÏùÑ ÌëúÏãúÌï©ÎãàÎã§.<br>

In [13]:
df['Genres'].head()

0    Adventure|Animation|Children|Comedy|Fantasy
1    Adventure|Animation|Children|Comedy|Fantasy
2    Adventure|Animation|Children|Comedy|Fantasy
3    Adventure|Animation|Children|Comedy|Fantasy
4    Adventure|Animation|Children|Comedy|Fantasy
Name: Genres, dtype: object

#### üîñ 'Genres' Ïª¨ÎüºÏùò Í∞í(Í∞Å ÌñâÎßàÎã§ Î≥µÏàòÏùò Îç∞Ïù¥ÌÑ∞ Ìè¨Ìï®)ÏùÑ ÎçîÎØ∏ Î≥ÄÏàòÌôî ÌïòÍ∏∞ Ï†ÑÏóê ÏïÑÎûòÏôÄ Í∞ôÏù¥ ÏÇ¨Ï†Ñ Ï§ÄÎπÑ ÏûëÏóÖÏùÑ Ìï©ÎãàÎã§.

- ####  'Genres' Ïª¨ÎüºÏùÑ Íµ¨Î∂ÑÏûê('|') Í∏∞Ï§ÄÏúºÎ°ú Îç∞Ïù¥ÌÑ∞Î•º Î∂ÑÌï†Ìï©ÎãàÎã§.

In [14]:
df['Genres'] = df['Genres'].str.split('|')

In [15]:
df['Genres']

0         [Adventure, Animation, Children, Comedy, Fantasy]
1         [Adventure, Animation, Children, Comedy, Fantasy]
2         [Adventure, Animation, Children, Comedy, Fantasy]
3         [Adventure, Animation, Children, Comedy, Fantasy]
4         [Adventure, Animation, Children, Comedy, Fantasy]
                                ...
100818                 [Action, Animation, Comedy, Fantasy]
100819                         [Animation, Comedy, Fantasy]
100820                                              [Drama]
100821                                  [Action, Animation]
100822                                             [Comedy]
Name: Genres, Length: 100823, dtype: object

- #### PandasÏùò explode() Ìï®ÏàòÎ•º ÏÇ¨Ïö©ÌïòÏó¨ Í∞Å Í∞íÎì§ÏùÑ Î≥ÑÎèÑÏùò ÌñâÏúºÎ°ú ÏÉùÏÑ±Ìï¥ Ï§çÎãàÎã§.<br>

PandasÏùò explode Ìï®ÏàòÎäî ÌïòÎÇòÏùò ÏÖÄÏóê Ïó¨Îü¨ Í∞íÏùÑ Í∞ÄÏßÑ Î¶¨Ïä§Ìä∏, ÏãúÎ¶¨Ï¶à(Series), ÎòêÎäî Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ(DataFrame)ÏùÑ "Ìè≠Î∞ú(explosion)"ÏãúÏºú Í∞Å Í∞íÎì§ÏùÑ Î≥ÑÎèÑÏùò ÌñâÏúºÎ°ú Î≥ÄÌôòÌï¥Ï£ºÎäî Ìï®ÏàòÏûÖÎãàÎã§. 
Ïù¥Î•º ÌÜµÌï¥ Î¶¨Ïä§Ìä∏ÎÇò ÏãúÎ¶¨Ï¶àÏùò Í∞íÏùÑ ÌôïÏû•ÌïòÏó¨ ÏÉàÎ°úÏö¥ ÌñâÎì§ÏùÑ ÏÉùÏÑ±Ìï† Ïàò ÏûàÏäµÎãàÎã§.
> df.explode('Ïª¨ÎüºÎ™Ö')

In [17]:
df = df.explode('Genres')

In [18]:
df.head(10)

,MovieId,ImdbId,TmdbId,Title,Year,Genres,UserId,Rating,Gender,Age,Occupation
0,1,114709,862,Toy Story,1995,Adventure,1,4.0,F,2,K-12 student
0,1,114709,862,Toy Story,1995,Animation,1,4.0,F,2,K-12 student
0,1,114709,862,Toy Story,1995,Children,1,4.0,F,2,K-12 student
0,1,114709,862,Toy Story,1995,Comedy,1,4.0,F,2,K-12 student
0,1,114709,862,Toy Story,1995,Fantasy,1,4.0,F,2,K-12 student
1,1,114709,862,Toy Story,1995,Adventure,5,4.0,M,30,writer
1,1,114709,862,Toy Story,1995,Animation,5,4.0,M,30,writer
1,1,114709,862,Toy Story,1995,Children,5,4.0,M,30,writer
1,1,114709,862,Toy Story,1995,Comedy,5,4.0,M,30,writer
1,1,114709,862,Toy Story,1995,Fantasy,5,4.0,M,30,writer

#### 2-1. Pandas get_dummies() ÏÇ¨Ïö©Ìï¥ÏÑú ÎçîÎØ∏ Î≥ÄÏàò ÏÉùÏÑ±
PandasÏùò get_dummies() Ìï®ÏàòÎ•º ÏÇ¨Ïö©ÌïòÎ©¥ Ïõê-Ìï´ Ïù∏ÏΩîÎî©ÏùÑ ÏàòÌñâÌï† Ïàò ÏûàÏäµÎãàÎã§. 

[Í∏∞Î≥∏ ÏÇ¨Ïö©Î≤ï]
> pd.get_dumiies( df, columns=['Ïª¨ÎüºÎ™Ö1', 'Ïª¨ÎüºÎ™Ö2'])

[ÏòµÏÖò]
> - prefix: Ïõê-Ìï´ Ïù∏ÏΩîÎî©Îêú Ïó¥Îì§Ïùò Ïù¥Î¶ÑÏóê Ï†ëÎëêÏñ¥Î•º ÏßÄÏ†ïÌï©ÎãàÎã§. 
> - prefix_sep: prefix ÏòµÏÖòÏóêÏÑú ÏßÄÏ†ïÌïú Ï†ëÎëêÏñ¥ÏôÄ ÏõêÎûòÏùò Î≤îÏ£ºÌòï Í∞í ÏÇ¨Ïù¥Ïóê Ï∂îÍ∞ÄÌï† Íµ¨Î∂ÑÏûêÎ•º ÏßÄÏ†ïÌï©ÎãàÎã§.
> - columns: Ïõê-Ìï´ Ïù∏ÏΩîÎî©ÏùÑ Ï†ÅÏö©Ìï† Ïó¥Îì§ÏùÑ Î¶¨Ïä§Ìä∏Î°ú ÏßÄÏ†ïÌï©ÎãàÎã§.
> - drop_first: Ï≤´ Î≤àÏß∏ Î≤îÏ£ºÎ•º Í∏∞Ï§ÄÏúºÎ°ú Ïõê-Ìï´ Ïù∏ÏΩîÎî©Ìï†ÏßÄ Ïó¨Î∂ÄÎ•º ÏßÄÏ†ïÌï©ÎãàÎã§. <br>
  &emsp; &emsp; &emsp; &emsp; TrueÏù∏ Í≤ΩÏö∞, Ï≤´ Î≤àÏß∏ Î≤îÏ£ºÏóê ÎåÄÌïú Ïó¥Ïù¥ ÏÉùÏÑ±ÎêòÏßÄ ÏïäÏäµÎãàÎã§. Í∏∞Î≥∏Í∞íÏùÄ FalseÏûÖÎãàÎã§.

- #### 'Genres' Ïª¨ÎüºÏùÑ get_dummies() Ìï®ÏàòÎ•º ÏÇ¨Ïö©Ìï¥ÏÑú ÎçîÎØ∏ Î≥ÄÏàòÎ•º ÏÉùÏÑ±Ìï¥ Î¥ÖÏãúÎã§.

In [19]:
pd.get_dummies(df, columns=['Genres'])

,MovieId,ImdbId,TmdbId,Title,Year,UserId,Rating,Gender,Age,Occupation,...,Genres_Film-Noir,Genres_Horror,Genres_IMAX,Genres_Musical,Genres_Mystery,Genres_Romance,Genres_Sci-Fi,Genres_Thriller,Genres_War,Genres_Western
0,1,114709,862,Toy Story,1995,1,4.0,F,2,K-12 student,...,False,False,False,False,False,False,False,False,False,False
0,1,114709,862,Toy Story,1995,1,4.0,F,2,K-12 student,...,False,False,False,False,False,False,False,False,False,False
0,1,114709,862,Toy Story,1995,1,4.0,F,2,K-12 student,...,False,False,False,False,False,False,False,False,False,False
0,1,114709,862,Toy Story,1995,1,4.0,F,2,K-12 student,...,False,False,False,False,False,False,False,False,False,False
0,1,114709,862,Toy Story,1995,1,4.0,F,2,K-12 student,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100819,193583,5914996,445030,No Game No Life: Zero,2017,184,3.5,F,33,other,...,False,False,False,False,False,False,False,False,False,False
100820,193585,6397426,479308,Flint,2017,184,3.5,F,33,other,...,False,False,False,False,False,False,False,False,False,False
100821,193587,8391976,483455,Bungo Stray Dogs: Dead Apple,2018,184,3.5,F,33,other,...,False,False,False,False,False,False,False,False,False,False
100821,193587,8391976,483455,Bungo Stray Dogs: Dead Apple,2018,184,3.5,F,33,other,...,False,False,False,False,False,False,False,False,False,False
100822,193609,101726,37891,Andrew Dice Clay: Dice Rules,1991,331,4.0,M,32,executive/managerial,...,False,False,False,False,False,False,False,False,False,False

In [20]:
pd.get_dummies(df['Genres'])

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
0,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
0,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
0,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
0,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100819,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
100820,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
100821,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
100821,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
100822,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False

- #### 'prefix', 'drop_first' ÏòµÏÖòÏùÑ ÏÇ¨Ïö©Ìï¥ Î¥ÖÏãúÎã§.

In [21]:
pd.get_dummies(df['Genres'], prefix='Genre_')

,Genre__(no genres listed),Genre__Action,Genre__Adventure,Genre__Animation,Genre__Children,Genre__Comedy,Genre__Crime,Genre__Documentary,Genre__Drama,Genre__Fantasy,Genre__Film-Noir,Genre__Horror,Genre__IMAX,Genre__Musical,Genre__Mystery,Genre__Romance,Genre__Sci-Fi,Genre__Thriller,Genre__War,Genre__Western
0,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
0,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
0,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
0,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
0,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100819,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
100820,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
100821,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
100821,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
100822,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [22]:
pd.get_dummies(df['Genres'], drop_first=True)

,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
0,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
0,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
0,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
0,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100819,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
100820,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
100821,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
100821,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
100822,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False

- #### 'Genres' Ïª¨ÎüºÏùÑ drop_first ÏòµÏÖòÏùÑ TrueÎ°ú ÌïòÍ≥† ÏÉàÎ°ú ÏÉùÏÑ±Îêú ÎçîÎØ∏ Î≥ÄÏàòÏùò Ïª¨ÎüºÎ™Ö ÏïûÏóê Ï†ëÎëêÏÇ¨(prefix)Îäî 'Genre_'Î°ú Î≥ÄÍ≤ΩÌï¥ÏÑú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ 'df'Î•º ÏàòÏ†ïÌïòÏÑ∏Ïöî.

In [23]:
df = pd.get_dummies(df, columns=['Genres'], prefix='Genre', drop_first=True)

In [24]:
df.head(5)

,MovieId,ImdbId,TmdbId,Title,Year,UserId,Rating,Gender,Age,Occupation,...,Genre_Film-Noir,Genre_Horror,Genre_IMAX,Genre_Musical,Genre_Mystery,Genre_Romance,Genre_Sci-Fi,Genre_Thriller,Genre_War,Genre_Western
0,1,114709,862,Toy Story,1995,1,4.0,F,2,K-12 student,...,False,False,False,False,False,False,False,False,False,False
0,1,114709,862,Toy Story,1995,1,4.0,F,2,K-12 student,...,False,False,False,False,False,False,False,False,False,False
0,1,114709,862,Toy Story,1995,1,4.0,F,2,K-12 student,...,False,False,False,False,False,False,False,False,False,False
0,1,114709,862,Toy Story,1995,1,4.0,F,2,K-12 student,...,False,False,False,False,False,False,False,False,False,False
0,1,114709,862,Toy Story,1995,1,4.0,F,2,K-12 student,...,False,False,False,False,False,False,False,False,False,False

- #### 'Genres' Ïª¨ÎüºÏùÑ Í∏∞Ï§ÄÏúºÎ°ú explode() ÌñàÎçò Îç∞Ïù¥ÌÑ∞Îäî ÎçîÎØ∏ÌôîÎ•º ÌÜµÌï¥ ÏÉàÎ°ú ÏÉùÏÑ±Îêú Îç∞Ïù¥ÌÑ∞ Ïô∏Ïùò Ïª¨ÎüºÎì§ÏùÑ ÌÇ§ Í∞íÏúºÎ°ú Í∑∏Î£πÌïëÌïòÏó¨ Ï§ëÎ≥µÎç∞Ïù¥ÌÑ∞Î•º Ï†úÍ±∞ Ìï¥Ï§çÎãàÎã§.  
Pandas ÎùºÏù¥Î∏åÎü¨Î¶¨Ïùò groupby()ÏôÄ agg()Îäî Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ(DataFrame)Ïùò Í∑∏Î£πÌôî(grouping)ÏôÄ ÏßëÍ≥Ñ(aggregation) Í∏∞Îä•ÏûÖÎãàÎã§. <br>
> - 'groupby()'Îäî ÌäπÏ†ï Ïª¨ÎüºÏùò Í∞íÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ Í∑∏Î£πÌôîÌïòÏó¨ Í∑∏Î£πÎ≥ÑÎ°ú Ïó∞ÏÇ∞ÏùÑ ÏàòÌñâÌï† Ïàò ÏûàÏäµÎãàÎã§. <br>
> - 'agg()'Îäî Í∑∏Î£πÌôîÎêú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏóê ÎåÄÌï¥ Îã§ÏñëÌïú ÏßëÍ≥Ñ Ìï®ÏàòÎì§ÏùÑ Ï†ÅÏö©ÌïòÏó¨ Í∑∏Î£π Î≥ÑÎ°ú Ïó∞ÏÇ∞ Í≤∞Í≥ºÎ•º ÏßëÍ≥ÑÌïú Í≤∞Í≥ºÎ•º Î∞òÌôòÌï©ÎãàÎã§.

In [25]:
df.columns

Index(['MovieId', 'ImdbId', 'TmdbId', 'Title', 'Year', 'UserId', 'Rating',
       'Gender', 'Age', 'Occupation', 'Genre_Action', 'Genre_Adventure',
       'Genre_Animation', 'Genre_Children', 'Genre_Comedy', 'Genre_Crime',
       'Genre_Documentary', 'Genre_Drama', 'Genre_Fantasy', 'Genre_Film-Noir',
       'Genre_Horror', 'Genre_IMAX', 'Genre_Musical', 'Genre_Mystery',
       'Genre_Romance', 'Genre_Sci-Fi', 'Genre_Thriller', 'Genre_War',
       'Genre_Western'],
      dtype='object')

In [26]:
df = df.groupby(['MovieId', 'ImdbId', 'TmdbId', 'Title', 'Year', 'UserId', 'Rating',
       'Gender', 'Age', 'Occupation']).agg('sum').reset_index()

In [27]:
df.iloc[:10, 11:]

,Genre_Adventure,Genre_Animation,Genre_Children,Genre_Comedy,Genre_Crime,Genre_Documentary,Genre_Drama,Genre_Fantasy,Genre_Film-Noir,Genre_Horror,Genre_IMAX,Genre_Musical,Genre_Mystery,Genre_Romance,Genre_Sci-Fi,Genre_Thriller,Genre_War,Genre_Western
0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
4,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
5,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
6,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
7,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
8,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0

---

## Ïã§ÏäµÎ¨∏Ï†ú

#### Q1. Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ 'df' Ïùò 'Gender' Ïª¨ÎüºÏùÑ Lable Encoding ÌïòÍ≥† Î≥ÄÍ≤ΩÎêú ÎÇ¥Ïö©ÏùÑ df['Gender'] Ïª¨ÎüºÏóê Î∞îÎ°ú Ï†ÅÏö©ÌïòÏÑ∏Ïöî.
> F(Ïó¨ÏÑ±): 0, M(ÎÇ®ÏÑ±): 1 ÏúºÎ°ú Îß§ÌïëÌïòÏÑ∏Ïöî.

In [33]:
df.head(2)

,MovieId,ImdbId,TmdbId,Title,Year,UserId,Rating,Gender,Age,Occupation,...,Genre_Film-Noir,Genre_Horror,Genre_IMAX,Genre_Musical,Genre_Mystery,Genre_Romance,Genre_Sci-Fi,Genre_Thriller,Genre_War,Genre_Western
0,1,114709,862,Toy Story,1995,1,4.0,0,2,K-12 student,...,0,0,0,0,0,0,0,0,0,0
1,1,114709,862,Toy Story,1995,5,4.0,1,30,writer,...,0,0,0,0,0,0,0,0,0,0

In [32]:
# Ïó¨Í∏∞Ïóê ÏûëÏÑ±ÌïòÏÑ∏Ïöî.
# ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∂àÎü¨Ïò§Í∏∞
from sklearn.preprocessing import LabelEncoder

# Label Encoder Ìò∏Ï∂ú
encoder_1 = LabelEncoder()

# Î≥ÄÌôòÌïòÍ∏∞
df['Gender'] = encoder_1.fit_transform(df['Gender'])
encoder_1.classes_

# Î≥ÄÌôòÎêú Îç∞Ïù¥ÌÑ∞ ÎåÄÏ≤¥ÌïòÍ∏∞

array(['F', 'M'], dtype=object)

#### Q2. Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ 'df'Ïùò 'Occupation' Ïª¨ÎüºÏùÑ ÏïÑÎûòÏùò ÏòµÏÖòÏùÑ Ï∞∏Í≥†ÌïòÏó¨ ÎçîÎØ∏ Î≥ÄÏàòÎ°ú ÎßåÎì† ÌõÑ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ 'df'Ïóê Î≥ÄÍ≤ΩÎêú ÎÇ¥Ïö©ÏùÑ Ï†ÅÏö©ÌïòÏÑ∏Ïöî.
> ÏÉàÎ°ú ÏÉùÏÑ±Îêú Ïª¨ÎüºÏùò Ïù¥Î¶Ñ ÏïûÏóêÎäî ÏïÑÎ¨¥Îü∞ Ï†ëÎëêÏÇ¨Î•º 'job'ÏúºÎ°ú Î≥ÄÍ≤ΩÌïòÍ≥†, Íµ¨Î∂ÑÏûêÎ•º '_'Î°ú Ìï¥Ï§çÎãàÎã§.

üìå Ïª¨ÎüºÎ™Ö ÏòµÏÖòÏùÄ 'prefix', 'prefix_sub' ÏùÑ Ï°∞Ï†ïÌï©ÎãàÎã§.

In [46]:
df.columns

Index(['MovieId', 'ImdbId', 'TmdbId', 'Title', 'Year', 'UserId', 'Rating',
       'Gender', 'Age', 'Genre_Action', 'Genre_Adventure', 'Genre_Animation',
       'Genre_Children', 'Genre_Comedy', 'Genre_Crime', 'Genre_Documentary',
       'Genre_Drama', 'Genre_Fantasy', 'Genre_Film-Noir', 'Genre_Horror',
       'Genre_IMAX', 'Genre_Musical', 'Genre_Mystery', 'Genre_Romance',
       'Genre_Sci-Fi', 'Genre_Thriller', 'Genre_War', 'Genre_Western',
       'job_K-12 student', 'job_academic/educator', 'job_artist',
       'job_clerical/admin', 'job_college/grad student',
       'job_customer service', 'job_doctor/health care',
       'job_executive/managerial', 'job_farmer', 'job_homemaker', 'job_lawyer',
       'job_other', 'job_programmer', 'job_retired', 'job_sales/marketing',
       'job_scientist', 'job_self-employed', 'job_technician/engineer',
       'job_tradesman/craftsman', 'job_unemployed', 'job_writer'],
      dtype='object')

In [44]:
# Ïó¨Í∏∞Ïóê ÏûëÏÑ±ÌïòÏÑ∏Ïöî.

pd.options.display.max_columns = 30

df = pd.get_dummies(data=df, columns=['Occupation'], prefix='job', prefix_sep='_')

df.head()

KeyError: "None of [Index(['Occupation'], dtype='object')] are in the [columns]"

---