## Îç∞Ïù¥ÌÑ∞ Ìï∏Îì§ÎßÅ Î∞è Ï†ÑÏ≤òÎ¶¨ 

## 04. Í≤∞Ï∏°Ïπò Ï≤òÎ¶¨ÌïòÍ∏∞

<img src = "https://images.unsplash.com/photo-1611329857570-f02f340e7378?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" width=80% align="center"/>

<div align="right">ÏÇ¨ÏßÑ: <a href="https://unsplash.com/ko/%EC%82%AC%EC%A7%84/B-x4VaIriRc?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>Ïùò<a href="https://unsplash.com/@sigmund?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Sigmund</a></div>

Í≤∞Ï∏°ÏπòÎäî Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑùÏóêÏÑú Ï§ëÏöîÌïú Ï†ïÎ≥¥Î•º Ï†úÍ≥µÌïòÏßÄ ÏïäÍ∏∞ ÎïåÎ¨∏Ïóê Ï†úÍ±∞ÌïòÍ±∞ÎÇò Îã§Î•∏ Í∞íÏúºÎ°ú ÎåÄÏ≤¥Ìï¥Ïïº Ìï©ÎãàÎã§. <br>
Í≤∞Ï∏°ÏπòÎ•º Ï≤òÎ¶¨ÌïòÎäî Î∞©Î≤ïÏúºÎ°úÎäî Îã§ÏùåÍ≥º Í∞ôÏùÄ Î∞©Î≤ïÏù¥ ÏûàÏäµÎãàÎã§.

#### Í≤∞Ï∏°ÏπòÎ•º Ï≤òÎ¶¨ÌïòÎäî Î∞©Î≤ï
- Í≤∞Ï∏°ÏπòÍ∞Ä ÎßéÏùÄ Ïó¥Ïùò Í≤ΩÏö∞Îäî Ïó¥ÏùÑ Ï†úÍ±∞Ìï©ÎãàÎã§.
- Í≤∞Ï∏°ÏπòÍ∞Ä ÏïÑÏ£º ÎßéÏßÄ ÏïäÏùÄ Ïó¥Ïùò Í≤ΩÏö∞Îäî Í≤∞Ï∏°ÏπòÎ•º Í∞ÄÏßÑ ÌñâÎßå Ï†úÍ±∞Ìï©ÎãàÎã§.
- Í≤∞Ï∏°ÏπòÎ•º Í∞ÄÏßÑ Îç∞Ïù¥ÌÑ∞Î•º ÏÇ≠Ï†úÌïòÎ©¥ ÏïàÎêòÎäî Í≤ΩÏö∞(Í≤∞Ï∏°ÏπòÍ∞Ä Î™á Í∞ú ÏïàÎêòÍ±∞ÎÇò Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞Í∞Ä Ï†ÅÏùÄ Í≤ΩÏö∞)ÏóêÎäî Í≤∞Ï∏°ÏπòÎ•º Îã§Î•∏ Í∞íÏúºÎ°ú ÏπòÌôòÌï©ÎãàÎã§.

## 0. Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
- ### Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö
    1. preprocessing_04.csv : Ïù¥Ï†Ñ Ïã§ÏäµÏóêÏÑú Î∂àÌïÑÏöîÌïú Ïª¨ÎüºÏùÑ ÏßÄÏö∞Í≥† Ïª¨Îü¨Î™ÖÏùÑ Î≥ÄÍ≤ΩÌïú Îç∞Ïù¥ÌÑ∞ 
> - MovieId : (int) ÏòÅÌôî ÏïÑÏù¥Îîî <br>
> - ImdbId : (int) IMDb Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ Í¥ÄÎ¶¨ ÏïÑÏù¥Îîî<br>
> - TmdbId : (float) TMDB Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ Í¥ÄÎ¶¨ ÏïÑÏù¥Îîî<br>
> - Title : (object) ÏòÅÌôî Ï†úÎ™© <br> 
> - Year : (int) Ï†úÏûëÎÖÑÎèÑ <br> 
> - Genres : (object) ÏòÅÌôîÏùò Ïû•Î•¥, '|'ÏùÑ Íµ¨Î∂ÑÏûêÎ°ú Ìïú Î≥µÏàò Ïû•Î•¥
> - UserId : (int) Ïú†Ï†Ä ÏïÑÏù¥Îîî <br>
> - Rating : (float) ÏòÅÌôî ÌèâÏ†ê <br>
> - Timestamp : (object) ÌèâÏ†êÏùÑ ÏûëÏÑ±Ìïú ÏãúÍ∞ÑÏ†ïÎ≥¥ <br>
> - Gender : (object) ÏÑ±Î≥Ñ, M/F <br>
> - Age : (int) ÎÇòÏù¥<br>
> - Occupation : (object) ÏßÅÏóÖ,<br>

In [1]:
# ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∂àÎü¨Ïò§Í∏∞
import pandas as pd

import warnings
warnings.filterwarnings(action='ignore')

In [2]:
# Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
df = pd.read_csv("./data/preprocessing_04.csv")

In [3]:
# Îç∞Ïù¥ÌÑ∞ ÏÉòÌîå ÌôïÏù∏ÌïòÍ∏∞
df.head()

,MovieId,ImdbId,TmdbId,Title,Year,Genres,UserId,Rating,Timestamp,Gender,Age,Occupation
0,1.0,114709.0,862.0,Toy Story,1995.0,Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,2000-07-30 18:45:03,F,2.0,K-12 student
1,1.0,114709.0,862.0,Toy Story,1995.0,Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,1996-11-08 06:36:02,M,30.0,writer
2,1.0,114709.0,862.0,Toy Story,1995.0,Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,2005-01-25 06:52:26,M,39.0,academic/educator
3,1.0,114709.0,862.0,Toy Story,1995.0,Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,2017-11-13 12:59:30,M,29.0,executive/managerial
4,1.0,114709.0,862.0,Toy Story,1995.0,Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,2011-05-18 05:28:03,M,52.0,academic/educator

---

### 1. Í≤∞Ï∏°Ïπò ÌôïÏù∏ÌïòÍ∏∞ : isnull()
Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùò Í≤∞Ï∏°Ïπò ÌñâÏùÑ ÌôïÏù∏ÌïòÍ≥†, Í∞Å Ïó¥ Î≥ÑÎ°ú Í≤∞Ï∏°ÏπòÏùò Í∞úÏàòÎèÑ ÌôïÏù∏Ìï† Ïàò ÏûàÏäµÎãàÎã§.

#### 1-1 Í≤∞Ï∏°Ïπò Ìñâ ÌôïÏù∏ÌïòÍ∏∞
Ìï¥Îãπ ÏúÑÏπòÏóê Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÏùÑ Í≤ΩÏö∞ TrueÎ•º Î∞òÌôòÌï©ÎãàÎã§.

In [4]:
df.isnull()

,MovieId,ImdbId,TmdbId,Title,Year,Genres,UserId,Rating,Timestamp,Gender,Age,Occupation
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106279,True,True,True,True,True,True,False,True,True,False,False,False
106280,True,True,True,True,True,True,False,True,True,False,False,False
106281,True,True,True,True,True,True,False,True,True,False,False,False
106282,True,True,True,True,True,True,False,True,True,False,False,False
106283,True,True,True,True,True,True,False,True,True,False,False,False

#### 1-2. Í∞Å Ïó¥ Î≥Ñ Í≤∞Ï∏°Ïπò Í∞úÏàò ÌôïÏù∏ÌïòÍ∏∞
Í∞úÏàòÏùò ÌôïÏù∏ÏùÄ sum Ïó∞ÏÇ∞ÏóêÏÑú TrueÍ∞Ä 1, FalseÍ∞Ä 0ÏúºÎ°ú Ïù∏ÏãùÎêòÎäî ÏõêÎ¶¨Î•º ÌôúÏö©ÌïòÎ©¥ ÏâΩÍ≤å ÌôïÏù∏ Í∞ÄÎä•Ìï©ÎãàÎã§.

In [5]:
df.isnull().sum()

MovieId       5430
ImdbId        5430
TmdbId        5443
Title         5430
Year          5430
Genres        5430
UserId          18
Rating        5448
Timestamp     5448
Gender          18
Age             18
Occupation      18
dtype: int64

#### üîñ pandasÏùò 'info()' Î©îÏÜåÎìúÎ•º ÌôúÏö©Ìï¥ÎèÑ ÌÉêÏÉâÏ†ÅÏúºÎ°ú Í≤∞Ï∏°Ïπò Ïú†Î¨¥ ÌôïÏù∏Ïù¥ Í∞ÄÎä•Ìï©ÎãàÎã§.

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106284 entries, 0 to 106283
Data columns (total 12 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   MovieId     100854 non-null  float64
 1   ImdbId      100854 non-null  float64
 2   TmdbId      100841 non-null  float64
 3   Title       100854 non-null  object
 4   Year        100854 non-null  float64
 5   Genres      100854 non-null  object
 6   UserId      106266 non-null  float64
 7   Rating      100836 non-null  float64
 8   Timestamp   100836 non-null  object
 9   Gender      106266 non-null  object
 10  Age         106266 non-null  float64
 11  Occupation  106266 non-null  object
dtypes: float64(7), object(5)
memory usage: 9.7+ MB

---

### 2. Í≤∞Ï∏°Ïπò Ï†úÍ±∞ÌïòÍ∏∞ : dropna()
Í≤∞Ï∏°ÏπòÏùò ÌäπÏÑ±Ïù¥ ÎûúÎç§ÌïòÍ≤å ÏÜêÏã§ÎêòÏßÄ ÏïäÏïòÎî∞Î©¥, ÎåÄÎ∂ÄÎ∂ÑÏùò Í≤ΩÏö∞ Í∞ÄÏû• Ï¢ãÏùÄ Î∞©Î≤ïÏùÄ ÏÇ≠Ï†úÌïòÎäî Í≤ÉÏûÖÎãàÎã§.<br>
dropna()Îäî pandasÏóêÏÑú Ï†úÍ≥µÌïòÎäî Na/NaNÍ≥º Í∞ôÏùÄ ÎàÑÎùΩ Îç∞Ïù¥ÌÑ∞Î•º Ï†úÍ±∞ÌïòÎäî Ìï®ÏàòÏûÖÎãàÎã§.<br>
- ÏòµÏÖò
> - axis : 0(default)Ïù∏ Í≤ΩÏö∞ Ìñâ Ï†úÍ±∞, 1Ïù∏ Í≤ΩÏö∞ Ïó¥ÏùÑ Ï†úÍ±∞ <br>
> - subset : ÌäπÏ†ï Ïó¥ÏùÑ ÏßÄÏ†ïÌïòÏó¨ Ìï¥Îãπ Ïó¥Ïùò Í≤∞Ï∏°ÏπòÎ•º Ï†úÍ±∞, Î¶¨Ïä§Ìä∏ ÌòïÌÉúÎ°ú Î≥µÏàòÏùò Ïª¨Îüº Ï°∞Í±¥ ÏßÄÏ†ï Í∞ÄÎä• <br>
> - tresh : ÏûÑÍ≥ÑÏπòÎ•º Ï£ºÏñ¥ ÌñâÏóê Ìï¥Îãπ Í∞úÏàòÎßåÌÅº Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÎäî Í≤ΩÏö∞ Ï†úÍ±∞ <br>
> - inplace : Í≤∞Ï∏°ÏπòÎ•º Ï†úÍ±∞Ìïú ÏÉÅÌÉúÎ•º Î∞îÎ°ú Ï†ÄÏû•

#### 2-1. Î™©Î°ù ÏÇ≠Ï†ú Î∞©Ïãù (Listwise)
Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÎäî Ìñâ ÎòêÎäî Ïó¥ÏùÑ Ï†ÑÎ∂Ä ÏÇ≠Ï†úÌïòÎäî Î∞©Ïãù
- Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÎäî ÌñâÏùÑ Ï†ÑÎ∂Ä ÏÇ≠Ï†ú

In [7]:
df_temp = df.dropna()

In [8]:
df_temp.isnull().sum()

MovieId       0
ImdbId        0
TmdbId        0
Title         0
Year          0
Genres        0
UserId        0
Rating        0
Timestamp     0
Gender        0
Age           0
Occupation    0
dtype: int64

- Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÎäî Ïó¥ÏùÑ Ï†ÑÎ∂Ä ÏÇ≠Ï†ú

In [9]:
df.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[106284 rows x 0 columns]

#### 2-2. ÌäπÏ†ïÍ∞í Ï°∞Í±¥ ÎßåÏ°± Ïãú ÏÇ≠Ï†ú Î∞©Ïãù (Pairwise)
ÌäπÏ†ïÍ∞í Ï°∞Í±¥ ÎßåÏ°± ÏãúÏóêÎßå Í≤∞Ï∏°ÏπòÎ•º ÏÇ≠Ï†úÌïòÍ≥†, Îã§Î•∏ Î≥ÄÏàòÍ∞Ä Ï°¥Ïû¨ÌïòÎäî Í≤ΩÏö∞ÏóêÎäî Í∑∏ÎåÄÎ°ú Ïú†ÏßÄÌï¥ ÎëêÎäî Í≤ÉÏûÖÎãàÎã§.

- Ìñâ Ï†ÑÏ≤¥Í∞Ä Í≤∞Ï∏°ÏπòÏù∏ ÌñâÎßå ÏÇ≠Ï†ú

In [10]:
df.dropna(how ='all')

,MovieId,ImdbId,TmdbId,Title,Year,Genres,UserId,Rating,Timestamp,Gender,Age,Occupation
0,1.0,114709.0,862.0,Toy Story,1995.0,Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,2000-07-30 18:45:03,F,2.0,K-12 student
1,1.0,114709.0,862.0,Toy Story,1995.0,Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,1996-11-08 06:36:02,M,30.0,writer
2,1.0,114709.0,862.0,Toy Story,1995.0,Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,2005-01-25 06:52:26,M,39.0,academic/educator
3,1.0,114709.0,862.0,Toy Story,1995.0,Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,2017-11-13 12:59:30,M,29.0,executive/managerial
4,1.0,114709.0,862.0,Toy Story,1995.0,Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,2011-05-18 05:28:03,M,52.0,academic/educator
...,...,...,...,...,...,...,...,...,...,...,...,...
106279,NaN,NaN,NaN,NaN,NaN,NaN,6036.0,NaN,NaN,F,30.0,scientist
106280,NaN,NaN,NaN,NaN,NaN,NaN,6037.0,NaN,NaN,F,46.0,academic/educator
106281,NaN,NaN,NaN,NaN,NaN,NaN,6038.0,NaN,NaN,F,79.0,academic/educator
106282,NaN,NaN,NaN,NaN,NaN,NaN,6039.0,NaN,NaN,F,48.0,other
106283,NaN,NaN,NaN,NaN,NaN,NaN,6040.0,NaN,NaN,M,28.0,doctor/health care

- ÌñâÏùò Í≤∞Ï∏°ÏπòÍ∞Ä nÍ∞ú Ï¥àÍ≥ºÏù∏ ÌñâÎßå ÏÇ≠Ï†ú

In [15]:
df.dropna(thresh=6)

,MovieId,ImdbId,TmdbId,Title,Year,Genres,UserId,Rating,Timestamp,Gender,Age,Occupation
0,1.0,114709.0,862.0,Toy Story,1995.0,Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,2000-07-30 18:45:03,F,2.0,K-12 student
1,1.0,114709.0,862.0,Toy Story,1995.0,Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,1996-11-08 06:36:02,M,30.0,writer
2,1.0,114709.0,862.0,Toy Story,1995.0,Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,2005-01-25 06:52:26,M,39.0,academic/educator
3,1.0,114709.0,862.0,Toy Story,1995.0,Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,2017-11-13 12:59:30,M,29.0,executive/managerial
4,1.0,114709.0,862.0,Toy Story,1995.0,Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,2011-05-18 05:28:03,M,52.0,academic/educator
...,...,...,...,...,...,...,...,...,...,...,...,...
100849,193581.0,5476944.0,432131.0,Black Butler: Book of the Atlantic,2017.0,Action|Animation|Comedy|Fantasy,184.0,4.0,2018-09-16 14:44:42,F,33.0,other
100850,193583.0,5914996.0,445030.0,No Game No Life: Zero,2017.0,Animation|Comedy|Fantasy,184.0,3.5,2018-09-16 14:52:25,F,33.0,other
100851,193585.0,6397426.0,479308.0,Flint,2017.0,Drama,184.0,3.5,2018-09-16 14:56:45,F,33.0,other
100852,193587.0,8391976.0,483455.0,Bungo Stray Dogs: Dead Apple,2018.0,Action|Animation,184.0,3.5,2018-09-16 15:00:21,F,33.0,other
100853,193609.0,101726.0,37891.0,Andrew Dice Clay: Dice Rules,1991.0,Comedy,331.0,4.0,2018-09-17 04:13:26,M,32.0,executive/managerial

- ÌäπÏ†ï Ïó¥Îì§ Ï§ëÏóê Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÎäî Í≤ΩÏö∞ÏóêÎßå ÌñâÏùÑ ÏÇ≠Ï†ú

In [16]:
# movieIdÏóê Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÎäî Í≤ΩÏö∞ ÏÇ≠Ï†ú 
df.dropna(subset=['MovieId'])

,MovieId,ImdbId,TmdbId,Title,Year,Genres,UserId,Rating,Timestamp,Gender,Age,Occupation
0,1.0,114709.0,862.0,Toy Story,1995.0,Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,2000-07-30 18:45:03,F,2.0,K-12 student
1,1.0,114709.0,862.0,Toy Story,1995.0,Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,1996-11-08 06:36:02,M,30.0,writer
2,1.0,114709.0,862.0,Toy Story,1995.0,Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,2005-01-25 06:52:26,M,39.0,academic/educator
3,1.0,114709.0,862.0,Toy Story,1995.0,Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,2017-11-13 12:59:30,M,29.0,executive/managerial
4,1.0,114709.0,862.0,Toy Story,1995.0,Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,2011-05-18 05:28:03,M,52.0,academic/educator
...,...,...,...,...,...,...,...,...,...,...,...,...
100849,193581.0,5476944.0,432131.0,Black Butler: Book of the Atlantic,2017.0,Action|Animation|Comedy|Fantasy,184.0,4.0,2018-09-16 14:44:42,F,33.0,other
100850,193583.0,5914996.0,445030.0,No Game No Life: Zero,2017.0,Animation|Comedy|Fantasy,184.0,3.5,2018-09-16 14:52:25,F,33.0,other
100851,193585.0,6397426.0,479308.0,Flint,2017.0,Drama,184.0,3.5,2018-09-16 14:56:45,F,33.0,other
100852,193587.0,8391976.0,483455.0,Bungo Stray Dogs: Dead Apple,2018.0,Action|Animation,184.0,3.5,2018-09-16 15:00:21,F,33.0,other
100853,193609.0,101726.0,37891.0,Andrew Dice Clay: Dice Rules,1991.0,Comedy,331.0,4.0,2018-09-17 04:13:26,M,32.0,executive/managerial

In [17]:
df_temp = df.dropna(subset=['MovieId'])

In [18]:
df_temp.isnull().sum()

MovieId        0
ImdbId         0
TmdbId        13
Title          0
Year           0
Genres         0
UserId        18
Rating        18
Timestamp     18
Gender        18
Age           18
Occupation    18
dtype: int64

#### üîñ 'movieId'Í∞Ä Í≤∞Ï∏°ÏπòÏù∏ ÌñâÏùÑ ÏÇ≠Ï†úÌïòÍ≥† inplace ÏòµÏÖòÏùÑ TrueÎ°ú ÌïòÏó¨ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ dfÎ•º Ï†ÄÏû•Ìï¥Ï£ºÏÑ∏Ïöî.

In [23]:
df.dropna(subset=['MovieId'], inplace=True)

---

### 3. Í≤∞Ï∏°Ïπò Ï±ÑÏö∞Í∏∞ : fillna(), replace()
Í≤∞Ï∏°ÏπòÎ•º ÌäπÏ†ï Í∞íÏúºÎ°ú ÎåÄÏπòÌïòÏó¨ Ï†ÄÏû•Ìï©ÎãàÎã§.<br>
ÏûêÏ£º ÏÇ¨Ïö©ÎêòÎäî ÎåÄÏπò Í∞íÏùÄ 'ÏµúÎπàÍ∞í(mode)', 'Ï§ëÏïôÍ∞í(median)', 'ÌèâÍ∑†(mean)' ÏúºÎ°ú Ï±ÑÏö∞Îäî ÌèâÍ∑†Ìôî Í∏∞Î≤ïÍ≥º <br>
fillna() Ïùò method ÏòµÏÖòÏùÑ ÌôúÏö©ÌïòÏó¨ 'Ïù¥Ï†Ñ Í∞í(ffill)', 'Ïù¥ÌõÑ Í∞í(bfill)' Í≥º Í∞ôÏùÄ Ï£ºÎ≥Ä Í∞íÏùÑ Ï±ÑÏö∞Îäî Í∏∞Î≤ïÏù¥ ÏûàÏäµÎãàÎã§. 

- Ï£ºÎ°ú ÏÇ¨Ïö©ÌïòÎäî ÏòµÏÖò
> - value : ÌäπÏ†ï Í∞í ÎòêÎäî ÌèâÍ∑†Ìôî Í∏∞Î≤ïÏùÑ ÌôúÏö©ÌïòÏó¨ ÎåÄÏπòÌïòÎäî Í∞í <br>
> - method : 'Ïù¥Ï†Ñ Í∞í(ffill)', 'Ïù¥ÌõÑ Í∞í(bfill)'Í≥º Í∞ôÏùÄ Ï£ºÎ≥Ä Í∞íÏúºÎ°ú ÎåÄÏπòÌïòÎäî Î∞©Î≤ï<br>
> - inplace : Í≤∞Ï∏°ÏπòÎ•º ÎåÄÏπòÌïú ÏÉÅÌÉúÎ•º Î∞îÎ°ú Ï†ÄÏû•

In [24]:
# fillna() Î≥ÄÌôî ÌôïÏù∏ÏùÑ ÏúÑÌïú ÏûÑÏãú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ Î≥ÄÏàò Ï†ÄÏû•
df_na_sample1 = df[(df.index>23777)].head()
df_na_sample2 = df[df.index>22817].head()

In [25]:
# 'tmdbId'Í∞Ä Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÎäî Sample
df_na_sample1

,MovieId,ImdbId,TmdbId,Title,Year,Genres,UserId,Rating,Timestamp,Gender,Age,Occupation
23778,1105.0,115885.0,25750.0,Children of the Corn IV: The Gathering,1996.0,Horror,492.0,4.0,1997-05-18 17:29:27,M,27.0,programmer
23779,1105.0,115885.0,25750.0,Children of the Corn IV: The Gathering,1996.0,Horror,544.0,5.0,1996-12-15 22:26:16,M,36.0,programmer
23780,1107.0,102336.0,NaN,Loser,1991.0,Comedy,160.0,3.5,2004-02-25 22:50:09,M,41.0,executive/managerial
23781,1107.0,102336.0,NaN,Loser,1991.0,Comedy,298.0,0.5,2016-11-13 19:31:35,F,19.0,college/grad student
23782,1111.0,117040.0,9305.0,Microcosmos (Microcosmos: Le peuple de l'herbe),1996.0,Documentary,105.0,4.0,2015-11-22 12:39:05,M,45.0,programmer

In [27]:
# 'userId', 'age', 'rating' Îì± Í≥†Í∞ùÏ†ïÎ≥¥ÏôÄ Î≥ÑÏ†ê Ï†ïÎ≥¥Ïóê Í≤∞Ï∏°Ïù¥Í∞Ä ÏûàÎäî Sample
df_na_sample2

,MovieId,ImdbId,TmdbId,Title,Year,Genres,UserId,Rating,Timestamp,Gender,Age,Occupation
22818,1073.0,67992.0,252.0,Willy Wonka & the Chocolate Factory,1971.0,Children|Comedy|Fantasy|Musical,605.0,4.0,2010-06-22 03:08:04,F,20.0,college/grad student
22819,1073.0,67992.0,252.0,Willy Wonka & the Chocolate Factory,1971.0,Children|Comedy|Fantasy|Musical,608.0,3.5,2005-05-31 01:27:46,M,20.0,college/grad student
22820,1076.0,55018.0,16372.0,"Innocents, The",1961.0,Drama|Horror|Thriller,NaN,NaN,NaN,NaN,NaN,NaN
22821,1077.0,70707.0,11561.0,Sleeper,1973.0,Comedy|Sci-Fi,4.0,5.0,1999-12-14 12:14:52,M,45.0,executive/managerial
22822,1077.0,70707.0,11561.0,Sleeper,1973.0,Comedy|Sci-Fi,19.0,3.0,2000-08-08 03:00:05,M,3.0,K-12 student

#### 3-1. Í≤∞Ï∏°ÏπòÎ•º ÌäπÏ†ï Îã®Ïùº Í∞íÏúºÎ°ú ÎåÄÏ≤¥ÌïòÎäî Î∞©Î≤ï

- Í≤∞Ï∏°ÏπòÎ•º ÌäπÏ†ï Îã®ÏùºÍ∞íÏúºÎ°ú ÎåÄÏ≤¥ÌïòÎäî Î∞©Î≤ï

In [28]:
df_na_sample1.fillna(0)

,MovieId,ImdbId,TmdbId,Title,Year,Genres,UserId,Rating,Timestamp,Gender,Age,Occupation
23778,1105.0,115885.0,25750.0,Children of the Corn IV: The Gathering,1996.0,Horror,492.0,4.0,1997-05-18 17:29:27,M,27.0,programmer
23779,1105.0,115885.0,25750.0,Children of the Corn IV: The Gathering,1996.0,Horror,544.0,5.0,1996-12-15 22:26:16,M,36.0,programmer
23780,1107.0,102336.0,0.0,Loser,1991.0,Comedy,160.0,3.5,2004-02-25 22:50:09,M,41.0,executive/managerial
23781,1107.0,102336.0,0.0,Loser,1991.0,Comedy,298.0,0.5,2016-11-13 19:31:35,F,19.0,college/grad student
23782,1111.0,117040.0,9305.0,Microcosmos (Microcosmos: Le peuple de l'herbe),1996.0,Documentary,105.0,4.0,2015-11-22 12:39:05,M,45.0,programmer

- ÌäπÏ†ïÏó¥Ïùò Í≤∞Ï∏°ÏπòÎ•º Îã§Î•∏ Í∞íÏúºÎ°ú ÎåÄÏ≤¥ÌïòÍ∏∞

In [31]:
# ÌäπÏ†ï Ïó¥Ïùò Í≤∞Ï∏°ÏπòÎßå 0ÏúºÎ°ú ÎåÄÏ≤¥ÌïòÍ∏∞
df_na_sample2['UserId'].fillna(0, inplace=True)

In [32]:
df_na_sample2

,MovieId,ImdbId,TmdbId,Title,Year,Genres,UserId,Rating,Timestamp,Gender,Age,Occupation
22818,1073.0,67992.0,252.0,Willy Wonka & the Chocolate Factory,1971.0,Children|Comedy|Fantasy|Musical,605.0,4.0,2010-06-22 03:08:04,F,20.0,college/grad student
22819,1073.0,67992.0,252.0,Willy Wonka & the Chocolate Factory,1971.0,Children|Comedy|Fantasy|Musical,608.0,3.5,2005-05-31 01:27:46,M,20.0,college/grad student
22820,1076.0,55018.0,16372.0,"Innocents, The",1961.0,Drama|Horror|Thriller,0.0,NaN,NaN,NaN,NaN,NaN
22821,1077.0,70707.0,11561.0,Sleeper,1973.0,Comedy|Sci-Fi,4.0,5.0,1999-12-14 12:14:52,M,45.0,executive/managerial
22822,1077.0,70707.0,11561.0,Sleeper,1973.0,Comedy|Sci-Fi,19.0,3.0,2000-08-08 03:00:05,M,3.0,K-12 student

#### 3-2. ÌèâÍ∑†Ìôî Í∏∞Î≤ïÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ Í≤∞Ï∏°Ïπò Ï±ÑÏö∞Í∏∞

- ÌäπÏ†ï Ïó¥Ïùò Í≤∞Ï∏°ÏπòÎßå ÌèâÍ∑†Í∞íÏúºÎ°ú ÎåÄÏ≤¥ÌïòÍ∏∞

In [33]:
df_na_sample2['Age'].fillna(df_na_sample2['Age'].mean(), inplace=True)

In [34]:
df_na_sample2

,MovieId,ImdbId,TmdbId,Title,Year,Genres,UserId,Rating,Timestamp,Gender,Age,Occupation
22818,1073.0,67992.0,252.0,Willy Wonka & the Chocolate Factory,1971.0,Children|Comedy|Fantasy|Musical,605.0,4.0,2010-06-22 03:08:04,F,20.0,college/grad student
22819,1073.0,67992.0,252.0,Willy Wonka & the Chocolate Factory,1971.0,Children|Comedy|Fantasy|Musical,608.0,3.5,2005-05-31 01:27:46,M,20.0,college/grad student
22820,1076.0,55018.0,16372.0,"Innocents, The",1961.0,Drama|Horror|Thriller,0.0,NaN,NaN,NaN,22.0,NaN
22821,1077.0,70707.0,11561.0,Sleeper,1973.0,Comedy|Sci-Fi,4.0,5.0,1999-12-14 12:14:52,M,45.0,executive/managerial
22822,1077.0,70707.0,11561.0,Sleeper,1973.0,Comedy|Sci-Fi,19.0,3.0,2000-08-08 03:00:05,M,3.0,K-12 student

- ÌäπÏ†ï Ïó¥Ïùò Í≤∞Ï∏°ÏπòÎßå ÏµúÎπàÍ∞íÏúºÎ°ú ÎåÄÏ≤¥ÌïòÍ∏∞

In [35]:
df['Gender'].mode()

0    M
Name: Gender, dtype: object

In [36]:
df_na_sample2['Gender'].mode()[0]

'M'

In [37]:
df_na_sample2['Gender'].fillna(df_na_sample2['Gender'].mode()[0], inplace=True)

In [38]:
df_na_sample2

,MovieId,ImdbId,TmdbId,Title,Year,Genres,UserId,Rating,Timestamp,Gender,Age,Occupation
22818,1073.0,67992.0,252.0,Willy Wonka & the Chocolate Factory,1971.0,Children|Comedy|Fantasy|Musical,605.0,4.0,2010-06-22 03:08:04,F,20.0,college/grad student
22819,1073.0,67992.0,252.0,Willy Wonka & the Chocolate Factory,1971.0,Children|Comedy|Fantasy|Musical,608.0,3.5,2005-05-31 01:27:46,M,20.0,college/grad student
22820,1076.0,55018.0,16372.0,"Innocents, The",1961.0,Drama|Horror|Thriller,0.0,NaN,NaN,M,22.0,NaN
22821,1077.0,70707.0,11561.0,Sleeper,1973.0,Comedy|Sci-Fi,4.0,5.0,1999-12-14 12:14:52,M,45.0,executive/managerial
22822,1077.0,70707.0,11561.0,Sleeper,1973.0,Comedy|Sci-Fi,19.0,3.0,2000-08-08 03:00:05,M,3.0,K-12 student

#### 3-3. Í≤∞Ï∏°ÏπòÎ•º Ï£ºÎ≥Ä Í∞íÏúºÎ°ú Ï±ÑÏö∞Í∏∞

- Í≤∞Ï∏°Ïπò 'Ïù¥Ï†Ñ Í∞í'ÏúºÎ°ú Ï±ÑÏö∞Í∏∞

In [39]:
df_na_sample1

,MovieId,ImdbId,TmdbId,Title,Year,Genres,UserId,Rating,Timestamp,Gender,Age,Occupation
23778,1105.0,115885.0,25750.0,Children of the Corn IV: The Gathering,1996.0,Horror,492.0,4.0,1997-05-18 17:29:27,M,27.0,programmer
23779,1105.0,115885.0,25750.0,Children of the Corn IV: The Gathering,1996.0,Horror,544.0,5.0,1996-12-15 22:26:16,M,36.0,programmer
23780,1107.0,102336.0,NaN,Loser,1991.0,Comedy,160.0,3.5,2004-02-25 22:50:09,M,41.0,executive/managerial
23781,1107.0,102336.0,NaN,Loser,1991.0,Comedy,298.0,0.5,2016-11-13 19:31:35,F,19.0,college/grad student
23782,1111.0,117040.0,9305.0,Microcosmos (Microcosmos: Le peuple de l'herbe),1996.0,Documentary,105.0,4.0,2015-11-22 12:39:05,M,45.0,programmer

In [40]:
df_na_sample1.isna().sum()

MovieId       0
ImdbId        0
TmdbId        2
Title         0
Year          0
Genres        0
UserId        0
Rating        0
Timestamp     0
Gender        0
Age           0
Occupation    0
dtype: int64

In [41]:
df_na_sample1.fillna(method='ffill')

,MovieId,ImdbId,TmdbId,Title,Year,Genres,UserId,Rating,Timestamp,Gender,Age,Occupation
23778,1105.0,115885.0,25750.0,Children of the Corn IV: The Gathering,1996.0,Horror,492.0,4.0,1997-05-18 17:29:27,M,27.0,programmer
23779,1105.0,115885.0,25750.0,Children of the Corn IV: The Gathering,1996.0,Horror,544.0,5.0,1996-12-15 22:26:16,M,36.0,programmer
23780,1107.0,102336.0,25750.0,Loser,1991.0,Comedy,160.0,3.5,2004-02-25 22:50:09,M,41.0,executive/managerial
23781,1107.0,102336.0,25750.0,Loser,1991.0,Comedy,298.0,0.5,2016-11-13 19:31:35,F,19.0,college/grad student
23782,1111.0,117040.0,9305.0,Microcosmos (Microcosmos: Le peuple de l'herbe),1996.0,Documentary,105.0,4.0,2015-11-22 12:39:05,M,45.0,programmer

- Í≤∞Ï∏°Ïπò 'Ïù¥ÌõÑ Í∞í'ÏúºÎ°ú Ï±ÑÏö∞Í∏∞

In [42]:
df_na_sample1.fillna(method='bfill')

,MovieId,ImdbId,TmdbId,Title,Year,Genres,UserId,Rating,Timestamp,Gender,Age,Occupation
23778,1105.0,115885.0,25750.0,Children of the Corn IV: The Gathering,1996.0,Horror,492.0,4.0,1997-05-18 17:29:27,M,27.0,programmer
23779,1105.0,115885.0,25750.0,Children of the Corn IV: The Gathering,1996.0,Horror,544.0,5.0,1996-12-15 22:26:16,M,36.0,programmer
23780,1107.0,102336.0,9305.0,Loser,1991.0,Comedy,160.0,3.5,2004-02-25 22:50:09,M,41.0,executive/managerial
23781,1107.0,102336.0,9305.0,Loser,1991.0,Comedy,298.0,0.5,2016-11-13 19:31:35,F,19.0,college/grad student
23782,1111.0,117040.0,9305.0,Microcosmos (Microcosmos: Le peuple de l'herbe),1996.0,Documentary,105.0,4.0,2015-11-22 12:39:05,M,45.0,programmer

---

## Ïã§ÏäµÎ¨∏Ï†ú

#### Q1. Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ 'df' Ïùò Í≤∞Ï∏°Ïπò Í∞úÏàòÎ•º ÌôïÏù∏Ìï¥ Î≥¥ÏÑ∏Ïöî.

In [44]:
# Ïó¨Í∏∞Ïóê ÏûëÏÑ±ÌïòÏÑ∏Ïöî.
df.isna().sum()

MovieId        0
ImdbId         0
TmdbId        13
Title          0
Year           0
Genres         0
UserId        18
Rating        18
Timestamp     18
Gender        18
Age           18
Occupation    18
dtype: int64

#### Q2. Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ 'df'ÏóêÏÑú 'tmdbId' Ïóê Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÎäî Í≤ΩÏö∞ Ìï¥Îãπ ÌñâÏùÑ ÏÇ≠Ï†úÌïòÍ≥† Î≥ÄÍ≤Ω Îêú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ 'df_2' Î≥ÄÏàòÏóê Ï†ÄÏû•ÌïòÏÑ∏Ïöî.
    üìå dropna() Ïãú 'subset' ÏòµÏÖòÏùÑ ÏÇ¨Ïö©ÌïòÏÑ∏Ïöî.

In [47]:
# Ïó¨Í∏∞Ïóê ÏûëÏÑ±ÌïòÏÑ∏Ïöî.
df_2 = df.dropna(subset=['TmdbId'])

#### Q3. Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ 'df_2'ÏóêÏÑú 'rating' , 'Age' Í≤∞Ï∏°ÏπòÎäî Ï§ëÍ∞ÑÍ∞íÏúºÎ°ú Ï±ÑÏö∞Í≥† Î≥ÄÍ≤ΩÎêú ÎÇ¥Ïö©ÏùÑ df_2'Ïóê Ï†ÄÏû•Ìï¥Ï£ºÏÑ∏Ïöî. 
    üìå Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùò Í∞ÅÍ∞ÅÏùò Ïª¨Îüº Î≥ÑÎ°ú Ï§ëÍ∞ÑÍ∞íÏùÑ Íµ¨ÌïòÍ≥† Í∑∏ Í∞íÏúºÎ°ú Ï±ÑÏõÅÎãàÎã§. Ï§ëÍ∞ÑÍ∞íÏùÄ median() Ìï®ÏàòÎ•º ÏÇ¨Ïö©Ìï©ÎãàÎã§.

In [51]:
# Ïó¨Í∏∞Ïóê ÏûëÏÑ±ÌïòÏÑ∏Ïöî.

df_2['Age'].fillna(df_2['Age'].median(), inplace=True)
df_2.isna().sum()

MovieId        0
ImdbId         0
TmdbId         0
Title          0
Year           0
Genres         0
UserId        18
Rating         0
Timestamp     18
Gender        18
Age            0
Occupation    18
dtype: int64

#### Q4. Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ 'df_2'ÏóêÏÑú 'gender','occupation' Ïùò Í≤∞Ï∏°ÏπòÎäî ÏµúÎπàÍ∞íÏúºÎ°ú Ï±ÑÏö∞Í≥† Î≥ÄÍ≤ΩÎêú ÎÇ¥Ïö©ÏùÑ df_2'Ïóê Ï†ÄÏû•Ìï¥Ï£ºÏÑ∏Ïöî. 
    üìå Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùò Í∞ÅÍ∞ÅÏùò Ïª¨Îüº Î≥ÑÎ°ú ÏµúÎπàÍ∞íÏùÑ Íµ¨ÌïòÍ≥† Í∑∏ Í∞íÏúºÎ°ú Ï±ÑÏõÅÎãàÎã§. ÏµúÎπàÍ∞íÏùÄ mode() Ìï®ÏàòÎ•º ÏÇ¨Ïö©Ìï©ÎãàÎã§.

In [55]:
# Ïó¨Í∏∞Ïóê ÏûëÏÑ±ÌïòÏÑ∏Ïöî.
df_2['Gender'].fillna(df_2['Gender'].mode()[0], inplace=True)
df_2['Occupation'].fillna(df_2['Occupation'].mode()[0], inplace=True)

#### Q5. Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ 'df_2'ÏóêÏÑú 'userId' Îäî ÌöåÏõê IDÎ°ú ÏàúÏ∞®Ï†ÅÏù∏ Î≤àÌò∏Î°ú ÎêòÏñ¥ ÏûàÏäµÎãàÎã§. <br> &emsp; 'userId'Ïóê Í≤∞Ï∏°ÏπòÎäî Í∞ÄÏû• ÎßàÏßÄÎßâ ÌöåÏõê Î≤àÌò∏Î•º ÌôïÏù∏ÌïòÍ≥†, Í∑∏ 'Î≤àÌò∏ + 1' Ïùò Í∞íÏúºÎ°ú Í≤∞Ï∏°ÏπòÎ°ú Ï±ÑÏö∞Í≥† Î≥ÄÍ≤ΩÎêú ÎÇ¥Ïö©ÏùÑ df_2'Ïóê Ï†ÄÏû•Ìï¥Ï£ºÏÑ∏Ïöî.
    üìå Ïª¨ÎüºÏóêÏÑú Í∞ÄÏû• ÌÅ∞ Í∞íÏùÑ ÌôïÏù∏ÌïòÎäî Î∞©Î≤ïÏùÄ max() Ìï®ÏàòÎ•º ÏÇ¨Ïö©ÌïòÎ©¥ Îê©ÎãàÎã§. df['Ïª¨ÎüºÎ™Ö'].max()

In [62]:
df_2[df_2.UserId.isna()]

,MovieId,ImdbId,TmdbId,Title,Year,Genres,UserId,Rating,Timestamp,Gender,Age,Occupation
22820,1076.0,55018.0,16372.0,"Innocents, The",1961.0,Drama|Horror|Thriller,NaN,3.5,NaN,M,32.0,college/grad student
49539,2939.0,46126.0,19997.0,Niagara,1953.0,Drama|Thriller,NaN,3.5,NaN,M,32.0,college/grad student
53555,3338.0,97372.0,20423.0,For All Mankind,1989.0,Documentary,NaN,3.5,NaN,M,32.0,college/grad student
54467,3456.0,191043.0,17078.0,"Color of Paradise, The (Rang-e khoda)",1999.0,Drama,NaN,3.5,NaN,M,32.0,college/grad student
60535,4194.0,37800.0,56137.0,I Know Where I'm Going!,1945.0,Drama|Romance|War,NaN,3.5,NaN,M,32.0,college/grad student
68396,5721.0,82175.0,25773.0,"Chosen, The",1981.0,Drama,NaN,3.5,NaN,M,32.0,college/grad student
71896,6668.0,235060.0,12276.0,"Road Home, The (Wo de fu qin mu qin)",1999.0,Drama|Romance,NaN,3.5,NaN,M,32.0,college/grad student
72428,6849.0,66344.0,13765.0,Scrooge,1970.0,Drama|Fantasy|Musical,NaN,3.5,NaN,M,32.0,college/grad student
73354,7020.0,102721.0,14904.0,Proof,1991.0,Comedy|Drama|Romance,NaN,3.5,NaN,M,32.0,college/grad student
75450,7792.0,71970.0,17365.0,"Parallax View, The",1974.0,Thriller,NaN,3.5,NaN,M,32.0,college/grad student
76859,8765.0,35432.0,16703.0,This Gun for Hire,1942.0,Crime|Film-Noir|Thriller,NaN,3.5,NaN,M,32.0,college/grad student
77983,25855.0,31867.0,37698.0,"Roaring Twenties, The",1939.0,Crime|Drama|Thriller,NaN,3.5,NaN,M,32.0,college/grad student
78026,26085.0,56264.0,11085.0,Mutiny on the Bounty,1962.0,Adventure|Drama|Romance,NaN,3.5,NaN,M,32.0,college/grad student
79080,30892.0,390123.0,1853.0,In the Realms of the Unreal,2004.0,Animation|Documentary,NaN,3.5,NaN,M,32.0,college/grad student
79426,32160.0,25919.0,31835.0,Twentieth Century,1934.0,Comedy,NaN,3.5,NaN,M,32.0,college/grad student
79459,32371.0,40202.0,26038.0,Call Northside 777,1948.0,Crime|Drama|Film-Noir,NaN,3.5,NaN,M,32.0,college/grad student
80506,34482.0,43362.0,39946.0,"Browning Version, The",1951.0,Drama,NaN,3.5,NaN,M,32.0,college/grad student
92639,85565.0,1487118.0,58232.0,Chalet Girl,2011.0,Comedy|Romance,NaN,3.5,NaN,M,32.0,college/grad student

In [71]:
# Ïó¨Í∏∞Ïóê ÏûëÏÑ±ÌïòÏÑ∏Ïöî.
df_2['UserId'].fillna(df_2['UserId'].max() + 1, inplace=True)

#### Q6. Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ 'df_2'Ïóê ÏïÑÏßÅÍπåÏßÄ Í≤∞Ï∏°ÏπòÍ∞Ä ÎÇ®ÏùÄ Ïª¨ÎüºÏù¥ ÏûàÎã§Î©¥ Ìï¥Îãπ Ïó¥ÏùÑ ÏÇ≠Ï†úÌïòÍ≥† Î≥ÄÍ≤ΩÎêú ÎÇ¥Ïö©ÏùÑ df_2'Ïóê Ï†ÄÏû•Ìï¥Ï£ºÏÑ∏Ïöî.
    üìå Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÎäî Ïó¥ÏùÑ ÏÇ≠Ï†úÌïòÍ∏∞ ÏúÑÌï¥ÏÑúÎäî axis ÏòµÏÖòÏùÑ Î≥ÄÍ≤ΩÌïòÏãúÎ©¥ Îê©ÎãàÎã§.

In [72]:
df_2.isna().sum()

MovieId        0
ImdbId         0
TmdbId         0
Title          0
Year           0
Genres         0
UserId         0
Rating         0
Timestamp     18
Gender         0
Age            0
Occupation     0
dtype: int64

In [76]:
# Ïó¨Í∏∞Ïóê ÏûëÏÑ±ÌïòÏÑ∏Ïöî.
df_2.dropna(axis=1, inplace=True)

---