# ì‘ì—… 1ìœ í˜•

[![Hits](https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fwww.datamanim.com%2Fdataset%2F03_dataq%2Ftypeone.html&count_bg=%238921C0&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=hits&edge_flat=false)](https://hits.seeyoufarm.com)

### í™ˆí˜ì´ì§€ ì„œë²„ê°€ ìì£¼ í„°ì ¸ìš” ã…  ê´‘ê³  í´ë¦­ í•œë²ˆì´ ìœ ì§€ë³´ìˆ˜ì— í° ë„ì›€ì´ ë©ë‹ˆë‹¤,,,

## ë‹¤ì–‘í•œ ë°ì´í„°

### ìœ íŠœë¸Œ ì¸ê¸°ë™ì˜ìƒ ë°ì´í„°

```{attention} 
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/rsrishav/youtube-trending-video-dataset?select=KR_youtube_trending_data.csv    
ë°ì´í„° ì„¤ëª… : ìœ íŠœë¸Œ ë°ì¼ë¦¬ ì¸ê¸°ë™ì˜ìƒ (í•œêµ­)     
dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv     
```

In [106]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

```{admonition} Question 1 
**ì¸ê¸°ë™ì˜ìƒ ì œì‘íšŸìˆ˜ê°€ ë§ì€ ì±„ë„ ìƒìœ„ 10ê°œëª…ì„ ì¶œë ¥í•˜ë¼ (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)**
```

In [107]:
answer =list(df.loc[df.channelId.isin(df.channelId.value_counts().head(10).index)].channelTitle.unique())
print(answer)

['ì¥ì‚ì­ˆ', 'ì´ëª‡ëª…', 'íŒŒë¿Œë¦¬', 'ì§¤íˆ°', 'ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„', 'ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„', 'SPOTV', 'ì±„ë„ ì‹­ì˜¤ì•¼', 'ì´ê³¼ì¥', 'BANGTANTV']

```{admonition} Question 2
**ë…¼ë€ìœ¼ë¡œ ì¸ê¸°ë™ì˜ìƒì´ ëœ ì¼€ì´ìŠ¤ë¥¼ í™•ì¸í•˜ê³  ì‹¶ë‹¤. dislikesìˆ˜ê°€ like ìˆ˜ë³´ë‹¤ ë†’ì€ ë™ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼**
```

In [108]:
answer =list(df.loc[df.likes < df.dislikes].channelTitle.unique())
print(answer)

['í•«ë„ê·¸TV', 'ASMR ì• ì •TV', 'í•˜ì–€íŠ¸ë¦¬HayanTree', 'ì–‘íŒ¡ YangPang', 'ì² êµ¬í˜• (CHULTUBE)', 'ì™œëƒë§¨í•˜ìš°ìŠ¤', '(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€', 'ì˜¤ë©”í‚´TV', 'ìœ¡ì§€ë‹´', 'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', 'ì‚¬ë‚˜ì´ ê¹€ê¸°í›ˆ', 'ë‚˜í˜¼ìì‚°ë‹¤ STUDIO', 'Gen.G esports']

```{admonition} Question 3
**ì±„ë„ëª…ì„ ë°”ê¾¼ ì¼€ì´ìŠ¤ê°€ ìˆëŠ”ì§€ í™•ì¸í•˜ê³  ì‹¶ë‹¤. channelIdì˜ ê²½ìš° ê³ ìœ ê°’ì´ë¯€ë¡œ ì´ë¥¼ í†µí•´ ì±„ë„ëª…ì„ í•œë²ˆì´ë¼ë„ ë°”ê¾¼ ì±„ë„ì˜ ê°¯ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼**
```

In [109]:
change = df[['channelTitle','channelId']].drop_duplicates().channelId.value_counts()
target = change[change>1]
print(len(target))

71

```{admonition} Question 4
**ì¼ìš”ì¼ì—  ì¸ê¸°ìˆì—ˆë˜ ì˜ìƒë“¤ì¤‘ ê°€ì¥ë§ì€ ì˜ìƒ ì¢…ë¥˜(categoryId)ëŠ” ë¬´ì—‡ì¸ê°€?**
```

In [110]:
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
answer =df.loc[df['trending_date2'].dt.day_name() =='Sunday'].categoryId.value_counts().index[0]
print(answer)

24

```{admonition} Question 5
**ê° ìš”ì¼ë³„ ì¸ê¸° ì˜ìƒë“¤ì˜ categoryIdëŠ” ê°ê° ëª‡ê°œ ì”©ì¸ì§€ í•˜ë‚˜ì˜ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼**
```

In [113]:
group = df.groupby([df['trending_date2'].dt.day_name(),'categoryId'],as_index=False).size()
answer= group.pivot(index='categoryId',columns='trending_date2')
display(answer)

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

```{admonition} Question 6
**ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤. viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë†’ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_countê°’ì´ 0ì¸ ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)**
```

In [115]:
target2= df.loc[df.view_count!=0]
t = target2.copy()
t['ratio'] = (target2['comment_count']/target2['view_count']).dropna()
result = t.sort_values(by='ratio', ascending=False).iloc[0].title
print(result)

60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)

```{admonition} Question 7
**ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤.viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë‚®ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_counts, ratioê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤.)**
```

In [120]:

ratio = (df['comment_count'] / df['view_count']).dropna().sort_values()
ratio[ratio!=0].index[0]

result= df.iloc[ratio[ratio!=0].index[0]].title
print(result)

Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts

```{admonition} Question 8
**like ëŒ€ë¹„ dislikeì˜ ìˆ˜ê°€ ê°€ì¥ ì ì€ ì˜ìƒì€ ë¬´ì—‡ì¸ê°€? (like, dislike ê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)**
```

In [122]:
target = df.loc[(df.likes !=0) & (df.dislikes !=0)]
num = (target['dislikes']/target['likes']).sort_values().index[0]

answer = df.iloc[num].title
print(answer)

[ì¤Œí„°ë·°] *ìµœì´ˆê³µê°œ* ì‚¬ë¶€ì‘ì¦ˆğŸ°ğŸ¶ì˜ ë¹„ê³µì‹ ì´ë¦„ì€ ì•„ì´ë¼ì¸ì¦ˆ? ê¿€ì¡°í•© í‹°í‚¤íƒ€ì¹´ ê°€ë“í•œ NCT 127 ë„ì˜&ì •ìš°ì˜ ì¤Œí„°ë·°

```{admonition} Question 9
**ê°€ì¥ë§ì€ íŠ¸ë Œë“œ ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì˜ ì´ë¦„ì€ ë¬´ì—‡ì¸ê°€? (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)**
```

In [123]:
answer = df.loc[df.channelId ==df.channelId.value_counts().index[0]].channelTitle.unique()[0]
print(answer)

ì§¤íˆ°

```{admonition} Question 10
**20íšŒ(20ì¼)ì´ìƒ ì¸ê¸°ë™ì˜ìƒ ë¦¬ìŠ¤íŠ¸ì— í¬í•¨ëœ ë™ì˜ìƒì˜ ìˆ«ìëŠ”?**
```

In [124]:
answer= (df[['title','channelId']].value_counts()>=20).sum()
print(answer)

40

### ìœ íŠœë¸Œ ê³µë²”ì»¨í…ì¸  ë™ì˜ìƒ ë°ì´í„°

```{attention} 
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/kukuroo3/youtube-episodic-contents-kr(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)     
ë°ì´í„° ì„¤ëª… : ìœ íŠœë¸Œ "ê³µë²”" ì»¨í…ì¸  ë™ì˜ìƒ ì •ë³´ ( 10ë¶„ ê°„ê²© ìˆ˜ì§‘)    
dataurl1 (ë¹„ë””ì˜¤ ì •ë³´) =    https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv    
dataurl2 (ì°¸ê°€ì ì±„ë„ ì •ë³´)=   https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv      
```

In [127]:
import pandas as pd


channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ê½ˆëšœë£¹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ê½ˆëšœë£¹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ê½ˆëšœë£¹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ê½ˆëšœë£¹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ê½ˆëšœë£¹

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1

```{admonition} Question 11
**ê° ë°ì´í„°ì˜ 'ct'ì»¬ëŸ¼ì„ ì‹œê°„ìœ¼ë¡œ ì¸ì‹í• ìˆ˜ ìˆê²Œ datatypeì„ ë³€ê²½í•˜ê³  video ë°ì´í„°ì˜ videonameì˜ ê° value ë§ˆë‹¤ ëª‡ê°œì˜ ë°ì´í„°ì”© ê°€ì§€ê³  ìˆëŠ”ì§€ í™•ì¸í•˜ë¼**
```

In [128]:
video['ct'] = pd.to_datetime(video['ct'])
answer = video.videoname.value_counts()
print(answer)

 ê³µë²” EP1    3492
 ê³µë²” EP2    3204
 ê³µë²” EP3    2568
 ê³µë²” EP4    2280
 ê³µë²” EP5    1562
 ê³µë²” EP6    1274
 ê³µë²” EP7     555
 ê³µë²” EP8     266
Name: videoname, dtype: int64

```{admonition} Question 12
**ìˆ˜ì§‘ëœ ê° videoì˜ ê°€ì¥ ìµœì‹ í™” ëœ ë‚ ì§œì˜ viewcountê°’ì„ ì¶œë ¥í•˜ë¼**
```

In [131]:
answer = video.sort_values(['videoname','ct']).drop_duplicates('videoname',keep='last')[['viewcnt','videoname','ct']].reset_index(drop=True)
display(answer)

   viewcnt videoname                  ct
0  3180532    ê³µë²” EP1 2021-11-01 15:30:03
1  2199328    ê³µë²” EP2 2021-11-01 15:30:03
2  1671294    ê³µë²” EP3 2021-11-01 15:30:03
3  1818493    ê³µë²” EP4 2021-11-01 15:30:03
4  1503435    ê³µë²” EP5 2021-11-01 15:30:04
5  1750222    ê³µë²” EP6 2021-11-01 15:30:04
6  1630200    ê³µë²” EP7 2021-11-01 15:30:05
7  1289088    ê³µë²” EP8 2021-11-01 15:30:05

```{admonition} Question 13
**Channel ë°ì´í„°ì¤‘ 2021-10-03ì¼ ì´í›„ ê° ì±„ë„ì˜ ì²˜ìŒ ê¸°ë¡ ëë˜ êµ¬ë…ì ìˆ˜(subcnt)ë¥¼ ì¶œë ¥í•˜ë¼**
```

In [138]:
channel.ct = pd.to_datetime(channel.ct)
target = channel[channel.ct >= pd.to_datetime('2021-10-03')].sort_values(['ct','channelname']).drop_duplicates('channelname')
answer = target[['channelname','subcnt']].reset_index(drop=True)
print(answer)

        channelname   subcnt
0            ë…¼ë¦¬ì™• ì „ê¸°   922000
1             ì•¼ì „ì‚½ì§±ì¬   257000
2        ì¸„ì •ChuJeong   322000
3        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶     7520
4       ë¦´í„ Lilpearl    10100
5   ì™€ê¸€ì™€ê¸€ WagleWagle    55000
6               ì¡°ë‚˜ë‹¨   215000
7           í˜•ì‚¬!íƒì •ë˜ë‹¤    14900
8     Balming Tiger    54300
9     ê³½í† ë¦¬ kwak tori   471000
10              ê½ˆëšœë£¹  1330000

```{admonition} Question 14
**ê°ì±„ë„ì˜ 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 ê¹Œì§€ êµ¬ë…ììˆ˜ (subcnt) ì˜ ì¦ê°€ëŸ‰ì„ êµ¬í•˜ì—¬ë¼**
```

In [140]:
end = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') =='2021-11-01 15']
start = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') =='2021-10-03 03']

end_df = end[['channelname','subcnt']].reset_index(drop=True)
start_df = start[['channelname','subcnt']].reset_index(drop=True)

end_df.columns = ['channelname','end_sub']
start_df.columns = ['channelname','start_sub']


tt = pd.merge(start_df,end_df)
tt['del'] = tt['end_sub'] - tt['start_sub']
result = tt[['channelname','del']]
display(result)

        channelname    del
0               ê½ˆëšœë£¹  70000
1             ì•¼ì „ì‚½ì§±ì¬  11000
2        ì¸„ì •ChuJeong   1000
3            ë…¼ë¦¬ì™• ì „ê¸° -11000
4   ì™€ê¸€ì™€ê¸€ WagleWagle      0
5               ì¡°ë‚˜ë‹¨  12000
6           í˜•ì‚¬!íƒì •ë˜ë‹¤  10300
7        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶   1540
8       ë¦´í„ Lilpearl  11000
9     ê³½í† ë¦¬ kwak tori  -2000
10    Balming Tiger   2500

```{admonition} Question 15
**ê° ë¹„ë””ì˜¤ëŠ” 10ë¶„ ê°„ê²©ìœ¼ë¡œ êµ¬ë…ììˆ˜, ì¢‹ì•„ìš”, ì‹«ì–´ìš”ìˆ˜, ëŒ“ê¸€ìˆ˜ê°€ ìˆ˜ì§‘ëœê²ƒìœ¼ë¡œ ì•Œë ¤ì¡Œë‹¤. ê³µë²” EP1ì˜ ë¹„ë””ì˜¤ì •ë³´ ë°ì´í„°ì¤‘ ìˆ˜ì§‘ê°„ê²©ì´ 5ë¶„ ì´í•˜, 20ë¶„ì´ìƒì¸ ë°ì´í„° êµ¬ê°„( í•´ë‹¹ ì‹œì  ì „,í›„) ì˜ ì‹œê°ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼**
```

In [141]:
import datetime

ep_one = video.loc[video.videoname.str.contains('1')].sort_values('ct').reset_index(drop=True)

ep_one[
        (ep_one.ct.diff(1) >=datetime.timedelta(minutes=20)) | \
        (ep_one.ct.diff(1) <=datetime.timedelta(minutes=5))
      
      ]

answer = ep_one[ep_one.index.isin([720,721,722,723,1635,1636,1637])]
display(answer)

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,ê³µë²” EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,ê³µë²” EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,ê³µë²” EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,ê³µë²” EP1
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,ê³µë²” EP1

```{admonition} Question 16
**ê° ì—í”¼ì†Œë“œì˜ ì‹œì‘ë‚ ì§œ(ë…„-ì›”-ì¼)ë¥¼ ì—í”¼ì†Œë“œ ì´ë¦„ê³¼ ë¬¶ì–´ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“¤ê³  ì¶œë ¥í•˜ë¼**
```

In [142]:
start_date = video.sort_values(['ct','videoname']).drop_duplicates('videoname')[['ct','videoname']]
start_date['date'] = start_date.ct.dt.date
answer = start_date[['date','videoname']]
display(answer)

             date videoname
10     2021-10-07    ê³µë²” EP1
3496   2021-10-09    ê³µë²” EP2
6696   2021-10-14    ê³µë²” EP3
9264   2021-10-16    ê³µë²” EP4
11544  2021-10-21    ê³µë²” EP5
13661  2021-10-23    ê³µë²” EP6
13106  2021-10-28    ê³µë²” EP7
14935  2021-10-30    ê³µë²” EP8

```{admonition} Question 17
**"ê³µë²”" ì»¨í…ì¸ ì˜ ê²½ìš° 19:00ì‹œì— ê³µê°œ ë˜ëŠ”ê²ƒìœ¼ë¡œ ì•Œë ¤ì ¸ìˆë‹¤. ê³µê°œëœ ë‚ ì˜ 21ì‹œì˜ viewcnt, ct, videoname ìœ¼ë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ viewcntë¥¼ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ì—¬ ì¶œë ¥í•˜ë¼**
```

In [143]:
video['time']= video.ct.dt.hour

answer = video.loc[video['time'] ==21] \
            .sort_values(['videoname','ct'])\
            .drop_duplicates('videoname') \
            .sort_values('viewcnt',ascending=False)[['videoname','viewcnt','ct']]\
            .reset_index(drop=True)

display(answer)

  videoname  viewcnt                  ct
0    ê³µë²” EP8   264029 2021-10-30 21:00:08
1    ê³µë²” EP7   252032 2021-10-28 21:00:04
2    ê³µë²” EP4   217674 2021-10-16 21:00:04
3    ê³µë²” EP6   213899 2021-10-23 21:00:06
4    ê³µë²” EP5   201179 2021-10-21 21:00:04
5    ê³µë²” EP2   148144 2021-10-09 21:00:03
6    ê³µë²” EP3   147183 2021-10-14 21:00:04
7    ê³µë²” EP1   117340 2021-10-07 21:00:03

```{admonition} Question 18
**video ì •ë³´ì˜ ê°€ì¥ ìµœê·¼ ë°ì´í„°ë“¤ì—ì„œ ê° ì—í”¼ì†Œë“œì˜ ì‹«ì–´ìš”/ì¢‹ì•„ìš” ë¹„ìœ¨ì„ ratio ì»¬ëŸ¼ìœ¼ë¡œ ë§Œë“¤ê³  videoname, ratioë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ ratioë¥¼ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ë¼**
```

In [144]:
target = video.sort_values('ct').drop_duplicates('videoname',keep='last')
target['ratio'] =target['dislikecnt'] / target['likecnt']

answer = target.sort_values('ratio')[['videoname','ratio']].reset_index(drop=True)
answer

  videoname     ratio
0    ê³µë²” EP7  0.013636
1    ê³µë²” EP6  0.015881
2    ê³µë²” EP4  0.017971
3    ê³µë²” EP5  0.021128
4    ê³µë²” EP3  0.022360
5    ê³µë²” EP1  0.027118
6    ê³µë²” EP2  0.029844
7    ê³µë²” EP8  0.141357

```{admonition} Question 19
**2021-11-01 00:00:00 ~ 15:00:00ê¹Œì§€ ê° ì—í”¼ì†Œë“œë³„ viewcntì˜ ì¦ê°€ëŸ‰ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“œì‹œì˜¤**
```

In [145]:
start = pd.to_datetime("2021-11-01 00:00:00")
end = pd.to_datetime("2021-11-01 15:00:00")

target = video.loc[(video["ct"] >= start) & (video['ct'] <= end)].reset_index(drop=True)

def check(x):
    result = max(x) - min(x)
    return result

answer = target[['videoname','viewcnt']].groupby("videoname").agg(check)
answer

           viewcnt
videoname
 ê³µë²” EP1      13298
 ê³µë²” EP2      10300
 ê³µë²” EP3       9927
 ê³µë²” EP4       9824
 ê³µë²” EP5      10824
 ê³µë²” EP6      14141
 ê³µë²” EP7      26949
 ê³µë²” EP8      89147

```{admonition} Question 20
**video ë°ì´í„° ì¤‘ì—ì„œ ì¤‘ë³µë˜ëŠ” ë°ì´í„°ê°€ ì¡´ì¬í•œë‹¤. ì¤‘ë³µë˜ëŠ” ê° ë°ì´í„°ì˜ ì‹œê°„ëŒ€ì™€  videoname ì„ êµ¬í•˜ì—¬ë¼**
```

In [147]:
answer  = video[video.index.isin(set(video.index) -  set(video.drop_duplicates().index))]
result = answer[['videoname','ct']]
display(result)

     videoname                  ct
722     ê³µë²” EP1 2021-10-13 09:41:37
3927    ê³µë²” EP2 2021-10-13 09:41:37

### ì›”ë“œì»µ ì¶œì „ì„ ìˆ˜ ê³¨ê¸°ë¡ ë°ì´í„°

```{attention} 
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/darinhawley/fifa-world-cup-goalscorers-19302018(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)     
ë°ì´í„° ì„¤ëª… : 1930 ~2018ë…„ë„ ì›”ë“œì»µ ì¶œì „ì„ ìˆ˜ ê³¨ê¸°ë¡     
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv      
```

In [148]:
import pandas as pd

df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

```{admonition} Question 21
**ì£¼ì–´ì§„ ì „ì²´ ê¸°ê°„ì˜ ê° ë‚˜ë¼ë³„ ê³¨ë“ì ìˆ˜ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ë“ì ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„í˜•íƒœë¡œ ì¶œë ¥í•˜ë¼**
```

In [150]:
result = df.groupby('Country').sum().sort_values('Goals',ascending=False).head(5)
display(result)

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

```{admonition} Question 22
**ì£¼ì–´ì§„ ì „ì²´ê¸°ê°„ë™ì•ˆ ê³¨ë“ì ì„ í•œ ì„ ìˆ˜ê°€ ê°€ì¥ ë§ì€ ë‚˜ë¼ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ì„ ìˆ˜ ìˆ«ìë¥¼ ë°ì´í„° í”„ë ˆì„ í˜•ì‹ìœ¼ë¡œ ì¶œë ¥í•˜ë¼**
```

In [151]:
result = df.groupby('Country').size().sort_values(ascending=False).head(5)
print(result)

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
dtype: int64

```{admonition} Question 23
**Years ì»¬ëŸ¼ì€ ë…„ë„ -ë…„ë„ í˜•ì‹ìœ¼ë¡œ êµ¬ì„±ë˜ì–´ìˆê³ , ê° ë…„ë„ëŠ” 4ìë¦¬ ìˆ«ìì´ë‹¤. ë…„ë„ í‘œê¸°ê°€ 4ìë¦¬ ìˆ«ìë¡œ ì•ˆëœ ì¼€ì´ìŠ¤ê°€ ì¡´ì¬í•œë‹¤. í•´ë‹¹ ê±´ì€ ëª‡ê±´ì¸ì§€ ì¶œë ¥í•˜ë¼**
```

In [152]:
df['yearLst'] = df.Years.str.split('-')

def checkFour(x):
    for value in x:
        if len(str(value)) != 4:
            return False
        
    return True
    
df['check'] = df['yearLst'].apply(checkFour)

result = len(df[df.check ==False])
result

45

```{admonition} Question 24
**Q3ì—ì„œ ë°œìƒí•œ ì˜ˆì™¸ ì¼€ì´ìŠ¤ë¥¼ ì œì™¸í•œ ë°ì´í„°í”„ë ˆì„ì„ 
df2ë¼ê³  ì •ì˜í•˜ê³  ë°ì´í„°ì˜ í–‰ì˜ ìˆ«ìë¥¼ ì¶œë ¥í•˜ë¼ 
(ì•„ë˜ ë¬¸ì œë¶€í„°ëŠ” df2ë¡œ í’€ì´í•˜ê² ìŠµë‹ˆë‹¤) **
```

In [153]:
df2 = df[df.check ==True].reset_index(drop=True)
print(df2.shape[0])

1250

```{admonition} Question 25
**ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ë¥¼ ë‚˜íƒ€ë‚´ëŠ” 'LenCup' ì»¬ëŸ¼ì„ ì¶”ê°€í•˜ê³  4íšŒ ì¶œì „í•œ ì„ ìˆ˜ì˜ ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼**
```

In [154]:
df2['LenCup'] =df2['yearLst'].str.len()
result = df2['LenCup'].value_counts()[4]
print(result)

16

```{admonition} Question 26
**Yugoslavia êµ­ê°€ì˜ ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ê°€ 2íšŒì¸ ì„ ìˆ˜ë“¤ì˜ ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼**
```

In [155]:
result = len(df2[(df2.LenCup==2) & (df2.Country =='Yugoslavia')])
print(result)

7

```{admonition} Question 27
**2002ë…„ë„ì— ì¶œì „í•œ ì „ì²´ ì„ ìˆ˜ëŠ” ëª‡ëª…ì¸ê°€?**
```

In [156]:
result =len(df2[df2.Years.str.contains('2002')])
print(result)

156

```{admonition} Question 28
**ì´ë¦„ì— 'carlos' ë‹¨ì–´ê°€ ë“¤ì–´ê°€ëŠ” ì„ ìˆ˜ì˜ ìˆ«ìëŠ” ëª‡ ëª…ì¸ê°€? (ëŒ€, ì†Œë¬¸ì êµ¬ë¶„ x)**
```

In [157]:
result = len(df2[df2.Player.str.lower().str.contains('carlos')])
print(result)

13

```{admonition} Question 29
**ì›”ë“œì»µ ì¶œì „ íšŸìˆ˜ê°€ 1íšŒë¿ì¸ ì„ ìˆ˜ë“¤ ì¤‘ì—ì„œ ê°€ì¥ ë§ì€ ë“ì ì„ ì˜¬ë ¸ë˜ ì„ ìˆ˜ëŠ” ëˆ„êµ¬ì¸ê°€?**
```

In [158]:
result = df2[df2.LenCup==1].sort_values('Goals',ascending=False).Player.values[0]
print(result)

Just Fontaine

```{admonition} Question 30
**ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ê°€ 1íšŒ ë¿ì¸ ì„ ìˆ˜ë“¤ì´ ê°€ì¥ ë§ì€ êµ­ê°€ëŠ” ì–´ë””ì¸ê°€?**
```

In [159]:
result= df2[df2.LenCup==1].Country.value_counts().index[0]
print(result)

Brazil

### ì„œìš¸ì‹œ ë”°ë¦‰ì´ ì´ìš©ì •ë³´ ë°ì´í„°

```{attention} 
ë°ì´í„° ì¶œì²˜ :https://www.data.go.kr/data/15051872/fileData.do(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)     
ë°ì´í„° ì„¤ëª… : ì„œìš¸íŠ¹ë³„ì‹œ_ê³µê³µìì „ê±° ì‹œê°„ëŒ€ë³„ ì´ìš©ì •ë³´    
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv     
```

In [160]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv')
df.head()

         ëŒ€ì—¬ì¼ì  ëŒ€ì—¬ì‹œê°„  ëŒ€ì—¬ì†Œë²ˆí˜¸ ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ ì„±ë³„ ì—°ë ¹ëŒ€ì½”ë“œ  ì´ìš©ê±´ìˆ˜    ìš´ë™ëŸ‰   íƒ„ì†ŒëŸ‰     ì´ë™ê±°ë¦¬  ì‚¬ìš©ì‹œê°„
0  2021-06-01     0   3541    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1   0.00  0.00     0.00     8
1  2021-06-01     0    765    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1  27.21  0.35  1526.81    19
2  2021-06-01     0   2637    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1  41.40  0.37  1608.56    18
3  2021-06-01     0   2919    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1   0.00  0.00     0.00    75
4  2021-06-01     0    549    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1  13.04  0.17   731.55     6

```{admonition} Question 31
**ëŒ€ì—¬ì¼ìë³„ ë°ì´í„°ì˜ ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ê³ , ê°€ì¥ ë§ì€ ë°ì´í„°ê°€ ìˆëŠ” ë‚ ì§œë¥¼ ì¶œë ¥í•˜ë¼**
```

In [161]:
result = df['ëŒ€ì—¬ì¼ì'].value_counts().sort_index().to_frame()
answer = result[result.ëŒ€ì—¬ì¼ì  == result.ëŒ€ì—¬ì¼ì.max()].index[0]

display(result)
print(answer)

             ëŒ€ì—¬ì¼ì
2021-06-01  48081
2021-06-02  56100
2021-06-03  18985
2021-06-04  56788
2021-06-05  52730
2021-06-06  47787
2021-06-07  52623
2021-06-08  55623
2021-06-09  54507
2021-06-10  36992
2021-06-11  52089
2021-06-12  48569
2021-06-13  43131
2021-06-14  54945

2021-06-04

```{admonition} Question 32
**ê° ì¼ìì˜ ìš”ì¼ì„ í‘œê¸°í•˜ê³  ('Monday' ~'Sunday') 'day_name'ì»¬ëŸ¼ì„ ì¶”ê°€í•˜ê³  ì´ë¥¼ ì´ìš©í•˜ì—¬ ê° ìš”ì¼ë³„ ì´ìš© íšŸìˆ˜ì˜ ì´í•©ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼**
```

In [165]:
df['ëŒ€ì—¬ì¼ì'] = pd.to_datetime(df['ëŒ€ì—¬ì¼ì'])
df['day_name']  = df['ëŒ€ì—¬ì¼ì'].dt.day_name()

result =  df.day_name.value_counts().to_frame()
print(result)

           day_name
Wednesday    110607
Friday       108877
Monday       107568
Tuesday      103704
Saturday     101299
Sunday        90918
Thursday      55977

```{admonition} Question 33
**ê° ìš”ì¼ë³„ ê°€ì¥ ë§ì´ ì´ìš©í•œ ëŒ€ì—¬ì†Œì˜ ì´ìš©íšŸìˆ˜ì™€ ëŒ€ì—¬ì†Œ ë²ˆí˜¸ë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼**
```

In [167]:
result = df.groupby(['day_name','ëŒ€ì—¬ì†Œë²ˆí˜¸']).size().to_frame('size').sort_values(['day_name','size'],ascending=False).reset_index()
answer  = result.drop_duplicates('day_name',keep='first').reset_index(drop=True)
display(answer)

    day_name  ëŒ€ì—¬ì†Œë²ˆí˜¸  size
0  Wednesday    502   282
1    Tuesday    502   267
2   Thursday   2715   137
3     Sunday    502   372
4   Saturday    502   378
5     Monday    502   242
6     Friday    502   277

```{admonition} Question 34
**ë‚˜ì´ëŒ€ë³„ ëŒ€ì—¬êµ¬ë¶„ ì½”ë“œì˜ (ì¼ì¼ê¶Œ/ì „ì²´íšŸìˆ˜) ë¹„ìœ¨ì„ êµ¬í•œ í›„ ê°€ì¥ ë†’ì€ ë¹„ìœ¨ì„ ê°€ì§€ëŠ” ë‚˜ì´ëŒ€ë¥¼ í™•ì¸í•˜ë¼. ì¼ì¼ê¶Œì˜ ê²½ìš° ì¼ì¼ê¶Œ ê³¼ ì¼ì¼ê¶Œ(ë¹„íšŒì›)ì„ ëª¨ë‘ í¬í•¨í•˜ë¼**
```

In [168]:
daily = df[df.ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ.isin(['ì¼ì¼ê¶Œ','ì¼ì¼ê¶Œ(ë¹„íšŒì›)'])].ì—°ë ¹ëŒ€ì½”ë“œ.value_counts().sort_index()
total = df.ì—°ë ¹ëŒ€ì½”ë“œ.value_counts().sort_index()

ratio = (daily /total).sort_values(ascending=False)
print(ratio)
print('max ratio age ',ratio.index[0])

~10ëŒ€    0.312525
20ëŒ€     0.239913
30ëŒ€     0.166702
40ëŒ€     0.110585
50ëŒ€     0.065414
70ëŒ€~    0.048962
60ëŒ€     0.042462
Name: ì—°ë ¹ëŒ€ì½”ë“œ, dtype: float64
max ratio age  ~10ëŒ€

```{admonition} Question 35
**ì—°ë ¹ëŒ€ë³„ í‰ê·  ì´ë™ê±°ë¦¬ë¥¼ êµ¬í•˜ì—¬ë¼**
```

In [169]:
result = df[['ì—°ë ¹ëŒ€ì½”ë“œ','ì´ë™ê±°ë¦¬']].groupby(['ì—°ë ¹ëŒ€ì½”ë“œ']).mean()
print(result)

              ì´ë™ê±°ë¦¬
ì—°ë ¹ëŒ€ì½”ë“œ
20ëŒ€    3211.890552
30ëŒ€    3341.443859
40ëŒ€    3514.857416
50ëŒ€    3593.668100
60ëŒ€    3538.145737
70ëŒ€~   3085.039641
~10ëŒ€   2634.426279

```{admonition} Question 36
**ì—°ë ¹ëŒ€ ì½”ë“œê°€ 20ëŒ€ì¸ ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ê³ ,ì´ë™ê±°ë¦¬ê°’ì´ ì¶”ì¶œí•œ ë°ì´í„°ì˜ ì´ë™ê±°ë¦¬ê°’ì˜ í‰ê·  ì´ìƒì¸ ë°ì´í„°ë¥¼ ì¶”ì¶œí•œë‹¤.ìµœì¢… ì¶”ì¶œëœ ë°ì´í„°ë¥¼ ëŒ€ì—¬ì¼ì, ëŒ€ì—¬ì†Œ ë²ˆí˜¸ ìˆœì„œë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ í›„ 1í–‰ë¶€í„° 200í–‰ê¹Œì§€ì˜ íƒ„ì†ŒëŸ‰ì˜ í‰ê· ì„ ì†Œìˆ«ì  3ì§¸ ìë¦¬ê¹Œì§€ êµ¬í•˜ì—¬ë¼**
```

In [170]:
tw = df[df.ì—°ë ¹ëŒ€ì½”ë“œ =='20ëŒ€'].reset_index(drop=True)
tw_mean = tw[tw.ì´ë™ê±°ë¦¬ >= tw.ì´ë™ê±°ë¦¬.mean()].reset_index(drop=True)
tw_mean['íƒ„ì†ŒëŸ‰'] =tw_mean['íƒ„ì†ŒëŸ‰'].astype('float')
target =tw_mean.sort_values(['ëŒ€ì—¬ì¼ì','ëŒ€ì—¬ì†Œë²ˆí˜¸'], ascending=False).reset_index(drop=True).iloc[:200].íƒ„ì†ŒëŸ‰
result = round(target.sum()/len(target),3)
print(result)

1.613

```{admonition} Question 37
**6ì›” 7ì¼ ~10ëŒ€ì˜ "ì´ìš©ê±´ìˆ˜"ì˜ ì¤‘ì•™ê°’ì€?**
```

In [171]:
df['ëŒ€ì—¬ì¼ì']  =pd.to_datetime(df['ëŒ€ì—¬ì¼ì'])
result = df[(df.ì—°ë ¹ëŒ€ì½”ë“œ =='~10ëŒ€') & (df.ëŒ€ì—¬ì¼ì ==pd.to_datetime('2021-06-07'))].ì´ìš©ê±´ìˆ˜.median()
print(result)

1.0

```{admonition} Question 38
**í‰ì¼ (ì›”~ê¸ˆ) ì¶œê·¼ ì‹œê°„ëŒ€(ì˜¤ì „ 6,7,8ì‹œ)ì˜ ëŒ€ì—¬ì†Œë³„ ì´ìš© íšŸìˆ˜ë¥¼ êµ¬í•´ì„œ ë°ì´í„° í”„ë ˆì„ í˜•íƒœë¡œ í‘œí˜„í•œ í›„ ê° ëŒ€ì—¬ì‹œê°„ë³„ ì´ìš© íšŸìˆ˜ì˜ ìƒìœ„ 3ê°œ ëŒ€ì—¬ì†Œì™€ ì´ìš©íšŸìˆ˜ë¥¼ ì¶œë ¥í•˜ë¼**
```

In [173]:
target = df[(df.day_name.isin(['Tuesday', 'Wednesday', 'Thursday', 'Friday','Monday'])) & (df.ëŒ€ì—¬ì‹œê°„.isin([6,7,8]))]
result = target.groupby(['ëŒ€ì—¬ì‹œê°„','ëŒ€ì—¬ì†Œë²ˆí˜¸']).size().to_frame('ì´ìš© íšŸìˆ˜')

answer = result.sort_values(['ëŒ€ì—¬ì‹œê°„','ì´ìš© íšŸìˆ˜'],ascending=False).groupby('ëŒ€ì—¬ì‹œê°„').head(3)
display(answer)

            ì´ìš© íšŸìˆ˜
ëŒ€ì—¬ì‹œê°„ ëŒ€ì—¬ì†Œë²ˆí˜¸
8    2701     119
     646      115
     1152      92
7    259      104
     230       77
     726       77
6    2744      45
     1125      40
     1028      36

```{admonition} Question 39
**ì´ë™ê±°ë¦¬ì˜ í‰ê·  ì´ìƒì˜ ì´ë™ê±°ë¦¬ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ì—¬ ì¶”ì¶œë°ì´í„°ì˜ ì´ë™ê±°ë¦¬ì˜ í‘œë³¸í‘œì¤€í¸ì°¨ ê°’ì„ êµ¬í•˜ì—¬ë¼**
```

In [174]:
result  = df[df.ì´ë™ê±°ë¦¬ >= df.ì´ë™ê±°ë¦¬.mean()].reset_index(drop=True).ì´ë™ê±°ë¦¬.std()
print(result)

5092.139707505305

```{admonition} Question 40
**ë‚¨ì„±('M' or 'm')ê³¼ ì—¬ì„±('F' or 'f')ì˜ ì´ë™ê±°ë¦¬ê°’ì˜ í‰ê· ê°’ì„ êµ¬í•˜ì—¬ë¼**
```

In [175]:
df['sex'] = df['ì„±ë³„'].map(lambda x: 'ë‚¨' if x in ['M','m'] else 'ì—¬')
answer = df[['sex','ì´ë™ê±°ë¦¬']].groupby('sex').mean()
display(answer)

            ì´ë™ê±°ë¦¬
sex
ë‚¨    3209.110871
ì—¬    3468.575025

### ì „ì„¸ê³„ í–‰ë³µë„ ì§€í‘œ ë°ì´í„°

```{attention} 
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/unsdsn/world-happiness(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)     
ë°ì´í„° ì„¤ëª… : ì „ì„¸ê³„ í–‰ë³µë„ ì§€í‘œ ì¡°ì‚¬     
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv       
```

In [176]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')
df.head()

,í–‰ë³µë­í‚¹,ë‚˜ë¼ëª…,ì ìˆ˜,ìƒëŒ€GDP,ì‚¬íšŒì ì§€ì›,í–‰ë³µê¸°ëŒ€ì¹˜,ì„ íƒì˜ ììœ ë„,ê´€ëŒ€í•¨,ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,ë…„ë„
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

```{admonition} Question 41
**ë°ì´í„°ëŠ” 2018ë…„ë„ì™€ 2019ë…„ë„ì˜ ì „ì„¸ê³„ í–‰ë³µ ì§€ìˆ˜ë¥¼ í‘œí˜„í•œë‹¤. ê°ë…„ë„ì˜ í–‰ë³µë­í‚¹ 10ìœ„ë¥¼ ì°¨ì§€í•œ ë‚˜ë¼ì˜ í–‰ë³µì ìˆ˜ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼**
```

In [177]:
result = df[df.í–‰ë³µë­í‚¹ ==10]['ì ìˆ˜'].mean()
print(result)

7.259

```{admonition} Question 42
**ë°ì´í„°ëŠ” 2018ë…„ë„ì™€ 2019ë…„ë„ì˜ ì „ì„¸ê³„ í–‰ë³µ ì§€ìˆ˜ë¥¼ í‘œí˜„í•œë‹¤. ê°ë…„ë„ì˜ í–‰ë³µë­í‚¹ 50ìœ„ì´ë‚´ì˜ ë‚˜ë¼ë“¤ì˜ ê°ê°ì˜ í–‰ë³µì ìˆ˜ í‰ê· ì„ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ í‘œì‹œí•˜ë¼**
```

In [178]:
result = df[df.í–‰ë³µë­í‚¹<=50][['ë…„ë„','ì ìˆ˜']].groupby('ë…„ë„').mean()
print(result)

           ì ìˆ˜
ë…„ë„
2018  6.64678
2019  6.67002

```{admonition} Question 43
**2018ë…„ë„ ë°ì´í„°ë“¤ë§Œ ì¶”ì¶œí•˜ì—¬ í–‰ë³µì ìˆ˜ì™€ ë¶€íŒ¨ì— ëŒ€í•œ ì¸ì‹ì— ëŒ€í•œ ìƒê´€ê³„ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼**
```

In [179]:
result = df[df.ë…„ë„ ==2018][['ì ìˆ˜','ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹']].corr().iloc[0,1]
print(result)

0.40529152271510027

```{admonition} Question 44
**2018ë…„ë„ì™€ 2019ë…„ë„ì˜ í–‰ë³µë­í‚¹ì´ ë³€í™”í•˜ì§€ ì•Šì€ ë‚˜ë¼ëª…ì˜ ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼**
```

In [180]:
result = len(df[['í–‰ë³µë­í‚¹','ë‚˜ë¼ëª…']]) - len(df[['í–‰ë³µë­í‚¹','ë‚˜ë¼ëª…']].drop_duplicates())
print(result)

15

```{admonition} Question 45
**2019ë…„ë„ ë°ì´í„°ë“¤ë§Œ ì¶”ì¶œí•˜ì—¬ ê°ë³€ìˆ˜ê°„ ìƒê´€ê³„ìˆ˜ë¥¼ êµ¬í•˜ê³  ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•œ í›„ ìƒìœ„ 5ê°œë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼. ì»¬ëŸ¼ëª…ì€ v1,v2,corrìœ¼ë¡œ í‘œì‹œí•˜ë¼**
```

In [182]:
zz = df[df.ë…„ë„ ==2019].corr().unstack().to_frame().reset_index().dropna()

result = zz[zz[0] !=1].sort_values(0,ascending=False).drop_duplicates(0)
answer = result.head(5).reset_index(drop=True)
answer.columns = ['v1','v2','corr']
display(answer)

      v1     v2      corr
0  í–‰ë³µê¸°ëŒ€ì¹˜  ìƒëŒ€GDP  0.835462
1  ìƒëŒ€GDP     ì ìˆ˜  0.793883
2  í–‰ë³µê¸°ëŒ€ì¹˜     ì ìˆ˜  0.779883
3  ì‚¬íšŒì ì§€ì›     ì ìˆ˜  0.777058
4  ì‚¬íšŒì ì§€ì›  ìƒëŒ€GDP  0.754906

```{admonition} Question 46
**ê° ë…„ë„ë³„ í•˜ìœ„ í–‰ë³µì ìˆ˜ì˜ í•˜ìœ„ 5ê°œ êµ­ê°€ì˜ í‰ê·  í–‰ë³µì ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼**
```

In [183]:
result = df.groupby('ë…„ë„').tail(5).groupby('ë…„ë„').mean()[['ì ìˆ˜']]
print(result)

          ì ìˆ˜
ë…„ë„
2018  3.1800
2019  3.1408

```{admonition} Question 47
**2019ë…„ ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ê³  í•´ë‹¹ë°ì´í„°ì˜ ìƒëŒ€ GDP í‰ê·  ì´ìƒì˜ ë‚˜ë¼ë“¤ê³¼ í‰ê·  ì´í•˜ì˜ ë‚˜ë¼ë“¤ì˜ í–‰ë³µì ìˆ˜ í‰ê· ì„ ê°ê° êµ¬í•˜ê³  ê·¸ ì°¨ì´ê°’ì„ ì¶œë ¥í•˜ë¼**
```

In [184]:
over = df[df.ìƒëŒ€GDP >= df.ìƒëŒ€GDP.mean()]['ì ìˆ˜'].mean()
under = df[df.ìƒëŒ€GDP <= df.ìƒëŒ€GDP.mean()]['ì ìˆ˜'].mean()

result= over - under
print(result)

1.4212148925537225

```{admonition} Question 48
**ê°ë…„ë„ì˜ ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹ì„ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í–ˆì„ë•Œ ìƒìœ„ 20ê°œ êµ­ê°€ì˜ ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼**
```

In [185]:
result = df.sort_values(['ë…„ë„','ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹'],ascending=False).groupby('ë…„ë„').head(20).groupby(['ë…„ë„']).mean()[['ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹']]
print(result)

      ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹
ë…„ë„
2018    0.3267
2019    0.3201

```{admonition} Question 49
**2018ë…„ë„ í–‰ë³µë­í‚¹ 50ìœ„ ì´ë‚´ì— í¬í•¨ëë‹¤ê°€ 2019ë…„ 50ìœ„ ë°–ìœ¼ë¡œ ë°€ë ¤ë‚œ êµ­ê°€ì˜ ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼**
```

In [186]:
result = set(df[(df.ë…„ë„==2018) & (df.í–‰ë³µë­í‚¹ <=50)].ë‚˜ë¼ëª…)  -set(df[(df.ë…„ë„==2019) & (df.í–‰ë³µë­í‚¹ <=50)].ë‚˜ë¼ëª…)
answer = len(result)
print(answer)

4

```{admonition} Question 50
**2018ë…„,2019ë…„ ëª¨ë‘ ê¸°ë¡ì´ ìˆëŠ” ë‚˜ë¼ë“¤ ì¤‘ ë…„ë„ë³„ í–‰ë³µì ìˆ˜ê°€ ê°€ì¥ ì¦ê°€í•œ ë‚˜ë¼ì™€ ê·¸ ì¦ê°€ ìˆ˜ì¹˜ëŠ”?**
```

In [187]:
count = df.ë‚˜ë¼ëª….value_counts()
target = count[count>=2].index

df2 =df.copy()
multiple = df2[df2.ë‚˜ë¼ëª….isin(target)].reset_index(drop=True)
multiple.loc[multiple['ë…„ë„']==2018,'ì ìˆ˜'] = multiple[multiple.ë…„ë„ ==2018]['ì ìˆ˜'].values * (-1)
result = multiple.groupby('ë‚˜ë¼ëª…').sum()['ì ìˆ˜'].sort_values().to_frame().iloc[-1]
result

ì ìˆ˜    0.87
Name: Burundi, dtype: float64

### ì§€ì—­êµ¬ ì—ë„ˆì§€ ì†Œë¹„ëŸ‰ ë°ì´í„°

```{attention} 
ë°ì´í„° ì¶œì²˜ :       https://archive.ics.uci.edu/ml/datasets/Power+consumption+of+Tetouan+city (ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)     
ë°ì´í„° ì„¤ëª… :  ê¸°ì˜¨, ìŠµë„,ë°”ëŒí’ì†ì— ë”°ë¥¸ ë„ì‹œì˜ 3ê°œ ì§€ì—­êµ¬ì˜ ì—ë„ˆì§€ ì†Œë¹„ëŸ‰     
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv     
```

In [188]:
import pandas as pd
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv')
df.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

```{admonition} Question 51
**DateTimeì»¬ëŸ¼ì„ í†µí•´ ê° ì›”ë³„ë¡œ ëª‡ê°œì˜ ë°ì´í„°ê°€ ìˆëŠ”ì§€ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ êµ¬í•˜ì—¬ë¼**
```

In [189]:
df['DateTime'] = pd.to_datetime(df['DateTime'])
result = df['DateTime'].dt.month.value_counts().sort_index().to_frame()
print(result)

    DateTime
1       4464
2       4032
3       4464
4       4320
5       4464
6       4320
7       4464
8       4464
9       4320
10      4464
11      4320
12      4320

```{admonition} Question 52
**3ì›”ë‹¬ì˜ ê° ì‹œê°„ëŒ€ë³„ ì˜¨ë„ì˜ í‰ê· ë“¤ ì¤‘ ê°€ì¥ ë‚®ì€ ì‹œê°„ëŒ€ì˜ ì˜¨ë„ë¥¼ ì¶œë ¥í•˜ë¼**
```

In [190]:
target = df[df.DateTime.dt.month ==3]
result = target.groupby(target.DateTime.dt.hour)['Temperature'].mean().sort_values().values[0]
print(result)

11.506612903225806

```{admonition} Question 53
**3ì›”ë‹¬ì˜ ê° ì‹œê°„ëŒ€ë³„ ì˜¨ë„ì˜ í‰ê· ë“¤ ì¤‘ ê°€ì¥ ë†’ì€ ì‹œê°„ëŒ€ì˜ ì˜¨ë„ë¥¼ ì¶œë ¥í•˜ë¼**
```

In [191]:
target = df[df.DateTime.dt.month ==3]
result = target.groupby(target.DateTime.dt.hour)['Temperature'].mean().sort_values().values[-1]
print(result)

18.393602150537635

```{admonition} Question 54
**Zone 1 Power Consumption ì»¬ëŸ¼ì˜ valueê°’ì˜ í¬ê¸°ê°€ Zone 2  Power Consumption ì»¬ëŸ¼ì˜ valueê°’ì˜ í¬ê¸°ë³´ë‹¤ í° ë°ì´í„°ë“¤ì˜ Humidityì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼**
```

In [192]:
result = df[df['Zone 1 Power Consumption'] > df['Zone 2  Power Consumption']].Humidity.mean()
print(result)

68.23624448055094

```{admonition} Question 55
**ê° zoneì˜ ì—ë„ˆì§€ ì†Œë¹„ëŸ‰ì˜ ìƒê´€ê´€ê³„ë¥¼ êµ¬í•´ì„œ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œê¸°í•˜ë¼**
```

In [194]:
result = df.iloc[:,-3:].corr()
display(result)

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Zone 1 Power Consumption,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.750733,0.570932,1.000000

```{admonition} Question 56
**Temperatureì˜ ê°’ì´ 10ë¯¸ë§Œì˜ ê²½ìš° A, 10ì´ìƒ 20ë¯¸ë§Œì˜ ê²½ìš° B,20ì´ìƒ 30ë¯¸ë§Œì˜ ê²½ìš° C, ê·¸ ì™¸ì˜ ê²½ìš° Dë¼ê³  í• ë•Œ ê° ë‹¨ê³„ì˜ ë°ì´í„° ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼**
```

In [195]:
def split_data(x):
    if x<10:
        return "A"
    elif x<20:
        return 'B'
    elif x<30:
        return 'C'
    else:
        return 'D'
    
df['sp'] = df.Temperature.map(split_data)
result = df['sp'].value_counts()
display(result)

B    26993
C    21105
A     2874
D     1444
Name: sp, dtype: int64

```{admonition} Question 57
**6ì›” ë°ì´í„°ì¤‘ 12ì‹œì˜ Temperatureì˜ í‘œì¤€í¸ì°¨ë¥¼ êµ¬í•˜ì—¬ë¼**
```

In [196]:
result =df[(df.DateTime.dt.month ==6) & (df.DateTime.dt.hour ==12)].Temperature.std()
print(result)

2.049941782795103

```{admonition} Question 58
**6ì›” ë°ì´í„°ì¤‘ 12ì‹œì˜ Temperatureì˜ ë¶„ì‚°ì„ êµ¬í•˜ì—¬ë¼**
```

In [197]:
result =df[(df.DateTime.dt.month ==6) & (df.DateTime.dt.hour ==12)].Temperature.var()
print(result)

4.202261312849164

```{admonition} Question 59
**Temperatureì˜ í‰ê· ì´ìƒì˜ Temperatureì˜ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë¥¼ Temperatureë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬ í–ˆì„ë•Œ 4ë²ˆì§¸ í–‰ì˜ Humidity ê°’ì€?**
```

In [198]:
result = df[df.Temperature >= df.Temperature.mean()].sort_values('Temperature').Humidity.values[3]
print(result)

87.9

```{admonition} Question 60
**Temperatureì˜ ì¤‘ê°„ê°’ ì´ìƒì˜ Temperatureì˜ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë¥¼Temperatureë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬ í–ˆì„ë•Œ 4ë²ˆì§¸ í–‰ì˜ Humidity ê°’ì€?

**
```

In [199]:
result = df[df.Temperature >= df.Temperature.median()].sort_values('Temperature').Humidity.values[3]
print(result)

80.3

### í¬ì¼“ëª¬ ì •ë³´ ë°ì´í„°

```{attention} 
ë°ì´í„° ì¶œì²˜ :   https://www.kaggle.com/abcsds/pokemon   (ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)    
ë°ì´í„° ì„¤ëª… :  í¬ì¼“ëª¬ ì •ë³´    
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv 
```

In [200]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

```{admonition} Question 61
**Legendary ì»¬ëŸ¼ì€ ì „ì„¤í¬ì¼“ëª¬ ìœ ë¬´ë¥¼ ë‚˜íƒ€ë‚¸ë‹¤.ì „ì„¤í¬ì¼“ëª¬ê³¼ ê·¸ë ‡ì§€ ì•Šì€ í¬ì¼“ëª¬ë“¤ì˜ HPí‰ê· ì˜ ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼**
```

In [201]:
target = df.groupby('Legendary').mean()['HP']
result = target.values[1] -target.values[0]
print(result)

25.55614861329147

```{admonition} Question 62
**Type 1ì€ ì£¼ì†ì„± Type 2 ëŠ” ë¶€ì†ì„±ì„ ë‚˜íƒ€ë‚¸ë‹¤. ê°€ì¥ ë§ì€ ë¶€ì†ì„± ì¢…ë¥˜ëŠ” ë¬´ì—‡ì¸ê°€?**
```

In [202]:
result = df['Type 2'].value_counts().index[0]
print(result)

Flying

```{admonition} Question 63
**ê°€ì¥ ë§ì€ Type 1 ì˜ ì¢…ì˜ í‰ê·  Attack ì„ í‰ê·  Defenseë¡œ ë‚˜ëˆˆê°’ì€?**
```

In [203]:
Max = df['Type 1'].value_counts().index[0]

result = df[df['Type 1']== Max].Attack.mean() /df[df['Type 1']== Max].Defense.mean()
print(result)

1.0165238678090576

```{admonition} Question 64
**í¬ì¼“ëª¬ ì„¸ëŒ€(Generation) ì¤‘ ê°€ì¥ë§ì€ Legendaryë¥¼ ë³´ìœ í•œ ì„¸ëŒ€ëŠ” ëª‡ì„¸ëŒ€ì¸ê°€?**
```

In [205]:
result =df[df.Legendary==True].Generation.value_counts().index[0]
result

3

```{admonition} Question 65
**'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed' ê°„ì˜ ìƒê´€ ê³„ìˆ˜ì¤‘ ê°€ì¥ ì ˆëŒ“ê°’ì´ í° ë‘ ë³€ìˆ˜ì™€ ê·¸ ê°’ì„ êµ¬í•˜ì—¬ë¼**
```

In [206]:
target = df[[ 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].corr().unstack().reset_index().rename(columns={0: "corr"})
result = target[target['corr']!=1].sort_values('corr',ascending=False).iloc[0]
print(result)

level_0     Sp. Def
level_1     Defense
corr       0.510747
Name: 26, dtype: object

```{admonition} Question 66
**ê° Generationì˜ Attackìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬ì‹œ ìƒìœ„ 3ê°œ ë°ì´í„°ë“¤(18ê°œ)ì˜ Attackì˜ ì „ì²´ í‰ê· ì„ êµ¬í•˜ì—¬ë¼**
```

In [207]:
result =  df.sort_values(['Generation','Attack']).groupby('Generation').head(3).Attack.mean()
print(result)

19.5

```{admonition} Question 67
**ê° Generationì˜ Attackìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ì‹œ ìƒìœ„ 5ê°œ ë°ì´í„°ë“¤(30ê°œ)ì˜ Attackì˜ ì „ì²´ í‰ê· ì„ êµ¬í•˜ì—¬ë¼**
```

In [208]:
result =  df.sort_values(['Generation','Attack'],ascending=False).groupby('Generation').head(5).Attack.mean()
print(result)

157.23333333333332

```{admonition} Question 68
**ê°€ì¥ í”í•˜ê²Œ ë°œê²¬ë˜ëŠ” (Type1 , Type2) ì˜ ìŒì€ ë¬´ì—‡ì¸ê°€?**
```

In [209]:
result = df[['Type 1','Type 2']].value_counts().head(1)
print(result)

Type 1  Type 2
Normal  Flying    24
dtype: int64

```{admonition} Question 69
**í•œë²ˆì”©ë§Œ ì¡´ì¬í•˜ëŠ” (Type1 , Type2)ì˜ ìŒì˜ ê°¯ìˆ˜ëŠ” ëª‡ê°œì¸ê°€?**
```

In [210]:
target = df[['Type 1','Type 2']].value_counts()
result = len(target[target==1])
print(result)

39

```{admonition} Question 70
**í•œë²ˆì”©ë§Œ ì¡´ì¬í•˜ëŠ” (Type1 , Type2)ì˜ ìŒì„ ê° ì„¸ëŒ€(Generation)ì€ ê°ê° ëª‡ê°œì”© ê°€ì§€ê³  ìˆëŠ”ê°€?**
```

In [211]:
target = df[['Type 1','Type 2']].value_counts()
target2 =target[target==1]

lst = []
for value in target2.reset_index().values:
    t1 = value[0]
    t2 = value[1]
    
    sp = df[(df['Type 1']==t1) & (df['Type 2']==t2)]
    lst.append(sp)

result = pd.concat(lst).reset_index(drop=True).Generation.value_counts().sort_index()
print(result)

1     1
2     4
3     5
4    13
5     7
6     9
Name: Generation, dtype: int64

### ëŒ€í•œë¯¼êµ­ ì²´ë ¥ì¥ ë°ì´í„°

```{attention} 
ë°ì´í„° ì¶œì²˜ :   êµ­ë¯¼ì²´ìœ¡ì§„í¥ê³µë‹¨ (ë¬¸í™” ë¹…ë°ì´í„°í”Œë«í¼)   (ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)     
ë°ì´í„° ì„¤ëª… : ëŒ€í•œë¯¼êµ­ êµ­ë¯¼ ì²´ë ¥ì¥ í‰ê°€     
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv     
```

In [212]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv')
df.head()

,ì¸¡ì •ë‚˜ì´,ì¸¡ì •íšŒì›ì„±ë³„,ì‹ ì¥ : cm,ì²´ì¤‘ : kg,ì²´ì§€ë°©ìœ¨ : %,ì´ì™„ê¸°í˜ˆì••(ìµœì €) : mmHg,ìˆ˜ì¶•ê¸°í˜ˆì••(ìµœê³ ) : mmHg,ì•…ë ¥D : kg,ì•‰ì•„ìœ—ëª¸ì•ìœ¼ë¡œêµ½íˆê¸° : cm,êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° : íšŒ,ì œìë¦¬ ë©€ë¦¬ë›°ê¸° : cm,ë“±ê¸‰
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C

```{admonition} Question 71
**ì „ì²´ë°ì´í„°ì˜ ìˆ˜ì¶•ê¸°í˜ˆì••(ìµœê³ ) - ì´ì™„ê¸°í˜ˆì••(ìµœì €)ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼**
```

In [213]:
result  = (df['ìˆ˜ì¶•ê¸°í˜ˆì••(ìµœê³ ) : mmHg'] - df['ì´ì™„ê¸°í˜ˆì••(ìµœì €) : mmHg']).mean()
print(result)

52.19539414750672

```{admonition} Question 72
**50~59ì„¸ì˜ ì‹ ì¥í‰ê· ì„ êµ¬í•˜ì—¬ë¼**
```

In [214]:
result = df[(df.ì¸¡ì •ë‚˜ì´ <60) & (df.ì¸¡ì •ë‚˜ì´>=50)].iloc[:,2].mean()
print(result)

164.07490107405295

```{admonition} Question 73
**ì—°ë ¹ëŒ€ (20~29 : 20ëŒ€ ...) ë³„  ì¸ì›ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼**
```

In [215]:
df['ì—°ë ¹ëŒ€']  =df.ì¸¡ì •ë‚˜ì´ //10 *10
result = df['ì—°ë ¹ëŒ€'].value_counts()
print(result)

20.0    5831
30.0    2660
40.0    1801
50.0    1769
60.0    1335
Name: ì—°ë ¹ëŒ€, dtype: int64

```{admonition} Question 74
**ì—°ë ¹ëŒ€ (20~29 : 20ëŒ€ ...) ë³„ ë“±ê¸‰ì˜ ìˆ«ìë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼**
```

In [216]:
result = df.groupby(['ì—°ë ¹ëŒ€','ë“±ê¸‰'],as_index=False).size()
print(result)

     ì—°ë ¹ëŒ€ ë“±ê¸‰  size
0   20.0  A  1585
1   20.0  B  1443
2   20.0  C  1455
3   20.0  D  1348
4   30.0  A   743
5   30.0  B   697
6   30.0  C   626
7   30.0  D   594
8   40.0  A   386
9   40.0  B   428
10  40.0  C   455
11  40.0  D   532
12  50.0  A   321
13  50.0  B   410
14  50.0  C   474
15  50.0  D   564
16  60.0  A   314
17  60.0  B   371
18  60.0  C   339
19  60.0  D   311

```{admonition} Question 75
**ë‚¨ì„± ì¤‘ Aë“±ê¸‰ê³¼ Dë“±ê¸‰ì˜ ì²´ì§€ë°©ë¥  í‰ê· ì˜ ì°¨ì´(í° ê°’ì—ì„œ ì‘ì€ ê°’ì˜ ì°¨)ë¥¼ êµ¬í•˜ì—¬ë¼**
```

In [217]:
result = abs(df[(df.ì¸¡ì •íšŒì›ì„±ë³„ =='M') &(df.ë“±ê¸‰ =='A')].iloc[:,4].mean() -df[(df.ì¸¡ì •íšŒì›ì„±ë³„ =='M') &(df.ë“±ê¸‰ =='D')].iloc[:,4].mean())
print(result)

7.932086486137457

```{admonition} Question 76
**ì—¬ì„± ì¤‘ Aë“±ê¸‰ê³¼ Dë“±ê¸‰ì˜ ì²´ì¤‘ì˜ í‰ê· ì˜ ì°¨ì´(í° ê°’ì—ì„œ ì‘ì€ ê°’ì˜ ì°¨)ë¥¼ êµ¬í•˜ì—¬ë¼**
```

In [218]:
result = abs(df[(df.ì¸¡ì •íšŒì›ì„±ë³„ =='F') &(df.ë“±ê¸‰ =='A')].iloc[:,3].mean() -df[(df.ì¸¡ì •íšŒì›ì„±ë³„ =='F') &(df.ë“±ê¸‰ =='D')].iloc[:,3].mean())
print(result)

5.176211590296511

```{admonition} Question 77
**bmiëŠ” ìì‹ ì˜ ëª¸ë¬´ê²Œ(kg)ë¥¼ í‚¤ì˜ ì œê³±(m)ìœ¼ë¡œ ë‚˜ëˆˆê°’ì´ë‹¤. ë°ì´í„°ì˜ bmi ë¥¼ êµ¬í•œ ìƒˆë¡œìš´ ì»¬ëŸ¼ì„ ë§Œë“¤ê³  ë‚¨ì„±ì˜ bmi í‰ê· ì„ êµ¬í•˜ì—¬ë¼**
```

In [219]:
df['bmi'] = df['ì²´ì¤‘ : kg'] / (df['ì‹ ì¥ : cm']/100) **2
result = df[df.ì¸¡ì •íšŒì›ì„±ë³„ =='M'].bmi.mean()

print(result)

24.461344098193027

```{admonition} Question 78
**bmië³´ë‹¤ ì²´ì§€ë°©ìœ¨ì´ ë†’ì€ ì‚¬ëŒë“¤ì˜ ì²´ì¤‘í‰ê· ì„ êµ¬í•˜ì—¬ë¼**
```

In [220]:
result =df[df.bmi <df['ì²´ì§€ë°©ìœ¨ : %']]['ì²´ì¤‘ : kg'].mean()
print(result)

61.740880639254314

```{admonition} Question 79
**ë‚¨ì„±ê³¼ ì—¬ì„±ì˜ ì•…ë ¥ í‰ê· ì˜ ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼**
```

In [221]:
target= df.groupby('ì¸¡ì •íšŒì›ì„±ë³„')['ì•…ë ¥D : kg'].mean()

result = target.M - target.F
print(result)

17.55954185047465

```{admonition} Question 80
**ë‚¨ì„±ê³¼ ì—¬ì„±ì˜ êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° íšŸìˆ˜ì˜ í‰ê· ì˜ ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼**
```

In [222]:
target= df.groupby('ì¸¡ì •íšŒì›ì„±ë³„')['êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° : íšŒ'].mean()

result = target.M - target.F
print(result)

14.243156833157627

### ê¸°ì˜¨ ê°•ìˆ˜ëŸ‰ ë°ì´í„°

```{attention} 
ë°ì´í„° ì¶œì²˜ : https://data.kma.go.kr/cmmn/static/staticPage.do?page=intro    
ë°ì´í„° ì„¤ëª… : 2020ë…„ë„ ì´í™”ë™(ì„œìš¸) , ìˆ˜ì˜ë™(ë¶€ì‚°)ì˜ ì‹œê°„ë‹¨ìœ„ì˜ ê¸°ì˜¨ê³¼ ê°•ìˆ˜ëŸ‰    
ë°ì´í„° url : https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv    
```

In [3]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv")
df.head()

                  time  ì´í™”ë™ê°•ìˆ˜  ì´í™”ë™ê¸°ì˜¨  ìˆ˜ì˜ë™ê°•ìˆ˜  ìˆ˜ì˜ë™ê¸°ì˜¨
0  2020-01-01 00:00:00    0.1   -3.9    0.0    2.5
1  2020-01-01 01:00:00    0.0   -3.1    0.0    3.4
2  2020-01-01 02:00:00    0.0   -1.8    0.0    3.8
3  2020-01-01 03:00:00    0.0   -0.8    0.0    4.6
4  2020-01-01 04:00:00    0.0   -0.1    0.0    5.1

```{admonition} Question 81
**ì—¬ë¦„ì² (6ì›”,7ì›”,8ì›”) ì´í™”ë™ì´ ìˆ˜ì˜ë™ë³´ë‹¤ ë†’ì€ ê¸°ì˜¨ì„ ê°€ì§„ ì‹œê°„ëŒ€ëŠ” ëª‡ê°œì¸ê°€?**
```

In [6]:
df.time = pd.to_datetime(df.time)
summer = df.loc[df.time.dt.month.isin([6,7,8])].reset_index(drop=True)
answer = len(summer.loc[summer['ì´í™”ë™ê¸°ì˜¨'] > summer['ìˆ˜ì˜ë™ê¸°ì˜¨']])
print(answer)

1415

```{admonition} Question 82
**ì´í™”ë™ê³¼ ìˆ˜ì˜ë™ì˜ ìµœëŒ€ê°•ìˆ˜ëŸ‰ì˜ ì‹œê°„ëŒ€ë¥¼ ê°ê° êµ¬í•˜ì—¬ë¼**
```

In [7]:
answer1 = df.loc[df['ì´í™”ë™ê°•ìˆ˜']==df['ì´í™”ë™ê°•ìˆ˜'].max()].time.values
answer2 = df.loc[df['ìˆ˜ì˜ë™ê°•ìˆ˜']==df['ìˆ˜ì˜ë™ê°•ìˆ˜'].max()].time.values
print(answer1,answer2)

['2020-09-30T09:00:00.000000000'] ['2020-07-23T12:00:00.000000000']

### ì„œë¹„ìŠ¤ ì´íƒˆì˜ˆì¸¡ ë°ì´í„°

```{attention} 
ë°ì´í„° ì¶œì²˜ : https://www.kaggle.com/shubh0799/churn-modelling ì—ì„œ ë³€í˜•    
ë°ì´í„° ì„¤ëª… :  ê³ ê°ì˜ ì‹ ìƒì •ë³´ ë°ì´í„°ë¥¼ í†µí•œ íšŒì‚¬ ì„œë¹„ìŠ¤ ì´íƒˆ ì˜ˆì¸¡ (ì¢…ì†ë³€ìˆ˜ : Exited)     
Data url : https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/train.csv     
```

In [8]:
import pandas as pd
#ë°ì´í„° ë¡œë“œ
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/train.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,6842,15793491,Cherkasova,714,Germany,Male,26,3,119545.48,2,1,0,65482.94,0
1,8963,15607874,Keane,687,France,Male,38,0,144450.58,1,0,1,137276.83,0
2,7047,15737627,Rivero,589,Germany,Female,20,2,121093.29,2,1,0,3529.72,0
3,7503,15697844,Whitehouse,721,Spain,Female,32,10,0.00,1,1,0,136119.96,1
4,3439,15722404,Carpenter,445,France,Female,30,3,0.00,2,1,1,127939.19,0

```{admonition} Question 83
**ë‚¨ì„± ì´íƒˆ(Exited)ì´ ê°€ì¥ ë§ì€ êµ­ê°€(Geography)ëŠ” ì–´ë””ì´ê³  ì´íƒˆ ì¸ì›ì€ ëª‡ëª…ì¸ê°€?**
```

In [14]:
answer = df.loc[df.Gender=='Male'].groupby(['Geography']).sum().Exited.sort_values(ascending=False).head(1)
print(answer)

Geography
Germany    287
Name: Exited, dtype: int64

```{admonition} Question 84
**ì¹´ë“œë¥¼ ì†Œìœ (HasCrCard ==1)í•˜ê³  ìˆìœ¼ë©´ì„œ í™œì„±ë©¤ë²„(IsActiveMember ==1) ì¸ ê³ ê°ë“¤ì˜ í‰ê·  ë‚˜ì´ë¥¼ ì†Œìˆ«ì ì´í•˜ 4ìë¦¬ê¹Œì§€ êµ¬í•˜ì—¬ë¼? **
```

In [20]:
answer = df.loc[(df.HasCrCard==1) &(df.IsActiveMember==1)].Age.mean()
print(round(answer,4))

39.6102

```{admonition} Question 85
**Balance ê°’ì´ ì¤‘ê°„ê°’ ì´ìƒì„ ê°€ì§€ëŠ” ê³ ê°ë“¤ì˜ CreditScoreì˜ í‘œì¤€í¸ì°¨ë¥¼ ì†Œìˆ«ì ì´í•˜ 3ìë¦¬ê¹Œì§€ êµ¬í•˜ì—¬ë¼**
```

In [22]:
answer =df.loc[df.Balance >= df.Balance.median()].CreditScore.std()
print(round(answer,3))

97.295

### ì„±ì¸ ê±´ê°•ê²€ì§„ ë°ì´í„°

```{attention} 
ë°ì´í„° ì¶œì²˜ :https://www.data.go.kr/data/15007122/fileData.do (ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)    
ë°ì´í„° ì„¤ëª… : 2018ë…„ë„ ì„±ì¸ì˜ ê±´ê°•ê²€ ì§„ë°ì´í„° (í¡ì—°ìƒíƒœ 1- í¡ì—°, 0-ë¹„í¡ì—° )    
ë°ì´í„° url : https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv     
```

In [25]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv")
df.head()

,ì„±ë³„ì½”ë“œ,ì—°ë ¹ëŒ€ì½”ë“œ(5ì„¸ë‹¨ìœ„),ì‹ ì¥(5Cmë‹¨ìœ„),ì²´ì¤‘(5Kgë‹¨ìœ„),í—ˆë¦¬ë‘˜ë ˆ,ì‹œë ¥(ì¢Œ),ì‹œë ¥(ìš°),ì²­ë ¥(ì¢Œ),ì²­ë ¥(ìš°),ìˆ˜ì¶•ê¸°í˜ˆì••,...,í˜ˆìƒ‰ì†Œ,ìš”ë‹¨ë°±,í˜ˆì²­í¬ë ˆì•„í‹°ë‹Œ,(í˜ˆì²­ì§€ì˜¤í‹°)AST,(í˜ˆì²­ì§€ì˜¤í‹°)ALT,ê°ë§ˆì§€í‹°í”¼,í¡ì—°ìƒíƒœ,êµ¬ê°•ê²€ì§„ìˆ˜ê²€ì—¬ë¶€,ì¹˜ì•„ìš°ì‹ì¦ìœ ë¬´,ì¹˜ì„
0,F,55,145,55,73.0,0.7,0.5,1.0,1.0,129.0,...,12.9,1.0,0.9,172.0,209.0,15.0,0,Y,0.0,Y
1,M,40,180,55,74.0,1.5,1.5,1.0,1.0,102.0,...,15.6,1.0,0.8,30.0,19.0,23.0,1,Y,0.0,Y
2,F,55,150,50,72.0,1.0,0.2,1.0,1.0,116.0,...,14.1,1.0,1.0,31.0,19.0,10.0,0,Y,0.0,N
3,M,40,170,85,89.0,1.0,0.8,1.0,1.0,124.0,...,16.7,1.0,1.0,26.0,38.0,108.0,1,Y,1.0,Y
4,F,40,155,45,62.0,0.5,1.0,1.0,1.0,127.0,...,12.9,1.0,0.7,20.0,11.0,13.0,0,Y,0.0,N

```{admonition} Question 86
**ìˆ˜ì¶•ê¸°í˜ˆì••ê³¼ ì´ì™„ê¸° í˜ˆì••ê¸° ìˆ˜ì¹˜ì˜ ì°¨ì´ë¥¼ ìƒˆë¡œìš´ ì»¬ëŸ¼('í˜ˆì••ì°¨') ìœ¼ë¡œ ìƒì„±í•˜ê³ , ì—°ë ¹ëŒ€ ì½”ë“œë³„ ê° ê·¸ë£¹ ì¤‘ 'í˜ˆì••ì°¨' ì˜ ë¶„ì‚°ì´ 5ë²ˆì§¸ë¡œ í° ì—°ë ¹ëŒ€ ì½”ë“œë¥¼ êµ¬í•˜ì—¬ë¼**
```

In [30]:
df['í˜ˆì••ì°¨'] =df['ìˆ˜ì¶•ê¸°í˜ˆì••'] -df['ì´ì™„ê¸°í˜ˆì••']
answer = df.groupby('ì—°ë ¹ëŒ€ì½”ë“œ(5ì„¸ë‹¨ìœ„)')['í˜ˆì••ì°¨'].var().sort_values()
print(answer.index[-5])

60

```{admonition} Question 87
**ë¹„ë§Œë„ë¥¼ ë‚˜íƒ€ë‚´ëŠ” ì§€í‘œì¸ WHtRëŠ” í—ˆë¦¬ë‘˜ë ˆ / í‚¤ë¡œ í‘œí˜„í•œë‹¤. ì¼ë°˜ì ìœ¼ë¡œ 0.58ì´ìƒì´ë©´ ë¹„ë§Œìœ¼ë¡œ ë¶„ë¥˜í•œë‹¤. ë°ì´í„°ì¤‘ WHtR ì§€í‘œìƒ ë¹„ë§Œì¸ ì¸ì›ì˜ ë‚¨/ì—¬ ë¹„ìœ¨ì„ êµ¬í•˜ì—¬ë¼**
```

In [31]:
df['ë¹„ë§Œ']=df['í—ˆë¦¬ë‘˜ë ˆ']/df['ì‹ ì¥(5Cmë‹¨ìœ„)']
data = df.loc[df['ë¹„ë§Œ']>=0.58].ì„±ë³„ì½”ë“œ.value_counts()
answer = data['M']/data['F']
print(answer)

1.1693877551020408

### ìë™ì°¨ ë³´í—˜ê°€ì… ì˜ˆì¸¡ë°ì´í„°

```{attention} 
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/anmolkumar/health-insurance-cross-sell-prediction(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)    
ë°ì´í„° ì„¤ëª… : ìë™ì°¨ ë³´í—˜ ê°€ì… ì˜ˆì¸¡    
Data url : https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/train.csv       
```

In [32]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/train.csv")
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,188957,Female,25,1,17.0,1,< 1 Year,No,38785.0,152.0,59,0
1,275631,Male,20,1,22.0,0,< 1 Year,No,2630.0,160.0,113,0
2,329036,Female,40,1,41.0,0,1-2 Year,Yes,33165.0,124.0,188,0
3,227288,Female,28,1,30.0,1,< 1 Year,No,29038.0,152.0,233,0
4,300441,Female,50,1,28.0,0,1-2 Year,Yes,31325.0,124.0,258,0

```{admonition} Question 88
**Vehicle_Age ê°’ì´ 2ë…„ ì´ìƒì¸ ì‚¬ëŒë“¤ë§Œ í•„í„°ë§ í•˜ê³  ê·¸ì¤‘ì—ì„œ    
Annual_Premium ê°’ì´ ì „ì²´ ë°ì´í„°ì˜ ì¤‘ê°„ê°’ ì´ìƒì¸ ì‚¬ëŒë“¤ì„ ì°¾ê³ , ê·¸ë“¤ì˜ Vintageê°’ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼**
```

In [33]:
answer = df[(df['Vehicle_Age']=='> 2 Years') & (df['Annual_Premium'] >= df['Annual_Premium'].median())]['Vintage'].mean()
print(answer)

154.43647182359118

```{admonition} Question 89
**vehicle_ageì— ë”°ë¥¸ ê° ì„±ë³„(gender)ê·¸ë£¹ì˜ 
Annual_Premiumê°’ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ ì•„ë˜ í…Œì´ë¸”ê³¼ ë™ì¼í•˜ê²Œ êµ¬í˜„í•˜ë¼**
```

In [36]:
meandf = df.groupby(['Gender','Vehicle_Age'],as_index = False)['Annual_Premium'].mean()
meandf.pivot(index='Vehicle_Age',columns='Gender',values='Annual_Premium')

Gender             Female          Male
Vehicle_Age
1-2 Year     30762.245001  30413.088469
< 1 Year     29972.286702  30310.982212
> 2 Years    36108.366374  35303.870627

### í•¸ë“œí° ê°€ê²© ì˜ˆì¸¡ë°ì´í„°

```{attention} 
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/iabhishekofficial/mobile-price-classification?select=train.csv(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)    
ë°ì´í„° ì„¤ëª… : í•¸ë“œí° ê°€ê²©ì˜ˆì¸¡ (price_rangeì»¬ëŸ¼ 0(ì €ë ´) ~3(ë§¤ìš°ë¹„ìŒˆ) ë²”ìœ„ )         
Data url https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/train.csv      
```

In [224]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/train.csv")
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

```{admonition} Question 90
**price_range ì˜ ê° valueë¥¼ ê·¸ë£¹í•‘í•˜ì—¬ ê° ê·¸ë£¹ì˜ n_cores ì˜ ë¹ˆë„ê°€ ê°€ì¥ë†’ì€ valueì™€ ê·¸ ë¹ˆë„ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼**
```

In [225]:
answer =df[['price_range','n_cores']].groupby(['price_range','n_cores']).size().sort_values(0).groupby(level=0).tail(1)
answer

/var/folders/0n/sq2gtx6s5qldt4nt05wqc3380000gn/T/ipykernel_3974/413588440.py:1: FutureWarning: In a future version of pandas all arguments of Series.sort_values will be keyword-only
  answer =df[['price_range','n_cores']].groupby(['price_range','n_cores']).size().sort_values(0).groupby(level=0).tail(1)

price_range  n_cores
0            2          69
3            5          70
2            4          73
1            1          76
dtype: int64

```{admonition} Question 91
**price_range ê°’ì´ 3ì¸ ê·¸ë£¹ì—ì„œ ìƒê´€ê´€ê³„ê°€ 2ë²ˆì§¸ë¡œ ë†’ì€ ë‘ ì»¬ëŸ¼ê³¼ ê·¸ ìƒê´€ê³„ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼**
```

In [47]:
cordf = df.loc[df['price_range']==3].corr().unstack().sort_values(ascending=False)
answer  = cordf.loc[cordf!=1].reset_index().iloc[1]
print(answer)

level_0          pc
level_1          fc
0          0.635166
Name: 1, dtype: object

### ë¹„í–‰íƒ‘ìŠ¹ ê²½í—˜ ë§Œì¡±ë„ ë°ì´í„°

```{attention} 
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/teejmahal20/airline-passenger-satisfaction?select=train.csv (ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)     
ë°ì´í„° ì„¤ëª… : ë¹„í–‰íƒ‘ìŠ¹ ê²½í—˜ ë§Œì¡±ë„ (satisfaction ì»¬ëŸ¼ : 'neutral or dissatisfied' or satisfied )   (83123, 24) shape     
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/train.csv       
```

In [51]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/train.csv")
df.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,55882,Male,Loyal Customer,42,Business travel,Business,473,1,1,3,...,5,5,5,5,3,5,3,3,0.0,satisfied
1,31906,Female,Loyal Customer,31,Business travel,Business,3271,4,4,4,...,3,3,5,5,3,4,3,1,5.0,satisfied
2,85481,Male,Loyal Customer,51,Personal Travel,Eco,214,5,0,5,...,3,4,4,4,4,4,3,2,0.0,satisfied
3,102134,Male,Loyal Customer,44,Business travel,Business,3097,1,1,3,...,4,4,4,4,3,4,5,0,0.0,satisfied
4,31580,Male,Loyal Customer,33,Business travel,Business,3286,1,1,1,...,4,2,5,2,5,1,4,0,0.0,satisfied

```{admonition} Question 92
**Arrival Delay in Minutes ì»¬ëŸ¼ì´ ê²°ì¸¡ì¹˜ì¸ ë°ì´í„°ë“¤ ì¤‘ 'neutral or dissatisfied' ë³´ë‹¤ 'satisfied'ì˜ ìˆ˜ê°€ ë” ë†’ì€ ClassëŠ” ì–´ë”” ì¸ê°€?**
```

In [61]:
answer =df.loc[df['Arrival Delay in Minutes'].isnull()].groupby(['Class','satisfaction'],as_index=False).size().pivot(index='Class',columns='satisfaction')
result =answer[answer['size']['neutral or dissatisfied'] < answer['size']['satisfied']]
result

                                size
satisfaction neutral or dissatisfied satisfied
Class
Business                          36        76

### ìˆ˜ì§ˆ ìŒìš©ì„± ì—¬ë¶€ ë°ì´í„°

```{attention} 
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/adityakadiwal/water-potability    
ë°ì´í„° ì„¤ëª… : ìˆ˜ì§ˆ ìŒìš©ì„± ì—¬ë¶€ (Potablillity ì»¬ëŸ¼ : 0 ,1 )     
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/train.csv     
```

In [71]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/train.csv")
df.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,7.918150,214.186611,23823.492888,7.290878,341.173322,411.424483,19.585002,25.057375,4.028958,0
1,5.422446,205.266080,18542.957451,5.491963,306.702227,382.080129,10.504023,67.493450,2.911751,1
2,7.341547,187.672402,21273.457066,7.784003,NaN,332.084293,16.842334,55.019151,4.025644,0
3,9.056245,197.666301,17403.532167,7.688917,337.460176,414.766631,15.349869,63.696746,3.319354,0
4,5.039374,142.860598,40829.353167,7.271543,NaN,386.803057,16.823773,52.297113,4.957420,0

```{admonition} Question 93
**phê°’ì€ ìƒë‹¹íˆ ë§ì€ ê²°ì¸¡ì¹˜ë¥¼ í¬í•¨í•œë‹¤. ê²°ì¸¡ì¹˜ë¥¼ ì œì™¸í•œ ë‚˜ë¨¸ì§€ ë°ì´í„°ë“¤ ì¤‘ ì‚¬ë¶„ìœ„ê°’ ê¸°ì¤€ í•˜ìœ„ 25%ì˜ ê°’ë“¤ì˜ í‰ê· ê°’ì€?**
```

In [72]:
target = df['ph'].dropna()
answer =target.loc[target <= target.quantile(0.25)].mean()
print(answer)

5.057093462441732

### ì˜ë£Œ ë¹„ìš© ì˜ˆì¸¡ ë°ì´í„°

```{attention} 
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/mirichoi0218/insurance/code(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)    
ë°ì´í„° ì„¤ëª… : ì˜ë£Œë¹„ìš© ì˜ˆì¸¡ë¬¸ì œ     
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/train.csv     
```

In [75]:
import pandas as pd
train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/train.csv")
train.head()

   age     sex     bmi  children smoker     region      charges
0   64  female  39.330         0     no  northeast  14901.51670
1   47  female  27.830         0    yes  southeast  23065.42070
2   52  female  33.300         2     no  southwest  10806.83900
3   33  female  22.135         1     no  northeast   5354.07465
4   30    male  31.400         1     no  southwest   3659.34600

```{admonition} Question 94
**í¡ì—°ìì™€ ë¹„í¡ì—°ì ê°ê° chargesì˜ ìƒìœ„ 10% ê·¸ë£¹ì˜ í‰ê· ì˜ ì°¨ì´ëŠ”?**
```

In [76]:
high = train.loc[train.smoker =='yes'].charges.quantile(0.9)
high2 = train.loc[train.smoker =='no'].charges.quantile(0.9)
mean_yes = train.loc[(train.smoker =='yes') &(train.charges >=high)].charges.mean()
mean_no = train.loc[(train.smoker =='no') &(train.charges >=high2)].charges.mean()
answer = mean_yes - mean_no
print(answer)

29297.954548156158

### í‚¹ì¹´ìš´í‹° ì£¼ê±°ì§€ ê°€ê²©ì˜ˆì¸¡ë¬¸ì œ ë°ì´í„°

```{attention} 
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/harlfoxem/housesalesprediction (ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)    
ë°ì´í„° ì„¤ëª… : í‚¹ì¹´ìš´í‹° ì£¼ê±°ì§€ ê°€ê²© ì˜ˆì¸¡ë¬¸ì œ     
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/train.csv         
```

In [77]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice//train.csv")
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,8961990160,20150413T000000,567500.0,3,2.5,2080,4556,2.0,0,0,...,8,2080,0,1999,0,98074,47.6036,-122.014,1530,5606
1,9455200205,20140604T000000,525000.0,3,2.0,1540,7800,1.0,0,0,...,8,1540,0,2004,0,98125,47.7041,-122.288,1510,7800
2,7853220670,20140918T000000,540000.0,3,2.5,2860,8935,2.0,0,0,...,8,2860,0,2004,0,98065,47.5336,-121.855,2650,6167
3,3298201170,20141110T000000,350000.0,3,1.0,940,7811,1.0,0,0,...,6,940,0,1959,0,98008,47.6195,-122.118,1180,7490
4,7972604355,20140521T000000,218000.0,3,1.0,1020,7874,1.0,0,0,...,7,1020,0,1956,0,98106,47.5175,-122.346,1290,7320

```{admonition} Question 95
**bedrooms ì˜ ë¹ˆë„ê°€ ê°€ì¥ ë†’ì€ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë“¤ì˜ priceì˜ ìƒìœ„ 10%ì™€ í•˜ìœ„ 10%ê°’ì˜ ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼**
```

In [80]:
answer = df.loc[df.bedrooms ==df.bedrooms.value_counts().index[0]].price.quantile(0.9) \
-\
df.loc[df.bedrooms ==df.bedrooms.value_counts().index[0]].price.quantile(0.1)
print(answer)

505500.0

### ëŒ€í•™ì› ì…í•™ê°€ëŠ¥ì„± ë°ì´í„°

```{attention} 
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/mohansacharya/graduate-admissions(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)     
ë°ì´í„° ì„¤ëª… : ëŒ€í•™ì› ì…í•™ ê°€ëŠ¥ì„± ì˜ˆì¸¡     
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/train.csv         
```

In [81]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/train.csv")
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,246,328,110,4,4.0,2.5,9.02,1,0.81
1,100,323,113,3,4.0,4.0,8.88,1,0.79
2,79,296,95,2,3.0,2.0,7.54,1,0.44
3,53,334,116,4,4.0,3.0,8.00,1,0.78
4,444,321,114,5,4.5,4.5,9.16,1,0.87

```{admonition} Question 96
**Serial No. ì»¬ëŸ¼ì„ ì œì™¸í•˜ê³  'Chance of Admit'ì„ ì¢…ì†ë³€ìˆ˜, ë‚˜ë¨¸ì§€ ë³€ìˆ˜ë¥¼ ë…ë¦½ë³€ìˆ˜ë¼ í• ë•Œ, ëœë¤í¬ë ˆìŠ¤íŠ¸ë¥¼ í†µí•´ íšŒê·€ ì˜ˆì¸¡ì„ í•  ë–„ ë³€ìˆ˜ì¤‘ìš”ë„ ê°’ì„ ì¶œë ¥í•˜ë¼ (ì‹œë“œê°’ì— ë”°ë¼ ìˆœì„œëŠ” ë‹¬ë¼ì§ˆìˆ˜ ìˆìŒ)**
```

In [82]:
from sklearn.ensemble import RandomForestRegressor

df_t = df.drop([df.columns[0]],axis=1)
x = df_t.drop([df.columns[-1]],axis=1)
y = df_t[df.columns[-1]]

ml = RandomForestRegressor()

ml.fit(x,y)

result=pd.DataFrame({'importance':ml.feature_importances_},x.columns).sort_values('importance',ascending=False)
display(result)

                   importance
CGPA                 0.820192
GRE Score            0.080724
TOEFL Score          0.032414
SOP                  0.023649
LOR                  0.022733
University Rating    0.013037
Research             0.007252

### ë ˆë“œ ì™€ì¸ í€„ë¦¬í‹° ì˜ˆì¸¡ ë°ì´í„°

```{attention} 
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)     
ë°ì´í„° ì„¤ëª… : ë ˆë“œ ì™€ì¸ í€„ë¦¬í‹° ì˜ˆì¸¡ë¬¸ì œ     
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/train.csv        
```

In [84]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/train.csv")
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,5.0,0.38,0.01,1.6,0.048,26.0,60.0,0.99084,3.70,0.75,14.0,6
1,5.0,0.42,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8
2,7.1,0.36,0.30,1.6,0.080,35.0,70.0,0.99693,3.44,0.50,9.4,5
3,7.6,0.29,0.49,2.7,0.092,25.0,60.0,0.99710,3.31,0.61,10.1,6
4,7.7,0.51,0.28,2.1,0.087,23.0,54.0,0.99800,3.42,0.74,9.2,5

```{admonition} Question 97
**quality ê°’ì´ 3ì¸ ê·¸ë£¹ê³¼  8ì¸ ë°ì´í„°ê·¸ë£¹ì˜ ê° ì»¬ëŸ¼ë³„ ë…ë¦½ë³€ìˆ˜ì˜ í‘œì¤€í¸ì°¨ ê°’ì˜ ì°¨ì´ë¥¼ êµ¬í• ë•Œ 
ê·¸ê°’ì´ ê°€ì¥ í° ì»¬ëŸ¼ëª…ì„ êµ¬í•˜ì—¬ë¼**
```

In [86]:
answer = (df.loc[df.quality ==8].std() -df.loc[df.quality ==3].std()).sort_values().index[-1]
print(answer)

total sulfur dioxide

### ì•½ë¬¼ ë¶„ë¥˜ ë°ì´í„°

```{attention} 
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/prathamtripathi/drug-classification(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)    
ë°ì´í„° ì„¤ëª… : íˆ¬ì•½í•˜ëŠ” ì•½ì„ ë¶„ë¥˜     
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/train.csv         
```

In [87]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/train.csv")
df.head()

   Age Sex      BP Cholesterol  Na_to_K  Drug
0   20   F  NORMAL      NORMAL    9.281     4
1   24   M    HIGH      NORMAL    9.475     1
2   34   M  NORMAL        HIGH   22.456     0
3   17   M  NORMAL      NORMAL   10.832     4
4   72   M     LOW        HIGH   16.310     0

```{admonition} Question 98
**ë‚¨ì„±ë“¤ì˜ ì—°ë ¹ëŒ€ë³„ (10ì‚´ì”© êµ¬ë¶„ 0~9ì„¸ 10~19ì„¸ ...) Na_to_Kê°’ì˜ í‰ê· ê°’ì„ êµ¬í•´ì„œ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ì—¬ë¼**
```

In [89]:
pre = df.loc[df.Sex=='M']
pre2= pre.copy()
pre2['Age2'] = pre.Age//10 *10

answer =pre2.groupby('Age2').mean()['Na_to_K'].to_frame()
display(answer)

        Na_to_K
Age2
10    13.627000
20    18.260769
30    15.244143
40    13.897273
50    14.811273
60    14.284308
70    11.363857

### ì‚¬ê¸°íšŒì‚¬ ë¶„ë¥˜ ë°ì´í„°

```{attention} 
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/sid321axn/audit-data(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)    
ë°ì´í„° ì„¤ëª… : ì‚¬ê¸°íšŒì‚¬ ë¶„ë¥˜    
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/train.csv          
```

In [90]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/train.csv")
df.head()

,Sector_score,LOCATION_ID,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,...,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk,Risk
0,2.72,14,4.53,0.6,2.718,87.93,0.6,52.758,92.46,5.0,...,0.4,0,0.2,0.0,4.0,108.362,0.4,0.5,21.6724,1
1,3.41,16,12.68,0.6,7.608,41.00,0.6,24.600,53.68,5.5,...,0.4,0,0.2,0.0,4.4,41.936,0.4,0.5,8.3872,1
2,2.72,11,3.11,0.6,1.866,113.97,0.6,68.382,117.08,5.5,...,0.4,0,0.2,0.0,4.4,88.832,0.4,0.5,17.7664,1
3,3.41,8,1.12,0.4,0.448,0.00,0.2,0.000,1.12,5.0,...,0.4,0,0.2,0.0,2.2,1.848,0.4,0.5,0.3696,0
4,55.57,9,1.06,0.4,0.424,0.00,0.2,0.000,1.06,5.0,...,0.4,0,0.2,0.0,2.2,1.824,0.4,0.5,0.3648,0

```{admonition} Question 99
**ë°ì´í„°ì˜ Risk ê°’ì— ë”°ë¥¸ score_aì™€ score_bì˜ í‰ê· ê°’ì„ êµ¬í•˜ì—¬ë¼**
```

In [92]:
answer =df.groupby('Risk').mean()[['Score_A','Score_B']]
display(answer)

       Score_A   Score_B
Risk
0     0.262234  0.225532
1     0.490164  0.444262

### ì„¼ì„œë°ì´í„° ë™ì‘ìœ í˜• ë¶„ë¥˜ ë°ì´í„°

```{attention} 
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/kyr7plus/emg-4(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)    
ë°ì´í„° ì„¤ëª… : ì„¼ì„œë°ì´í„°ë¡œ ë™ì‘ ìœ í˜• ë¶„ë¥˜     
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/train.csv       
```

In [93]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/train.csv")
df.head()

,motion_0,motion_1,motion_2,motion_3,motion_4,motion_5,motion_6,motion_7,motion_8,motion_9,...,motion_55,motion_56,motion_57,motion_58,motion_59,motion_60,motion_61,motion_62,motion_63,pose
0,-6.0,8.0,5.0,6.0,-12.0,-27.0,5.0,24.0,-8.0,-5.0,...,-1.0,-3.0,-6.0,-9.0,-7.0,36.0,68.0,3.0,-3.0,1
1,-32.0,-3.0,-4.0,-5.0,-1.0,16.0,0.0,-5.0,42.0,2.0,...,-17.0,-12.0,-1.0,-1.0,0.0,-26.0,-11.0,-4.0,-9.0,1
2,35.0,-2.0,-1.0,1.0,-25.0,-16.0,-3.0,-20.0,10.0,1.0,...,6.0,-65.0,6.0,-10.0,-31.0,-19.0,-3.0,-47.0,-17.0,0
3,-15.0,-6.0,-3.0,-5.0,27.0,37.0,-2.0,-2.0,19.0,5.0,...,2.0,11.0,0.0,-2.0,-4.0,-7.0,15.0,3.0,14.0,1
4,60.0,3.0,0.0,-7.0,-6.0,-10.0,-6.0,7.0,-11.0,-4.0,...,-12.0,17.0,-3.0,1.0,2.0,-2.0,20.0,18.0,10.0,0

```{admonition} Question 100
**poseê°’ì— ë”°ë¥¸ ê° motionì»¬ëŸ¼ì˜ ì¤‘ê°„ê°’ì˜ ê°€ì¥ í° ì°¨ì´ë¥¼ ë³´ì´ëŠ” motionì»¬ëŸ¼ì€ ì–´ë””ì´ë©° ê·¸ê°’ì€?**
```

In [96]:
t= df.groupby('pose').median().T
abs(t[0] - t[1]).sort_values()
display(t.tail(5))

pose         0    1
motion_59  0.0 -1.0
motion_60 -1.0  1.0
motion_61 -1.0  1.0
motion_62 -5.0 -1.0
motion_63 -1.0 -1.0

### í˜„ëŒ€ ì°¨ëŸ‰ ê°€ê²© ë¶„ë¥˜ë¬¸ì œ ë°ì´í„°

```{attention} 
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/mysarahmadbhat/hyundai-used-car-listing(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)     
ë°ì´í„° ì„¤ëª… : í˜„ëŒ€ ì°¨ëŸ‰ê°€ê²© ë¶„ë¥˜ë¬¸ì œ     
Data url :hhttps://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/train.csv        
```

In [97]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/train.csv")
df.head()

,model,year,price,transmission,mileage,fuelType,tax(Â£),mpg,engineSize
0,Tucson,2016,12795,Manual,36263,Diesel,30,61.7,1.7
1,I10,2012,3995,Manual,22089,Petrol,20,61.4,1.2
2,I30,2019,24000,Manual,555,Petrol,145,34.0,2.0
3,Tucson,2017,12995,Manual,32147,Diesel,30,61.7,1.7
4,Tucson,2018,14991,Semi-Auto,32217,Diesel,150,57.6,1.7

```{admonition} Question 101
**ì •ë³´(rowìˆ˜)ê°€ ê°€ì¥ ë§ì€ ìƒìœ„ 3ì°¨ì¢…ì˜ priceê°’ì˜ ê° í‰ê· ê°’ì€?**
```

In [98]:
answer =df.loc[df.model.isin(df.model.value_counts().index[:3])].groupby('model').mean()['price'].to_frame()
display(answer)

                price
model
 I10      7646.137891
 I30     11651.821759
 Tucson  15805.441373

### ë‹¹ë‡¨ì—¬ë¶€íŒë‹¨ ë°ì´í„°

```{attention} 
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/pritsheta/diabetes-dataset(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)     
ë°ì´í„° ì„¤ëª… :  ë‹¹ë‡¨ì—¬ë¶€ íŒë‹¨í•˜ê¸°     
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/diabetes/train.csv      
```

In [99]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/diabetes/train.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3,102,74,0,0,29.5,0.121,32,0
1,2,144,58,33,135,31.6,0.422,25,1
2,5,136,82,0,0,0.0,0.640,69,0
3,13,145,82,19,110,22.2,0.245,57,0
4,1,117,60,23,106,33.8,0.466,27,0

```{admonition} Question 102
**Outcome ê°’ì— ë”°ë¥¸ ê° ê·¸ë£¹ì˜  ê° ì»¬ëŸ¼ì˜ í‰ê·  ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼**
```

In [101]:
answer = df.groupby('Outcome').mean().diff().iloc[1,:]
print(answer)

Pregnancies                  1.574159
Glucose                     29.943995
BloodPressure                3.202079
SkinThickness                2.952033
Insulin                     33.398645
BMI                          4.541437
DiabetesPedigreeFunction     0.143646
Age                          5.866939
Name: 1, dtype: float64

### ë„·í”Œë¦­ìŠ¤ ì£¼ì‹ ë°ì´í„°

```{attention} 
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/pritsheta/netflix-stock-data-from-2002-to-2021(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)     
ë°ì´í„° ì„¤ëª… : ë„·í”Œë¦­ìŠ¤ ì£¼ì‹ë°ì´í„°     
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/nflx/NFLX.csv         
```

In [102]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/nflx/NFLX.csv")
df.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  2002-05-23  1.156429  1.242857  1.145714  1.196429   1.196429  104790000
1  2002-05-24  1.214286  1.225000  1.197143  1.210000   1.210000   11104800
2  2002-05-28  1.213571  1.232143  1.157143  1.157143   1.157143    6609400
3  2002-05-29  1.164286  1.164286  1.085714  1.103571   1.103571    6757800
4  2002-05-30  1.107857  1.107857  1.071429  1.071429   1.071429   10154200

```{admonition} Question 103
**ë§¤ë…„ 5ì›”ë‹¬ì˜ openê°€ê²©ì˜ í‰ê· ê°’ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼**
```

In [103]:
df['Date']  =pd.to_datetime(df['Date'])

target = df.groupby(df['Date'].dt.strftime('%Y-%m')).mean()
answer = target.loc[target.index.str.contains('-05')].Open
print(answer)

Date
2002-05      1.155833
2003-05      1.641497
2004-05      4.261143
2005-05      1.951905
2006-05      4.163571
2007-05      3.159351
2008-05      4.435034
2009-05      5.790571
2010-05     14.417071
2011-05     34.650272
2012-05     10.523247
2013-05     31.936429
2014-05     51.121292
2015-05     85.057429
2016-05     92.705715
2017-05    158.255455
2018-05    329.779541
2019-05    359.664548
2020-05    433.880499
2021-05    496.923996
Name: Open, dtype: float64

## 220510ì¶”ê°€

### nba ì„ ìˆ˜ ëŠ¥ë ¥ì¹˜ ë°ì´í„°

```{attention} 
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/datasets/vivovinco/nba-player-stats(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)     
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/nba/nba.csv         
```

In [12]:
pd.set_option('display.max_columns',50)
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/nba/nba.csv",encoding='latin',sep=';')
df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,0.439,0.8,2.1,0.359,2.9,6.1,0.468,0.486,1.1,1.8,0.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,2,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,0.547,0.0,0.0,0.000,2.8,5.0,0.548,0.547,1.4,2.6,0.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,3,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,0.557,0.0,0.1,0.000,7.3,12.9,0.562,0.557,4.6,6.1,0.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1
3,4,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,0.402,0.2,1.5,0.125,1.5,2.6,0.560,0.424,0.6,1.0,0.625,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1
4,5,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,0.550,0.3,1.0,0.304,5.1,8.8,0.578,0.566,1.9,2.2,0.873,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9

```{admonition} Question 104
**Tm ì»¬ëŸ¼ì€ ê° íŒ€ì˜ ì´ë¦„ì„ ì˜ë¯¸í•œë‹¤. TORíŒ€ì˜ í‰ê· ë‚˜ì´ë¥¼ ì†Œìˆ˜ 4ì§¸ ìë¦¬ê¹Œì§€ êµ¬í•˜ì—¬ë¼**
```

In [18]:
result = round(df[df.Tm =='TOR'].Age.mean(),4)
print(result)

24.8696

```{admonition} Question 105
**Pos ì»¬ëŸ¼ì€ í¬ì§€ì…˜ì„ ì˜ë¯¸í•œë‹¤. ì „ì²´ ì„ ìˆ˜ ì¤‘ ìµœì†Œë‚˜ì´ëŒ€ì˜ ì„ ìˆ˜ë“¤ì„ í•„í„°í•˜ê³  ê·¸ë“¤ ì¤‘ ê°€ì¥ ë§ì€ í¬ì§€ì…˜ì€ ë¬´ì—‡ì¸ì§€ í™•ì¸í•˜ë¼**
```

In [30]:
result = df[df.Age==df.Age.min()].Pos.value_counts().index[0]
print(result)

SG

```{admonition} Question 106
**ì„ ìˆ˜ë“¤ì˜ ì´ë¦„ì€ first_name+ ê³µë°± + last_nameìœ¼ë¡œ ì´ë£¨ì–´ì ¸ ìˆë‹¤. ê°€ì¥ ë§ì€ first_nameì€ ë¬´ì—‡ì´ë©° ëª‡ íšŒ ë°œìƒí•˜ëŠ”ì§€ í™•ì¸í•˜ë¼**
```

In [40]:
result= df['Player'].str.split().str[0].str.lower().value_counts().head(1)
print(result)

justin    14
Name: Player, dtype: int64

```{admonition} Question 107
**PTSì»¬ëŸ¼ì€ ê²½ê¸°ë‹¹ í‰ê· ë“ì ìˆ˜ ì´ë‹¤. ê°í¬ì§€ì…˜ë³„ë¡œ ê²½ê¸°ë‹¹ í‰ê· ë“ì ìˆ˜ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼**
```

In [50]:
result = df.groupby('Pos')['PTS'].mean().sort_values()
print(result)

Pos
SF        7.270253
SG-SF     7.360000
C         7.690769
PF        7.737500
SG        7.810553
PG        8.325161
PF-SF     8.500000
SF-SG     8.660000
SG-PG     9.525000
C-PF     12.850000
PG-SG    22.000000
Name: PTS, dtype: float64

```{admonition} Question 108
**PTSì»¬ëŸ¼ì€ ê²½ê¸°ë‹¹ í‰ê· ë“ì ìˆ˜ ì´ë‹¤. ê°í¬ì§€ì…˜ë³„ë¡œ ê²½ê¸°ë‹¹ í‰ê· ë“ì ìˆ˜ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼**
```

```{admonition} Question 109
**Gì»¬ëŸ¼ì€ ì°¸ì—¬í•œ ê²½ê¸°ì˜ ìˆ«ìì´ë‹¤. ê° íŒ€ë³„ë¡œ ê°€ì¥ ë†’ì€ ê²½ê¸°ì°¸ì—¬ ìˆ˜ë¥¼ ê°€ì§„ ì„ ìˆ˜ë“¤ì˜ ê²½ê¸° ì°¸ì—¬ ìˆ«ìì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼**
```

In [62]:
result = df.sort_values(['Tm','G']).groupby('Tm').tail(1).G.mean()
print(result)

77.51612903225806

```{admonition} Question 110
**Tmì˜ ê°’ì´ MIAì´ë©° PosëŠ” Cë˜ëŠ” PFì¸ ì„ ìˆ˜ì˜ MPê°’ì˜ í‰ê· ì€?**
```

In [65]:
result = df[(df.Tm =='MIA') & (df.Pos.isin(['C','PF']))].MP.mean()
print(result)

16.7875

```{admonition} Question 111
**ì „ì²´ ë°ì´í„°ì¤‘ Gì˜ í‰ê· ê°’ì˜ 1.5ë°° ì´ìƒì¸ ë°ì´í„°ë“¤ë§Œ ì¶”ì¶œí–ˆì„ë•Œ 3Pê°’ì˜ í‰ê· ì€?**
```

In [68]:
result =  df[df.G >= df.G.mean()*1.5]['3P'].mean()
print(result)

1.3853658536585365

```{admonition} Question 112
**Ageì˜ í‰ê·  ì´ìƒì¸ ê·¸ë£¹ê³¼ í‰ê·  ë¯¸ë§Œì¸ ê·¸ë£¹ê°„ì˜ Gê°’ì˜ í‰ê· ì˜ ì°¨ì´ëŠ”?**
```

In [73]:
result = df[df.Age >= df.Age.mean()].G.mean() - df[df.Age < df.Age.mean()].G.mean()
print(result)

3.787674551781862

```{admonition} Question 113
**í‰ê· ë‚˜ì´ê°€ ê°€ì¥ ì Šì€ íŒ€ì€ ì–´ë””ì¸ê°€**
```

In [82]:
result = df.groupby('Tm')['Age'].mean().sort_values().index[0]
print(result)

MEM

```{admonition} Question 114
**Posê·¸ë£¹ë³„ í‰ê·  MPê°’ì„ êµ¬í•˜ì—¬ë¼**
```

In [86]:
result = df.groupby('Pos')['MP'].mean()
print(result)

Pos
C        16.990000
C-PF     25.350000
PF       17.937500
PF-SF    27.300000
PG       19.547742
PG-SG    37.200000
SF       17.514557
SF-SG    20.340000
SG       18.554271
SG-PG    22.950000
SG-SF    19.620000
Name: MP, dtype: float64