# 3회 기출 변형

- 작업 3유형 통계 반영
- 광고 두번씩 눌러주세요

[![Hits](https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https://www.datamanim.com/dataset/practice/ex3.html&count_bg=%238921C0&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=hits&edge_flat=false)](https://hits.seeyoufarm.com)

# 작업 1유형

```{attention} 
**DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_1.csv**
캘리포니아 집값 일부 변형 : https://www.kaggle.com/datasets/harrywang/housing?select=housing.csv%29
```

In [2]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_1.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

```{admonition} 1-1
**결측치가 하나라도 존재하는 행의 경우 경우 해당 행을 삭제하라. 그후 남은 데이터의 상위 70%에 해당하는 데이터만 남겨둔 후 median_income 컬럼의 1분위수를 반올림하여 소숫점이하 2째자리까지 구하여라**
```

In [4]:
df.shape, df.isna().sum()

((20640, 10),
 longitude               0
 latitude                0
 housing_median_age    323
 total_rooms             0
 total_bedrooms        207
 population            950
 households              0
 median_income         234
 median_house_value     44
 ocean_proximity         0
 dtype: int64)

In [14]:
temp = df.dropna(how='any')
print(round(temp[:int(len(temp) * 0.7)]['median_income'].quantile(0.25), 2))

2.51

2.49

```{attention} 
**DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_2.csv**
년도별 국가의 GDP : https://www.kaggle.com/datasets/tunguz/country-regional-and-world-gdp
```

In [15]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_2.csv')
df.head()

  Country Name Country Code  Year      Value
0   Arab World          ARB  1968  2576068.3
1   Arab World          ARB  1969  2843420.4
2   Arab World          ARB  1970  3138550.0
3   Arab World          ARB  1971  3642691.0
4   Arab World          ARB  1972  4331605.7

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11507 entries, 0 to 11506
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  11507 non-null  object
 1   Country Code  11507 non-null  object
 2   Year          11507 non-null  int64
 3   Value         11507 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 359.7+ KB

```{admonition} 1-2
**1990년도는 해당년도 평균 이하 GDP를 가지지만, 2010년도에는 해당년도 평균 이상 GDP를 가지는 국가의 숫자를 구하여라**
```

In [56]:
df[df['Year'] == 2010]['Value'].mean()

213833334.202

In [17]:
m_1990 = df.loc[df['Year'] == 1990, 'Value'].mean()
m_2010 = df.loc[df['Year'] == 2010, 'Value'].mean()
print(m_1990, m_2010)

75508617.92792793 213833334.202

In [68]:
g1 = set(df.loc[(df['Year'] == 1990) & (df['Value'] <= m_1990), 'Country Code'].values)
g2 = set(df.loc[(df['Year'] == 2010) & (df['Value'] >= m_2010), 'Country Code'].values)
len(g1.intersection(g2))

5

5

```{attention} 
**DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_3.csv**
타이타닉 탑승자 생존 데이터 : https://www.kaggle.com/competitions/titanic
```

In [69]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_3.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0.0,A/5 21171,7.2500,NaN,S
1,2,1,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0.0,PC 17599,71.2833,C85,C
2,3,1,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0.0,STON/O2. 3101282,7.9250,C85,S
3,4,1,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.1000,C123,S
4,5,0,3.0,"Allen, Mr. William Henry",male,35.0,0.0,0.0,373450,8.0500,C123,S

```{admonition} 1-3
**데이터에서 결측치가 가장 많은 컬럼을 출력하라**
```

In [72]:
print(df.isna().sum().sort_values(ascending=False).index[0])

Fare

Fare

# 작업 2유형

```{attention} 
여행자 보험 가입여부 분류 : https://www.kaggle.com/datasets/tejashvi14/travel-insurance-prediction-data   
**DataUrl(train) = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_train_.csv**     
**DataUrl(test) = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_test_.csv**      
종속 변수 : TravelInsurance , TravelInsurance가 1일 확률을 구해서 제출하라. 평가지표 : auc     
제출 파일의 컬럼은 ID, proba 두개만 존재해야한다.

```

In [75]:
import pandas as pd

x_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_train_.csv')
x_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_test_.csv')

Y = x_train[['ID', 'TravelInsurance']]
X = x_train.drop(columns = ['TravelInsurance'])
X_submission = x_test.copy()

display(X.head())
display(Y.head())

,ID,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad
0,1008,26,Private Sector/Self Employed,Yes,1400000,5,0,No,Yes
1,199,30,Private Sector/Self Employed,No,1450000,5,0,Yes,Yes
2,86,32,Government Sector,Yes,900000,4,0,No,No
3,560,26,Private Sector/Self Employed,Yes,1400000,7,0,No,Yes
4,161,34,Private Sector/Self Employed,No,1400000,3,1,No,Yes

     ID  TravelInsurance
0  1008                1
1   199                1
2    86                0
3   560                1
4   161                1

In [76]:
import pandas as pd

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, accuracy_score, precision_score, recall_score, roc_auc_score

In [77]:
pd.options.display.max_rows = 2000
pd.options.display.max_columns = 25
pd.options.display.float_format = '{:,.4f}'.format

In [83]:
def get_model_score(model, xtrain, xtest, ytrain, ytest):
    A1 = model.score(xtrain, ytrain)
    A2 = model.score(xtest, ytest)
    
    ypred = model.predict(xtest)
    B = f1_score(ytest, ypred)
    C = precision_score(ytest, ypred)
    D = recall_score(ytest, ypred)
    
    ypred1 = model.predict_proba(xtest)[:,1]
    E = roc_auc_score(ytest, ypred1)
    
    return pd.Series([A1, A2, B, C, D, E], index='Train_Accuracy Test_Accuracy F1 Precision Recall ROC'.split())

In [81]:
def compare_model(xtrain, xtest, ytrain, ytest):
    result = pd.DataFrame()
    
    model = LogisticRegression().fit(xtrain, ytrain)
    result[f'{model.__class__.__name__}'] = get_model_score(model, xtrain, xtest, ytrain, ytest)
    
    model = KNeighborsClassifier().fit(xtrain, ytrain)
    result[f'{model.__class__.__name__}'] = get_model_score(model, xtrain, xtest, ytrain, ytest)
    
    model = DecisionTreeClassifier(random_state=1111).fit(xtrain, ytrain)
    result[f'{model.__class__.__name__}'] = get_model_score(model, xtrain, xtest, ytrain, ytest)
    
    model = RandomForestClassifier(random_state=1111).fit(xtrain, ytrain)
    result[f'{model.__class__.__name__}'] = get_model_score(model, xtrain, xtest, ytrain, ytest)
    
    model = XGBClassifier().fit(xtrain, ytrain)
    result[f'{model.__class__.__name__}'] = get_model_score(model, xtrain, xtest, ytrain, ytest)
    
    result = result.T
    result.insert(2, 'DIFF', (result['Train_Accuracy']-result['Test_Accuracy']).abs())
    return result

In [82]:
def get_model_data(dfX, Y, train_size, x_features, y_feature, is_normalized=False):
    X_temp = dfX[x_features]
    YF = Y[y_feature]
    
    if is_normalized:
        X_temp = MinMaxScaler().fit_transform(X_temp)
        
    XF = X_temp[:train_size]
    X_submissionF = X_temp[train_size:]
    
    return XF, X_submissionF, YF

In [84]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1490 entries, 0 to 1489
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   1490 non-null   int64
 1   Age                  1490 non-null   int64
 2   Employment Type      1490 non-null   object
 3   GraduateOrNot        1490 non-null   object
 4   AnnualIncome         1490 non-null   int64
 5   FamilyMembers        1490 non-null   int64
 6   ChronicDiseases      1490 non-null   int64
 7   FrequentFlyer        1490 non-null   object
 8   EverTravelledAbroad  1490 non-null   object
dtypes: int64(5), object(4)
memory usage: 104.9+ KB

In [85]:
Y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1490 entries, 0 to 1489
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               1490 non-null   int64
 1   TravelInsurance  1490 non-null   int64
dtypes: int64(2)
memory usage: 23.4 KB

In [86]:
X_submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   497 non-null    int64
 1   Age                  497 non-null    int64
 2   Employment Type      497 non-null    object
 3   GraduateOrNot        497 non-null    object
 4   AnnualIncome         497 non-null    int64
 5   FamilyMembers        497 non-null    int64
 6   ChronicDiseases      497 non-null    int64
 7   FrequentFlyer        497 non-null    object
 8   EverTravelledAbroad  497 non-null    object
dtypes: int64(5), object(4)
memory usage: 35.1+ KB

In [87]:
dfX = pd.concat([X, X_submission], axis=0, ignore_index=True)

In [92]:
for feature in dfX.select_dtypes(include='object').columns:
    print(f"{feature} - {dfX[feature].unique()}")

In [89]:
for feature in ['GraduateOrNot', 'FrequentFlyer', 'EverTravelledAbroad']:
    dfX[feature] = dfX[feature].replace(['No', 'Yes'], [0, 1]).astype('int')

In [91]:
dfX['Employment Type'] = LabelEncoder().fit_transform(dfX['Employment Type'])

In [93]:
dfXY = pd.merge(dfX, Y, on='ID')

In [96]:
dfXY.corr()['TravelInsurance'].sort_values(ascending=False)

TravelInsurance        1.0000
EverTravelledAbroad    0.4221
AnnualIncome           0.3954
FrequentFlyer          0.2581
Employment Type        0.1544
FamilyMembers          0.0898
Age                    0.0738
GraduateOrNot          0.0243
ID                     0.0014
ChronicDiseases       -0.0200
Name: TravelInsurance, dtype: float64

In [98]:
x_features = ['Age', 'Employment Type', 'GraduateOrNot', 'AnnualIncome', 'FamilyMembers', 'ChronicDiseases', 'FrequentFlyer', 'EverTravelledAbroad']
y_feature = 'TravelInsurance'

In [113]:
XF, X_submissionF, YF = get_model_data(dfX, Y, len(X), x_features, y_feature, False)

In [114]:
xtrain, xtest, ytrain, ytest = train_test_split(XF, YF, test_size=0.3, random_state=1111, stratify=YF)

In [118]:
import warnings
warnings.filterwarnings('ignore')

result = compare_model(xtrain, xtest, ytrain, ytest)

In [119]:
result.sort_values('ROC', ascending=False)

,Train_Accuracy,Test_Accuracy,DIFF,F1,Precision,Recall,ROC
KNeighborsClassifier,0.8428,0.7763,0.0665,0.6429,0.7438,0.5660,0.7722
XGBClassifier,0.9128,0.7785,0.1342,0.6551,0.7344,0.5912,0.7662
RandomForestClassifier,0.9338,0.7584,0.1755,0.6224,0.7008,0.5597,0.7521
DecisionTreeClassifier,0.9338,0.7181,0.2157,0.5935,0.6093,0.5786,0.6931
LogisticRegression,0.6433,0.6443,0.0010,0.0000,0.0000,0.0000,0.2797

In [120]:
model = KNeighborsClassifier().fit(xtrain, ytrain)
print(get_model_score(model, xtrain, xtest, ytrain, ytest))

Train_Accuracy   0.8428
Test_Accuracy    0.7763
F1               0.6429
Precision        0.7438
Recall           0.5660
ROC              0.7722
dtype: float64

In [121]:
Y_pred = model.predict_proba(X_submissionF)[:, 1]

In [122]:
pd.DataFrame({'ID': X_submission['ID'], y_feature: Y_pred}).to_csv('./submission.csv', index=False)

In [123]:
Y_predict = pd.read_csv('./submission.csv')

In [124]:
Y_predict.head()

   ID  TravelInsurance
0   6           0.6000
1   9           0.0000
2  20           0.2000
3  21           0.0000
4  23           0.4000

```
test_auc 0.8268327067669172
ID	proba
0	6	0.014286
1	9	0.410000
2	20	0.067333
3	21	0.208167
4	23	0.050000
```

# 작업 3유형

```{attention} 
다이어트약의 전후 체중 변화 기록이다. 
**DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_1.csv**
**투약 후 체중에서 투약 전 체중을 뺏을 때 값은 일반 적으로 세가지 등급으로 나눈다. -3이하 : A등급,  -3초과 0이하 : B등급, 0 초과 : C등급.**
**약 실험에서 A,B,C 그룹간의 인원 수 비율은 2:1:1로 알려져 있다. 위 데이터 표본은 각 범주의 비율에 적합한지 카이제곱 검정하려한다.**
```

In [125]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_1.csv')
df.head()

       ID     투약전     투약후
0  user_1 55.1370 56.1060
1  user_2 66.5840 60.4090
2  user_3 52.2590 50.6390
3  user_4 77.0810 69.1640
4  user_5 62.6770 57.6220

```{admonition} 3-1-a
**A등급에 해당하는 유저는 몇명인지 확인하라**
```

In [147]:
df['DIFF'] = df['투약후'] - df['투약전']
df['DIFF'].min(), df['DIFF'].max()

(-8.991, 2.980000000000004)

In [150]:
df['LVL'] = pd.cut(df['DIFF'], bins=[df['DIFF'].min()-1, -3, 0, df['DIFF'].max()], labels=['A', 'B', 'C'], right=True)

In [151]:
sum(df['LVL'] == 'A')

121

121

```{admonition} 3-1-a
**카이제곱검정 통계량을 반올림하여 소숫점 이하 3째자리까지 구하여라**
```

In [156]:
import numpy as np
from scipy.stats import chisquare

In [179]:
observed = df.pivot_table(columns='LVL', values='ID', aggfunc='count').iloc[0,:].to_list()
expected = sum(observed) * np.array([2/4, 1/4, 1/4])
s, pvalue = chisquare(f_obs=observed, f_exp=expected)

print(f'{s:.3f}')

3.613

3.613

```{admonition} 3-1-a
**카이제곱 검정 p값을 반올림하여 소숫점 이하 3자리까지 구하고, 유의수준 0.05하에서 귀무가설과 대립가설중 유의한 가설을 하나를 선택하시오(귀무/대립)**
```

In [181]:
print(f'{pvalue:.3f}')
print(f'{"대립" if pvalue < 0.05 else "귀무"}')

0.164
귀무

```
0.164
귀무
```

```{attention} 
다이어트약의 전후 체중 변화 기록이다. 
**DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_2.csv**
**A,B 공장에서 생산한 기계들의 rpm 값들을 기록한 데이터이다.**
**대응 표본 t 검정을 통해 B공장 제품들이 A 공장 제품들보다 rpm이 높다고 말할 수 있는지 검정하려한다**
```

In [183]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_2.csv')
df.head()

       rpm group
0 163.6000     A
1 246.9000     A
2 234.9000     A
3 156.9000     A
4 226.6000     A

In [206]:
from scipy.stats import ttest_rel, shapiro, bartlett, levene

In [185]:
print('H0: mean(A) >= mean(B)')
print('H1: mean(A) < mean(B)')

H0: mean(A) >= mean(B)
H1: mean(A) < mean(B)

```{admonition} 3-2-a
**A,B 공장 각각 정규성을 가지는지 샤피로 검정을 통해 확인하라. (각 공장의 pvalue 출력할 것)**
```

In [205]:
groups = df.groupby('group')['rpm']

for name, x in groups:
    s, pvalue = shapiro(x)
    print(f'{name} - shaprio statistics= {s:.4f}, p-value={pvalue:.4f} --> {"정규성불만족" if pvalue < 0.05 else "정규성만족"}')

A - shaprio statistics= 0.9864, p-value=0.3979 --> 정규성만족
B - shaprio statistics= 0.9944, p-value=0.9563 --> 정규성만족

```
ShapiroResult(statistic=0.9863898158073425, pvalue=0.397915244102478)
ShapiroResult(statistic=0.9943947196006775, pvalue=0.9562925100326538)
```

```{admonition} 3-2-b
**A,B 공장 생산 제품의 rpm은 각각 등분산성을 가지는지 샤피로 검정을 통해 확인하라. (각 공장의 pvalue 출력할 것)**
```

In [210]:
datas = [x for _, x in df.groupby('group')['rpm']]

s, pvalue = bartlett(*datas)
print(f'bartlett statistics= {s:.4f}, p-value={pvalue:.4f} --> {"등분산성 불만족" if pvalue < 0.05 else "등분산성 만족"}')

s, pvalue = levene(*datas, center='median')
print(f'levene statistics= {s:.4f}, p-value={pvalue:.4f} --> {"등분산성 불만족" if pvalue < 0.05 else "등분산성 만족"}')

bartlett statistics= 0.0180, p-value=0.8932 --> 등분산성 만족
levene statistics= 0.0146, p-value=0.9038 --> 등분산성 만족

0.904

```{admonition} 3-2-c
*대응 표본 t 검정을 통해 B공장 제품들의 rpm이 A 공장 제품의 rpm보다 크다고 말할 수 있는지 검정하라. pvalue를 소숫점 이하 3자리까지 출력하고 
귀무가설, 대립가설 중 하나를 출력하라**
```

In [211]:
tvalue, pvalue = ttest_rel(df.loc[df['group'] == 'A', 'rpm'], df.loc[df['group'] == 'B', 'rpm'], alternative='less')
print(f'tvalue= {tvalue:.4f}, pvalue= {pvalue:.4f} --> {"대립" if pvalue < 0.05 else "귀무"}')

tvalue= -2.4088, pvalue= 0.0089 --> 대립

```
0.009
대립
```