# 4회 기출 변형

- 작업 3유형 통계 반영
- 무료입니다,,, 광고 한번 눌러주세요..

[![Hits](https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https://www.datamanim.com/dataset/practice/ex4.html&count_bg=%238921C0&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=hits&edge_flat=false)](https://hits.seeyoufarm.com)

# 작업 1유형

```{attention} 
**DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_1.csv**
월마트 판매량 데이터 : https://www.kaggle.com/datasets/asahu40/walmart-data-analysis-and-forcasting
```

In [7]:
import pandas as pd

pd.options.display.max_rows = 2000
pd.options.display.max_columns = 25
pd.options.display.float_format = '{:,.4f}'.format

In [8]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_1.csv')
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,"1,643,690.9000",0,42.31,2.5720,211.0964,8.1060
1,1,12-02-2010,"1,641,957.4400",1,38.51,2.5480,211.2422,8.1060
2,1,19-02-2010,"1,611,968.1700",0,39.93,2.5140,211.2891,8.1060
3,1,26-02-2010,"1,409,727.5900",0,46.63,2.5610,211.3196,8.1060
4,1,05-03-2010,"1,554,806.6800",0,46.5,2.6250,211.3501,8.1060

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   object
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(4), int64(2), object(2)
memory usage: 402.3+ KB

```{admonition} 1-1
**Temperature컬럼에서 숫자가 아닌 문자들을 제거후 숫자 타입으로 바꾸고 3분위수에서 1분위수의 차이를 소숫점 이하 2자리까지 구하여라**
```

In [15]:
q1, q3 = df['Temperature'].replace(r'\*', '', regex=True).astype('float').quantile([0.25, 0.75])
print(f'{q3 - q1:.2f}')

27.48

27.48

```{attention} 
**DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_2.csv**
유튜브 영상 통계량 : https://www.kaggle.com/datasets/advaypatil/youtube-statistics?select=videos-stats.csv
```

In [16]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_2.csv')
df.head()

,Title,Video ID,Published At,Keyword,Likes,Comments,Views
0,Apple Pay Is Killing the Physical Wallet After...,wAZZ-UWGVHI,2022-08-23,tech,"3,407.0000",672.0000,"135,612.0000"
1,The most EXPENSIVE thing I own.,b3x28s61q3c,2022-08-24,tech,"76,779.0000","4,306.0000","1,758,063.0000"
2,My New House Gaming Setup is SICK!,4mgePWWCAmA,2022-08-23,tech,"63,825.0000","3,338.0000","1,564,007.0000"
3,Petrol Vs Liquid Nitrogen | Freezing Experimen...,kXiYSI7H2b0,2022-08-23,tech,"71,566.0000","1,426.0000","922,918.0000"
4,Best Back to School Tech 2022!,ErMwWXQxHp0,2022-08-08,tech,"96,513.0000","5,155.0000","1,855,644.0000"

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1881 entries, 0 to 1880
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         1881 non-null   object
 1   Video ID      1881 non-null   object
 2   Published At  1881 non-null   object
 3   Keyword       1881 non-null   object
 4   Likes         1879 non-null   float64
 5   Comments      1879 non-null   float64
 6   Views         1879 non-null   float64
dtypes: float64(3), object(4)
memory usage: 103.0+ KB

```{admonition} 1-2
**Likes를 Comments로 나눈 비율이 20이상이면서 Keyword값이 minecraft인 영상들의 Views값의 평균을 정수로 구하여라**
```

In [20]:
result = int(df.loc[((df['Likes'] / df['Comments']) >= 20) & (df['Keyword'] == 'minecraft'), 'Views'].mean())
print(result)

1789084

1789084

```{attention} 
**DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_3.csv**
넷플릭스 영상 메타정보 : https://www.kaggle.com/datasets/akashguna/netflix-prize-shows-information
```

In [21]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_3.csv')
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

```{admonition} 1-3
**date_added가 2018년 1월 이면서 country가 United Kingdom 단독 제작인 데이터의 갯수**
```

In [45]:
len(df[(pd.to_datetime(df['date_added']).dt.year == 2018) & (pd.to_datetime(df['date_added']).dt.month == 1) & (~(df['country'].fillna('').str.contains(','))) & (df['country'].str.lower() == 'united kingdom')])

6

6

# 작업 2유형

```{attention} 
유저 분류 : https://www.kaggle.com/datasets/kaushiksuresh147/customer-segmentation
**train = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p2_train.csv**
**test = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p2_test.csv**

예측 변수 Segmentation, test.csv에 대해 ID별로 Segmentation의 클래스를 예측해서 저장후 제출, 제출 데이터 컬럼은 ID와 Segmentation 두개만 존재해야함. 평가지표는 macro f1 score
```

In [56]:
import pandas as pd

x_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p2_train.csv')
x_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p2_test.csv')

Y = x_train[['ID', 'Segmentation']]
X = x_train.drop(columns = ['Segmentation'])
X_submission = x_test.copy()

display(X.head())
display(Y.head())

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,464357,Male,No,40,Yes,Artist,7.0000,Low,1.0000,Cat_6
1,459624,Male,No,18,No,Healthcare,NaN,Low,5.0000,Cat_4
2,462672,Male,No,25,No,Healthcare,7.0000,Low,4.0000,Cat_4
3,463360,Female,Yes,46,Yes,Artist,2.0000,Low,1.0000,Cat_6
4,462420,Male,No,27,Yes,Healthcare,1.0000,Low,3.0000,Cat_6

       ID Segmentation
0  464357            A
1  459624            D
2  462672            D
3  463360            B
4  462420            C

In [131]:
import pandas as pd

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import f1_score, accuracy_score, precision_score, recall_score, roc_auc_score, confusion_matrix

In [47]:
pd.options.display.max_rows = 2000
pd.options.display.max_columns = 25
pd.options.display.float_format = '{:,.4f}'.format

In [50]:
def get_model_score(model, xtrain, xtest, ytrain, ytest):
    A1 = model.score(xtrain, ytrain)
    A2 = model.score(xtest, ytest)
    
    ypred = model.predict(xtest)
    B = f1_score(ytest, ypred, average='macro')
    
    return pd.Series([A1, A2, B], index='Train_Accuracy Test_Accuracy F1'.split())

In [115]:
def compare_model(xtrain, xtest, ytrain, ytest):
    result = pd.DataFrame()
    
    model = LogisticRegression(max_iter=1000).fit(xtrain, ytrain)
    result[f'{model.__class__.__name__}'] = get_model_score(model, xtrain, xtest, ytrain, ytest)
    
    model = KNeighborsClassifier().fit(xtrain, ytrain)
    result[f'{model.__class__.__name__}'] = get_model_score(model, xtrain, xtest, ytrain, ytest)
    
    model = DecisionTreeClassifier(random_state=1111).fit(xtrain, ytrain)
    result[f'{model.__class__.__name__}'] = get_model_score(model, xtrain, xtest, ytrain, ytest)
    
    model = RandomForestClassifier(random_state=1111).fit(xtrain, ytrain)
    result[f'{model.__class__.__name__}'] = get_model_score(model, xtrain, xtest, ytrain, ytest)
    
    model = XGBClassifier().fit(xtrain, ytrain)
    result[f'{model.__class__.__name__}'] = get_model_score(model, xtrain, xtest, ytrain, ytest)
    
    params = {'n_estimators': range(100, 301, 100), 'max_depth': range(1, 6)}
    model = GridSearchCV(XGBClassifier(), params).fit(xtrain, ytrain).best_estimator_
    result[f'GridSearchCV'] = get_model_score(model, xtrain, xtest, ytrain, ytest)
    
    result = result.T
    result.insert(2, 'DIFF', (result['Train_Accuracy']-result['Test_Accuracy']).abs())
    return result

In [52]:
def get_model_data(dfX, Y, train_size, x_features, y_feature, is_normalized=False):
    X_temp = dfX[x_features]
    YF = Y[y_feature]
    
    if is_normalized:
        X_temp = MinMaxScaler().fit_transform(X_temp)
        
    XF = X_temp[:train_size]
    X_submissionF = X_temp[train_size:]
    
    return XF, X_submissionF, YF

In [58]:
X.info(), X_submission.info(), Y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4881 entries, 0 to 4880
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               4881 non-null   int64
 1   Gender           4881 non-null   object
 2   Ever_Married     4785 non-null   object
 3   Age              4881 non-null   int64
 4   Graduated        4830 non-null   object
 5   Profession       4817 non-null   object
 6   Work_Experience  4368 non-null   float64
 7   Spending_Score   4881 non-null   object
 8   Family_Size      4689 non-null   float64
 9   Var_1            4831 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 381.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1542 entries, 0 to 1541
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               1542 non-null   int64
 1   Gender           1542 non-null   object
 2   Ever_Married     1520 non-null   object
 3   Age              1542 non-null   int64
 4   Graduated        1526 non-null   object
 5   Profession       1519 non-null   object
 6   Work_Experience  1400 non-null   float64
 7   Spending_Score   1542 non-null   object
 8   Family_Size      1474 non-null   float64
 9   Var_1            1530 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 120.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4881 entries, 0 to 4880
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            4881 non-null   int64
 1   Segmentation  4881 non-null   object
dtypes: int64(1), object(1)
memory usage: 76.4+ KB

(None, None, None)

In [59]:
dfX = pd.concat([X, X_submission], axis=0, ignore_index=True)

In [76]:
dfX.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6423 entries, 0 to 6422
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               6423 non-null   int64
 1   Gender           6423 non-null   object
 2   Ever_Married     6305 non-null   object
 3   Age              6423 non-null   int64
 4   Graduated        6356 non-null   object
 5   Profession       6336 non-null   object
 6   Work_Experience  6423 non-null   float64
 7   Spending_Score   6423 non-null   object
 8   Family_Size      6423 non-null   float64
 9   Var_1            6361 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 501.9+ KB

In [88]:
dfX.isna().sum()

ID                 0
Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Family_Size        0
Var_1              0
Average            0
High               0
Low                0
dtype: int64

In [66]:
dfX['Work_Experience'] = dfX['Work_Experience'].fillna(dfX['Work_Experience'].mean())

In [70]:
dfX['Family_Size'] = dfX['Family_Size'].fillna(dfX['Family_Size'].mean())

In [89]:
for feature in dfX.select_dtypes(include='object').columns:
    print(f'{feature} - {dfX[feature].unique()}')

In [79]:
dfX['Gender'] = dfX['Gender'].replace(['Female', 'Male'], [0, 1])

In [81]:
temp = dfX.drop(columns=['Spending_Score'])
temp_list= [temp]
temp_list.append(pd.get_dummies(dfX['Spending_Score']))
dfX = pd.concat(temp_list, axis=1)

In [87]:
for feature in dfX.select_dtypes(include='object').columns:
    dfX[feature] = LabelEncoder().fit_transform(dfX[feature])

In [90]:
dfXY = pd.merge(dfX, Y, on='ID')

In [93]:
dfXY.corr(numeric_only=True)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Family_Size,Var_1,Average,High,Low
ID,1.0000,0.0040,0.0437,-0.0165,0.0081,-0.0191,-0.0222,-0.0037,0.0185,0.0257,-0.0101,-0.0150
Gender,0.0040,1.0000,0.0948,0.0200,-0.0417,0.0258,-0.0652,0.0676,0.0270,0.0317,0.0477,-0.0629
Ever_Married,0.0437,0.0948,1.0000,0.5158,0.1603,-0.0896,-0.1056,-0.0768,0.0408,0.4357,0.3410,-0.6323
Age,-0.0165,0.0200,0.5158,1.0000,0.2199,0.0578,-0.1885,-0.2702,0.1482,0.1042,0.3756,-0.3678
Graduated,0.0081,-0.0417,0.1603,0.2199,1.0000,-0.2883,0.0302,-0.2301,0.0980,0.1063,0.0230,-0.1100
Profession,-0.0191,0.0258,-0.0896,0.0578,-0.2883,1.0000,-0.0313,0.0987,-0.0352,-0.2867,0.2006,0.1029
Work_Experience,-0.0222,-0.0652,-0.1056,-0.1885,0.0302,-0.0313,1.0000,-0.0749,0.0429,-0.0338,-0.0585,0.0726
Family_Size,-0.0037,0.0676,-0.0768,-0.2702,-0.2301,0.0987,-0.0749,1.0000,-0.1708,0.0873,0.0204,-0.0914
Var_1,0.0185,0.0270,0.0408,0.1482,0.0980,-0.0352,0.0429,-0.1708,1.0000,-0.0207,0.0948,-0.0517
Average,0.0257,0.0317,0.4357,0.1042,0.1063,-0.2867,-0.0338,0.0873,-0.0207,1.0000,-0.2388,-0.6986
High,-0.0101,0.0477,0.3410,0.3756,0.0230,0.2006,-0.0585,0.0204,0.0948,-0.2388,1.0000,-0.5280
Low,-0.0150,-0.0629,-0.6323,-0.3678,-0.1100,0.1029,0.0726,-0.0914,-0.0517,-0.6986,-0.5280,1.0000

In [94]:
dfX.columns, Y.columns

(Index(['ID', 'Gender', 'Ever_Married', 'Age', 'Graduated', 'Profession',
        'Work_Experience', 'Family_Size', 'Var_1', 'Average', 'High', 'Low'],
       dtype='object'),
 Index(['ID', 'Segmentation'], dtype='object'))

In [95]:
x_features = ['Gender', 'Ever_Married', 'Age', 'Graduated', 'Profession','Work_Experience', 'Family_Size', 'Var_1', 'Average', 'High', 'Low']
y_feature = 'Segmentation'

In [100]:
Y[y_feature].unique()

array(['A', 'D', 'B', 'C'], dtype=object)

In [116]:
Y2 = Y.copy()
Y2[y_feature] = Y[y_feature].replace(['A', 'B', 'C', 'D'], [0, 1, 2, 3])

In [117]:
XF, X_submissionF, YF = get_model_data(dfX, Y2, len(X), x_features, y_feature, False)

In [118]:
xtrain, xtest, ytrain, ytest = train_test_split(XF, YF, test_size=0.3, random_state=1111, stratify=YF)

In [119]:
result = compare_model(xtrain, xtest, ytrain, ytest)

In [120]:
result.sort_values('F1', ascending=False)

                        Train_Accuracy  Test_Accuracy   DIFF     F1
GridSearchCV                    0.5946         0.4580 0.1365 0.4434
XGBClassifier                   0.8358         0.4232 0.4126 0.4125
LogisticRegression              0.4552         0.4485 0.0067 0.4022
KNeighborsClassifier            0.5972         0.4055 0.1917 0.4019
RandomForestClassifier          0.9734         0.4123 0.5611 0.4005
DecisionTreeClassifier          0.9734         0.3679 0.6054 0.3658

In [121]:
model = XGBClassifier().fit(xtrain, ytrain)
print(get_model_score(model, xtrain, xtest, ytrain, ytest))

Train_Accuracy   0.8358
Test_Accuracy    0.4232
F1               0.4125
dtype: float64

In [122]:
Y_pred = model.predict(X_submissionF)

In [124]:
submission = pd.DataFrame({'ID': X_submission['ID'], y_feature: Y_pred})

In [128]:
submission[y_feature] = submission[y_feature].replace([0, 1, 2, 3], ['A', 'B', 'C', 'D'])

In [129]:
submission.to_csv('./submission.csv', index=False)

In [130]:
Y_predit = pd.read_csv('./submission.csv')

In [132]:
Y_predit.head(2)

       ID Segmentation
0  460406            D
1  466890            C

valiation test f1score 0.4107784704089142

# 작업 3유형

```{attention} 
어느 대학교의 신입생의 학과별 성별에 대한 데이터이다.
**DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p3_1_.csv**
**이 데이터를 바탕으로, 학생들의 학과와 성별이 서로 독립적인지 여부를 확인하기 위해 카이제곱 독립성 검정을 실시 하려한다.**
```

In [134]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p3_1_.csv')
df.head()

         학번     학과 성별
0  DFSKJK_1   경영학과  여
1  DFSKJK_2   사회학과  여
2  DFSKJK_3  기계공학과  여
3  DFSKJK_4   경제학과  남
4  DFSKJK_5  기계공학과  여

In [135]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1022 entries, 0 to 1021
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   학번      1022 non-null   object
 1   학과      1022 non-null   object
 2   성별      1022 non-null   object
dtypes: object(3)
memory usage: 24.1+ KB

```{admonition} 3-1-a
**학과 평균 인원에 대한 값을 소숫점 이하 3자리까지 구하여라**
```

In [145]:
print(f"{df['학과'].value_counts().mean():.3f}")

170.333

170.333

```{admonition} 3-1-b
**카이제곱검정 독립성 검정 통계량을 소숫점 이하 3자리까지 구하여라**
```

In [160]:
from scipy.stats import chi2_contingency

In [162]:
observed = df.pivot_table(index='성별', columns='학과', aggfunc='count')
s, pvalue, _, expected = chi2_contingency(observed)

In [163]:
print(f'{s:.3f}')

5.646

5.646

```{admonition} 3-1-c
**카이제곱검정 독립성 검정의 pvalue를 소숫점 이하 3자리까지 구하여라. 유의수준 0.05하에서 귀무가설과 대립가설중 유의한 것을 출력하라**
```

In [164]:
print(f'{pvalue:.3f}')
print(f'{"대립" if pvalue < 0.05 else "귀무"}')

0.342
귀무

```
0.3421500573497989
귀무
```

```{attention} 
어느 학교에서 수학 시험을 본 학생 100명 중 60명이 60점 이상을 받았다. 이 학교의 수학 시험의 평균 점수가 60점 이상인지 95%의 신뢰 수준에서 검정하려한다.
```

In [201]:
x = 0.6 -  / np.sqrt(0.5 * (1 - 0.5) / 100)
x

11.999999999999998

```{admonition} 3-1-a
**검정 통계량을 소숫점 이하 3자리에서 구하시오**
```

2.0

```{admonition} 3-1-b
**pvalue를 소숫점 이하 3자리까지 구하고 귀무가설과 대립가설중 유의한 것을 출력하라**
```

```
0.023
대립
```