# 5회 기출 변형

- 작업 3유형 통계 반영
- 무료인데.. 광고한번 눌러주세요..

[![Hits](https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https://www.datamanim.com/dataset/practice/ex5.html&count_bg=%238921C0&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=hits&edge_flat=false)](https://hits.seeyoufarm.com)

# 작업 1유형

```{attention} 
**DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_1.csv**
종량제 봉투 가격 데이터 : https://www.data.go.kr/data/15025538/standard.do
```

In [1]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_1.csv')
df.head()

,시도명,시군구명,종량제봉투종류,종량제봉투처리방식,종량제봉투용도,종량제봉투사용대상,1L가격,1.5L가격,2L가격,2.5L가격,...,60L가격,75L가격,100L가격,120L가격,125L가격,관리부서명,관리부서전화번호,데이터기준일자,제공기관코드,제공기관명
0,경기도,안양시,규격봉투,매립용,생활쓰레기,사업장용,0,0,0,0,...,0,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
1,경기도,안양시,규격봉투,매립용,생활쓰레기,기타,0,0,0,0,...,0,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
2,경기도,안양시,규격봉투,소각용,음식물쓰레기,가정용,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
3,경기도,안양시,규격봉투,소각용,음식물쓰레기,사업장용,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
4,경기도,안양시,규격봉투,소각용,음식물쓰레기,기타,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 762 entries, 0 to 761
Data columns (total 26 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   시도명        762 non-null    object
 1   시군구명       762 non-null    object
 2   종량제봉투종류    762 non-null    object
 3   종량제봉투처리방식  762 non-null    object
 4   종량제봉투용도    762 non-null    object
 5   종량제봉투사용대상  762 non-null    object
 6   1L가격       762 non-null    int64
 7   1.5L가격     762 non-null    int64
 8   2L가격       762 non-null    int64
 9   2.5L가격     762 non-null    int64
 10  3L가격       762 non-null    int64
 11  5L가격       762 non-null    int64
 12  10L가격      762 non-null    int64
 13  20L가격      762 non-null    int64
 14  30L가격      762 non-null    int64
 15  50L가격      762 non-null    int64
 16  60L가격      762 non-null    int64
 17  75L가격      762 non-null    int64
 18  100L가격     762 non-null    int64
 19  120L가격     762 non-null    int64
 20  125L가격     762 non-null    int64
 21  관리부서명      762 non-null    object
 22  관리부서전화번호   762 non-null    object
 23  데이터기준일자    762 non-null    object
 24  제공기관코드     762 non-null    object
 25  제공기관명      762 non-null    object
dtypes: int64(15), object(11)
memory usage: 154.9+ KB

```{admonition} 1-1
**20L가격과 5L가격이 모두 0원이 아닌 데이터만 필터를 한 후, 각 row별로 20L가격과 5L가격의 차이를 '차이가격' 이라 부른다고 하자. 시도명 별 차이가격의 평균가격을 비교할때 그 값이 가장 큰 금액을 반올림하여 소숫점 이하 1자리까지 구하여라**
```

In [17]:
import warnings
warnings.filterwarnings('ignore')

temp = df[(df['20L가격'] != 0) & (df['5L가격'] != 0)]
temp['차이가격'] = temp['20L가격'] - temp['5L가격']
round(temp.groupby('시도명')['차이가격'].mean().sort_values(ascending=False).head(1).values[0], 1)

619.0

```
차이가격
시도명	
제주특별자치도	580.0
부산광역시	593.0
인천광역시	619.0
619.0
```

```{attention} 
**DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_2.csv**
성인 체중 및 키 데이터 : 자체 제작
```

In [20]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_2_.csv')
df.head(5)

       ID  height(cm)  weight(kg)
0  user_1       173.0        67.5
1  user_2       149.5        82.5
2  user_3       143.8        64.6
3  user_4       163.1        87.2
4  user_5       159.6        77.1

```{admonition} 1-2
**BMI는 몸무게(kg) / (키(M) * 키(M)) 로 정의 된다. 초고도 비만은 BMI 25이상 , 고도 비반은 BMI 25미만 - 23이상 , 정상은 23미만 - 18.5이상 저체중은 18.5미만으로 정의 된다. 주어진 데이터에서 초고도비만 인원 + 저체중 인원 의 숫자는?**
```

In [23]:
df['BMI'] = df['weight(kg)'] / (df['height(cm)'] / 100) ** 2
df['BMI'].min(), df['BMI'].max()

(16.832117788220902, 64.37708835328354)

In [28]:
df['비만 수준'] = pd.cut(df['BMI'], bins=[df['BMI'].min(), 18.5, 23, 25, df['BMI'].max() + 1], labels=['저체중', '정상', '고도비만', '초고도비만'], right=False)

In [30]:
df['비만 수준'].value_counts()['초고도비만'] + df['비만 수준'].value_counts()['저체중']

8998

8998

```{attention} 
**DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_2.csv**
년도별 서울 각 구의 초,중,고 전출 전입 인원 : https://data.seoul.go.kr/dataList/10729/S/2/datasetView.do & 후처리
```

In [42]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_3.csv')
df.head(5)

,지역,초등학교_전출_도내,초등학교_전출_도외,초등학교_전입_도내,초등학교_전입_도외,중학교_전출_도내,중학교_전출_도외,중학교_전입_도내,중학교_전입_도외,고등학교_전출_도내,고등학교_전출_도외,고등학교_전입_도내,고등학교_전입_도외,년도
0,종로구,221,132,255,126,63,71,104,73,203,72,166,75,2012
1,중구,295,139,203,100,66,43,58,44,156,37,104,39,2012
2,용산구,380,269,302,174,134,78,91,106,102,66,113,48,2012
3,성동구,643,344,376,221,154,103,98,82,179,37,153,41,2012
4,광진구,560,382,595,312,165,158,158,118,115,70,154,66,2012

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   지역          250 non-null    object
 1   초등학교_전출_도내  250 non-null    int64
 2   초등학교_전출_도외  250 non-null    int64
 3   초등학교_전입_도내  250 non-null    int64
 4   초등학교_전입_도외  250 non-null    int64
 5   중학교_전출_도내   250 non-null    int64
 6   중학교_전출_도외   250 non-null    int64
 7   중학교_전입_도내   250 non-null    int64
 8   중학교_전입_도외   250 non-null    int64
 9   고등학교_전출_도내  250 non-null    int64
 10  고등학교_전출_도외  250 non-null    int64
 11  고등학교_전입_도내  250 non-null    int64
 12  고등학교_전입_도외  250 non-null    int64
 13  년도          250 non-null    int64
dtypes: int64(13), object(1)
memory usage: 27.5+ KB

```{admonition} 1-3
**순유입인원은 초중고 도내,도외 전입인원에서 초중고 도내, 도외 전출인원을 뺀값이다. 각년도별로 가장 큰 순유입인원을 가진 지역구의 순유입인원을 구하고 전체 기간의 해당 순유입인원들의 합을 구하여라**
```

In [44]:
df['순유입인원'] = df[['초등학교_전입_도내', '초등학교_전입_도외', '중학교_전입_도내', '중학교_전입_도외', '고등학교_전입_도내', '고등학교_전입_도외']].sum(axis=1) - df[['초등학교_전출_도내', '초등학교_전출_도외', '중학교_전출_도내', '중학교_전출_도외', '고등학교_전출_도내', '고등학교_전출_도외']].sum(axis=1)
df.head()

,지역,초등학교_전출_도내,초등학교_전출_도외,초등학교_전입_도내,초등학교_전입_도외,중학교_전출_도내,중학교_전출_도외,중학교_전입_도내,중학교_전입_도외,고등학교_전출_도내,고등학교_전출_도외,고등학교_전입_도내,고등학교_전입_도외,년도,순유입인원
0,종로구,221,132,255,126,63,71,104,73,203,72,166,75,2012,37
1,중구,295,139,203,100,66,43,58,44,156,37,104,39,2012,-188
2,용산구,380,269,302,174,134,78,91,106,102,66,113,48,2012,-195
3,성동구,643,344,376,221,154,103,98,82,179,37,153,41,2012,-489
4,광진구,560,382,595,312,165,158,158,118,115,70,154,66,2012,-47

In [73]:
df.groupby(['년도', '지역'])['순유입인원'].max().sort_values(ascending=False).groupby(level=0).head(1).sort_index().sum()

13853

```
2012     949
2013    1339
2014    2225
2015    1498
2016     774
2017     932
2018    1158
2019    1821
2020    1762
2021    1395
```

13853

# 작업 2유형

```{attention} 
벤츠 차량 가격 예측 : https://www.kaggle.com/datasets/mysarahmadbhat/mercedes-used-car-listing
**train = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p2_train_.csv**
**test = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p2_test_.csv**

예측 변수 price, test.csv에 대해 ID별로 price 값을 예측하여 제출, 제출 데이터 컬럼은 ID와 price 두개만 존재해야함. 평가지표는 rmse
```

,ID,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,10170,A Class,2012,11940,Automatic,46000,Diesel,30,64.2,2.1
1,9551,CL Class,2020,38624,Semi-Auto,19,Petrol,150,36.7,2.0

   ID      model  year transmission  mileage fuelType  tax   mpg  engineSize
0   0        SLK  2005    Automatic    63000   Petrol  325  32.1         1.8
1   2   SL CLASS  2016    Automatic     6200   Petrol  555  28.0         5.5

```
test rmse 2608.739745358064
ID	price
0	0	4269.100000
1	2	64883.916667
2	14	17303.080000
3	15	14416.230000
4	18	15897.000000
```

# 작업 3유형

```{attention} 
어느 학교에서 추출한 55명 학생들의 키 정보이다.  
**DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_1.csv**
**이 학생들의 키의 95% 신뢰구간을 구하고자 한다.**
```

In [75]:
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_1.csv')
df.head()

       ID  height
0  user_1  164.57
1  user_2  174.99
2  user_3  171.41
3  user_4  162.47
4  user_5  167.11

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      55 non-null     object
 1   height  55 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1008.0+ bytes

```{admonition} 3-1-a
**55명 학생들의 키에 대한 표본 평균을 구하여라(반올림하여 소숫점 3째자리까지**
```

In [78]:
print(f"{df['height'].mean():.3f}")

169.937

169.937

```{admonition} 3-1-b
**t분포 양쪽 꼬리에서의 t 값을 구하여라 (반올림하여 소수4째자리까지)**
```

In [83]:
from scipy.stats import t, sem

In [91]:
rv = t(df=len(df)-1, loc=df['height'].mean(), scale=df['height'].std())
t(df=len(df)-1).ppf(0.025)

-2.0048792865665233

2.0049

```{admonition} 3-1-c
**95% 신뢰구간을 구하여라(print(lower,upper) 방식으로 출력, 각각의 값은 소숫점 이하 3째자리까지)**
```

In [95]:
t.interval(confidence=0.95, loc=df['height'].mean(), scale=sem(df['height']), df=len(df)-1)

(168.32129430637363, 171.55325114817182)

168.321 171.553

```{attention} 
A,B,C 세 공장에서 생산한 동일한 제품의 길이 데이터 이다.
**DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_2.csv**
**공장간의 제품 길이 차이가 유의미한지 확인 하려한다.**
```

In [96]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_2.csv')
df.head()

  ID      value
0  A  84.179434
1  A  93.971003
2  A  62.140957
3  A  72.911723
4  A  79.252747

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      30 non-null     object
 1   value   30 non-null     float64
dtypes: float64(1), object(1)
memory usage: 608.0+ bytes

```{admonition} 3-1-a
**3 그룹의 데이터에 대해 크루스칼-왈리스 검정을 사용하여 검정 통계량을 반올림하여 소숫점 이하 3자리까지 구하여라**
```

In [98]:
from scipy.stats import kruskal

In [104]:
help(kruskal)

Help on function kruskal in module scipy.stats._stats_py:

kruskal(*samples, nan_policy='propagate', axis=0, keepdims=False)
    Compute the Kruskal-Wallis H-test for independent samples.

    The Kruskal-Wallis H-test tests the null hypothesis that the population
    median of all of the groups are equal.  It is a non-parametric version of
    ANOVA.  The test works on 2 or more independent samples, which may have
    different sizes.  Note that rejecting the null hypothesis does not
    indicate which of the groups differs.  Post hoc comparisons between
    groups are required to determine which groups are different.

    Parameters
    ----------
    sample1, sample2, ... : array_like
        Two or more arrays with the sample measurements can be given as
        arguments. Samples must be one-dimensional.
    nan_policy : {'propagate', 'omit', 'raise'}
        Defines how to handle input NaNs.

        - ``propagate``: if a NaN is present in the axis slice (e.g. row) along
          which the  statistic is computed, the corresponding entry of the output
          will be NaN.
        - ``omit``: NaNs will be omitted when performing the calculation.
          If insufficient data remains in the axis slice along which the
          statistic is computed, the corresponding entry of the output will be
          NaN.
        - ``raise``: if a NaN is present, a ``ValueError`` will be raised.
    axis : int or None, default: 0
        If an int, the axis of the input along which to compute the statistic.
        The statistic of each axis-slice (e.g. row) of the input will appear in a
        corresponding element of the output.
        If ``None``, the input will be raveled before computing the statistic.
    keepdims : bool, default: False
        If this is set to True, the axes which are reduced are left
        in the result as dimensions with size one. With this option,
        the result will broadcast correctly against the input array.

    Returns
    -------
    statistic : float
        The Kruskal-Wallis H statistic, corrected for ties.
    pvalue : float
        The p-value for the test using the assumption that H has a chi
        square distribution. The p-value returned is the survival function of
        the chi square distribution evaluated at H.

    See Also
    --------

    :func:`f_oneway`
        1-way ANOVA.
    :func:`mannwhitneyu`
        Mann-Whitney rank test on two samples.
    :func:`friedmanchisquare`
        Friedman test for repeated measurements.


    Notes
    -----
    Due to the assumption that H has a chi square distribution, the number
    of samples in each group must not be too small.  A typical rule is
    that each sample must have at least 5 measurements.

    Beginning in SciPy 1.9, ``np.matrix`` inputs (not recommended for new
    code) are converted to ``np.ndarray`` before the calculation is performed. In
    this case, the output will be a scalar or ``np.ndarray`` of appropriate shape
    rather than a 2D ``np.matrix``. Similarly, while masked elements of masked
    arrays are ignored, the output will be a scalar or ``np.ndarray`` rather than a
    masked array with ``mask=False``.

    References
    ----------
    .. [1] W. H. Kruskal & W. W. Wallis, "Use of Ranks in
       One-Criterion Variance Analysis", Journal of the American Statistical
       Association, Vol. 47, Issue 260, pp. 583-621, 1952.
    .. [2] https://en.wikipedia.org/wiki/Kruskal-Wallis_one-way_analysis_of_variance

    Examples
    --------
    >>> from scipy import stats
    >>> x = [1, 3, 5, 7, 9]
    >>> y = [2, 4, 6, 8, 10]
    >>> stats.kruskal(x, y)
    KruskalResult(statistic=0.2727272727272734, pvalue=0.6015081344405895)

    >>> x = [1, 1, 1]
    >>> y = [2, 2, 2]
    >>> z = [2, 2]
    >>> stats.kruskal(x, y, z)
    KruskalResult(statistic=7.0, pvalue=0.0301973834223185)

In [108]:
datas = [x for _, x in df.groupby('ID')['value']]
s, pvalue = kruskal(*datas)
print(s, pvalue)

6.52129032258064 0.038363639296696686

6.521

```{admonition} 3-1-b
**3 그룹의 데이터에 대해 크루스칼-왈리스 검정을 사용하여 p-value를 반올림하여 소숫점 이하 3자리까지 구하여라. 귀무가설과 대립가설중 0.05 유의수준에서 유의한 가설을 출력하라**
```

```
0.038
대립
```