### 0.Îç∞Ïù¥ÌÑ∞ Îã§Ïö¥Î°úÎìú

In [1]:
!git clone https://github.com/Soyoung-Yoon/data_02

fatal: destination path 'data_02' already exists and is not an empty directory.

In [2]:
import scipy
scipy.__version__

'1.10.1'

In [ ]:
!pip install scipy==1.6.0

### 1.Ïπ¥Ïù¥Ï†úÍ≥± Ï†ÅÌï©ÎèÑ Í≤ÄÏ†ï

####1-1.ÌäπÏ†ïÎπÑÏú®
AÌïôÍ∏â 40Î™ÖÏùò ÌòàÏï°Ìòï ÎπÑÏú®ÏùÑ A, B, O, AB Í∞ÅÍ∞Å 20%, 20%, 30%, 30%Î°ú ÏòàÏÉÅÌïòÏòÄÎã§. Ïã§Ï†ú Ï∏°Ï†ï Í≤∞Í≥º 16, 16, 4, 4 Î™ÖÏù∏ Í≤ΩÏö∞Ïùò Ï†ÅÌï©ÎèÑ Í≤ÄÏ†ïÏùÑ ÏàòÌñâÌïòÏó¨ Î≥¥Ïûê

- ùëØ_ùüé : Î≥ÄÏàòÏùò Î∂ÑÌè¨Í∞Ä Í∏∞ÎåÄ Î∂ÑÌè¨ÏôÄ Í∞ôÎã§
- ùëØ_ùüè : Î≥ÄÏàòÏùò Î∂ÑÌè¨Í∞Ä Í∏∞ÎåÄ Î∂ÑÌè¨ÏôÄ Í∞ôÏßÄ ÏïäÎã§

In [12]:
# [ÌååÏùºÎ°ú Ï£ºÏñ¥ÏßÑ Í≤ΩÏö∞ ÏßÅÏ†ë Í∞úÏàò Í≥ÑÏÇ∞]
import pandas as pd
data = {'blood_type': ['A']*16 + ['B']*16 + ['O']*4 + ['AB']*4}
data = pd.DataFrame(data)
data.T

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
blood_type,A,A,A,A,A,A,A,A,A,A,...,B,B,O,O,O,O,AB,AB,AB,AB

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   blood_type  40 non-null     object
dtypes: object(1)
memory usage: 448.0+ bytes

In [31]:
import numpy as np
from scipy.stats import chisquare

observed = data['blood_type'].value_counts()
expected = observed.sum() * np.array([0.2, 0.2, 0.3, 0.3])

s, pvalue = chisquare(f_obs=observed, f_exp=expected)
print(f'[chisquare-Ï†ÅÌï©ÎèÑ] ùí≥¬≤= {s:,.4f}, p-value= {pvalue:,.4f} --> {"H0 Í∏∞Í∞Å" if pvalue < 0.05 else "H0 Ï±ÑÌÉù"}')

[chisquare-Ï†ÅÌï©ÎèÑ] ùí≥¬≤= 26.6667, p-value= 0.0000 --> H0 Í∏∞Í∞Å

#### 1-2.ÎèôÏùºÎπÑÏú®
4Í∞úÏùò Î≤îÏ£ºÏóê ÎåÄÌï¥ ÎèôÏùºÌïú ÎπÑÏú®Ïù¥ÎùºÍ≥† Í∞ÄÏ†ïÌïòÍ≥†, Ïã§Ï†úÏ∏°Ï†ï Ìïú ÌëúÎ≥∏ Î∂ÑÌè¨Í∞Ä Îã§ÏùåÍ≥º Í∞ôÏùÑ Îïå, Ïπ¥Ïù¥Ï†úÍ≥± Ï†ÅÌï©ÎèÑ Í≤ÄÏ†ïÏùÑ ÏàòÌñâÌïòÏó¨ Î≥¥Ïûê

        observed = [54, 46, 60, 40]

- ùëØ_ùüé : Î≥ÄÏàòÏùò Î∂ÑÌè¨Ïóê ÎπÑÏú® Ï∞®Ïù¥Í∞Ä ÏóÜÎã§.
- ùëØ_ùüè : Î≥ÄÏàòÏùò Î∂ÑÌè¨Ïóê ÎπÑÏú® Ï∞®Ïù¥Í∞Ä ÏûàÎã§.

In [37]:
observed = [54, 46, 60, 40]
expected = sum(observed) * np.array([0.25, 0.25, 0.25, 0.25])

s, pvalue = chisquare(observed, expected)
print(f'[chisquare-Ï†ÅÌï©ÎèÑ] ùí≥¬≤= {s:,.4f}, p-value= {pvalue:,.4f} --> {"H0 Í∏∞Í∞Å" if pvalue < 0.05 else "H0 Ï±ÑÌÉù"}')

[chisquare-Ï†ÅÌï©ÎèÑ] ùí≥¬≤= 4.6400, p-value= 0.2001 --> H0 Ï±ÑÌÉù

### 2.Ïπ¥Ïù¥Ï†úÍ≥± ÎèôÏßàÏÑ±/ÎèÖÎ¶ΩÏÑ± Í≤ÄÏ†ï
- Îëê Î≤îÏ£ºÌòï ÏûêÎ£å Í∞ÑÏùò Ï∞®Ïù¥Î•º Î∂ÑÏÑùÌïòÎäî Í≤ÄÏ¶ù Î∞©Î≤ï
- Í¥ÄÏ∞∞ÎπàÎèÑ(Ïã§Ï†úÍ∞í)Í∞Ä Í∏∞ÎåÄÎπàÎèÑ(Í∏∞ÎåìÍ∞í)ÏôÄ Ïú†ÏùòÌïú Ï∞®Ïù¥Í∞Ä ÏûàÎäîÏßÄ Í≤ÄÏ¶ù
- Í¥ÄÏ∞∞ÎπàÎèÑÎäî Ï†àÎåÄÏ†Å ÏàòÏπòÎ°úÎßå Í¥ÄÏ∞∞ÎêòÏñ¥Ïïº Ìï®, Í∏∞ÎåÄÎπàÎèÑÏùò Ìï©Í≥º Í¥ÄÏ∞∞ÎπàÎèÑÏùò Ìï©ÏùÄ Í∞ôÏùå
- Î∂ÑÌï†ÌëúÏùò Ïπ∏ Ïàò Î∞è Í∞Å Ïπ∏Ïùò Í∏∞ÎåÄÎπàÎèÑÎäî 5Ïù¥ÏÉÅ Ïù¥Ïñ¥Ïïº Ìï®
- Í∑ÄÎ¨¥Í∞ÄÏÑ§Ïù¥ Í∏∞Í∞ÅÎêòÎ©¥ Î≤îÏ£ºÎ≥Ñ Í∏∞ÎåÄÎπàÎèÑÏôÄ Í¥ÄÏ∏°ÎπàÎèÑÏùò Ï∞®Ïù¥Í∞Ä Ï∂©Î∂ÑÌûà ÌÅ¨Îã§Í≥† ÎßêÌï† Ïàò ÏûàÏùå
- Í∏∞ÎåÄÎπàÎèÑÏôÄ Í¥ÄÏ∞∞ÎπàÎèÑÏùò Ï∞®Ïù¥Í∞Ä Ïª§ÏßÄÎ©¥ Ïπ¥Ïù¥Ï†úÍ≥± ÌÜµÍ≥ÑÎüâÎèÑ Ïª§Ïßê

#### 2-1.Ïπ¥Ïù¥Ï†úÍ≥± ÎèôÏßàÏÑ± Í≤ÄÏ†ï
- H0 : ÏÑ±Î≥ÑÎ≥Ñ Ìï∏ÎìúÌè∞ Î™®Îç∏ ÏÑ†Ìò∏ÎèÑ Î∂ÑÌè¨Îäî Í∞ôÎã§
- H1 : ÏÑ±Î≥ÑÎ≥Ñ Ìï∏ÎìúÌè∞ Î™®Îç∏ ÏÑ†Ìò∏ÎèÑ Î∂ÑÌè¨Í∞Ä Í∞ôÏßÄ ÏïäÎã§

In [38]:
import pandas as pd

crs_table = pd.DataFrame([[10, 40, 50], [30, 60, 10]], 
                         index=['M', 'F'], 
                columns=['model_A', 'model_B', 'model_C'])
print(crs_table)

   model_A  model_B  model_C
M       10       40       50
F       30       60       10

####2-2.Ïπ¥Ïù¥Ï†úÍ≥± ÎèÖÎ¶ΩÏÑ± Í≤ÄÏ†ï
- Í∑ÄÎ¨¥Í∞ÄÏÑ§ : ÎãπÎá®ÏôÄ ÎπÑÎßå ÏÇ¨Ïù¥Ïóê Í¥ÄÍ≥ÑÎäî ÎèÖÎ¶ΩÏù¥Îã§.
- ÎåÄÎ¶ΩÍ∞ÄÏÑ§ : ÎãπÎá®ÏôÄ ÎπÑÎßå ÏÇ¨Ïù¥Ïóê Í¥ÄÍ≥ÑÎäî ÎèÖÎ¶ΩÏù¥ ÏïÑÎãàÎã§.

In [48]:
import pandas as pd
from scipy.stats import chi2_contingency

observed = crs_table.copy()
s, pvalue, dof, expected = chi2_contingency(observed)
print(f'[chisquare-ÎèôÏßàÏÑ±] ùí≥¬≤= {s:,.4f}, p-value= {pvalue:,.4f} --> {"H0 Í∏∞Í∞Å" if pvalue < 0.05 else "H0 Ï±ÑÌÉù"}')
print('expected: ', pd.DataFrame(expected, index=observed.index, columns=observed.columns), sep='\n')
print('observed: ', observed, sep='\n')

[chisquare-ÎèôÏßàÏÑ±] ùí≥¬≤= 40.6667, p-value= 0.0000 --> H0 Í∏∞Í∞Å
expected:
   model_A  model_B  model_C
M     20.0     50.0     30.0
F     20.0     50.0     30.0
observed:
   model_A  model_B  model_C
M       10       40       50
F       30       60       10

In [49]:
# [1] Îç∞Ïù¥ÌÑ∞ Í∞ÄÏ†∏Ïò§Í∏∞
import pandas as pd
data = pd.read_csv("data_02/data_chi.csv")
print(data)

   ÎãπÎá® Ïó¨Î∂Ä ÎπÑÎßå Ïó¨Î∂Ä
0      Y     N
1      N     Y
2      N     N
3      N     N
4      N     Y
..   ...   ...
95     N     N
96     N     N
97     Y     N
98     N     N
99     N     N

[100 rows x 2 columns]

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ÎãπÎá® Ïó¨Î∂Ä   100 non-null    object
 1   ÎπÑÎßå Ïó¨Î∂Ä   100 non-null    object
dtypes: object(2)
memory usage: 1.7+ KB

In [52]:
data.head(2)

  ÎãπÎá® Ïó¨Î∂Ä ÎπÑÎßå Ïó¨Î∂Ä
0     Y     N
1     N     Y

In [59]:
# [2] Ïπ¥Ïù¥Ï†úÍ≥± Î∂ÑÏÑùÏùÑ ÏúÑÌïú Î∂ÑÌï†Ìëú ÎßåÎì§Í∏∞
observed = pd.crosstab(index=data['ÎãπÎá® Ïó¨Î∂Ä'], columns=data['ÎπÑÎßå Ïó¨Î∂Ä'])
observed

ÎπÑÎßå Ïó¨Î∂Ä   N   Y
ÎãπÎá® Ïó¨Î∂Ä
N      62  22
Y      12   4

In [60]:
# [3] Ïπ¥Ïù¥Ïä§ÌÄòÏñ¥ Î∂ÑÏÑù
from scipy.stats import chi2_contingency

s, pvalue, _, expected = chi2_contingency(observed)
print(f'[chisquare-ÎèôÏßàÏÑ±] ùí≥¬≤= {s:,.4f}, p-value= {pvalue:,.4f} --> {"H0 Í∏∞Í∞Å" if pvalue < 0.05 else "H0 Ï±ÑÌÉù"}')
print('expected: ', pd.DataFrame(expected, index=observed.index, columns=observed.columns), sep='\n')
print('observed: ', observed, sep='\n')

[chisquare-ÎèôÏßàÏÑ±] ùí≥¬≤= 0.0000, p-value= 1.0000 --> H0 Ï±ÑÌÉù
expected:
ÎπÑÎßå Ïó¨Î∂Ä      N      Y
ÎãπÎá® Ïó¨Î∂Ä
N      62.16  21.84
Y      11.84   4.16
observed:
ÎπÑÎßå Ïó¨Î∂Ä   N   Y
ÎãπÎá® Ïó¨Î∂Ä
N      62  22
Y      12   4

In [ ]:
# [4] Í≤∞Î°†

#### 2-3.ÌîºÏÖîÏùò Ï†ïÌôïÍ≤ÄÏ†ï
- ÎßåÏïΩ ÏÇ¨Í±¥ Î∞úÏÉù Ïàò, ÎπàÎèÑ ÏàòÍ∞Ä Í∑πÌûà Ï†ÅÍ±∞ÎÇò(ÌäπÌûà 5Í∞ú Ïù¥ÌïòÏùò ÎπàÎèÑÍ∞Ä Ï†ÑÏ≤¥ ÏÖÄ Ï§ë 20%Ïù¥ÏÉÅ Ï°¥Ïû¨ÌïòÎäî Í≤ΩÏö∞) ÏÑúÎ°úÏùò ÎπàÎèÑ ÏàòÏùò Ï∞®Ïù¥Í∞Ä ÎßéÏù¥ÎÇòÎäî Í≤ΩÏö∞ÏóêÎäî Ïπ¥Ïù¥Ï†úÍ≥± Í≤ÄÏ†ïÏùò Ï†ïÌôïÎèÑÎäî ÎÇÆÏïÑÏßëÎãàÎã§. 
- Ïù¥Îïå ÌïÑÏöîÌïú Í≤ÄÏ†ïÏù¥ Î∞îÎ°ú 'ÌîºÏÖîÏùò Ï†ïÌôïÍ≤ÄÏ†ï'ÏûÖÎãàÎã§.

Í∞ÄÏÑ§ÏÑ§Ï†ï
- Í∑ÄÎ¨¥Í∞ÄÏÑ§ : ÏïΩÍ≥º Ìö®Í≥ºÏùò Í¥ÄÍ≥ÑÎäî ÎèÖÎ¶ΩÏù¥Îã§. 
- ÎåÄÎ¶ΩÍ∞ÄÏÑ§ : ÏïΩÍ≥º Ìö®Í≥ºÏùò Í¥ÄÍ≥ÑÍ∞Ä ÎèÖÎ¶ΩÏù¥ ÏïÑÎãàÎã§.

In [61]:
import pandas as pd

# [1] Î∂ÑÌï†Ìëú ÏÉùÏÑ±
data = pd.DataFrame([[1, 6], [5, 2]])
data.columns = ['Í∞ÄÏßú ÏïΩ','ÏßÑÏßú ÏïΩ']
data.index = ['Ìö®Í≥ºÏûàÏùå', 'Ìö®Í≥ºÏóÜÏùå']
print(data)

      Í∞ÄÏßú ÏïΩ  ÏßÑÏßú ÏïΩ
Ìö®Í≥ºÏûàÏùå     1     6
Ìö®Í≥ºÏóÜÏùå     5     2

In [63]:
# [2] ÌîºÏÖî Í≤ÄÏ†ï
from scipy.stats import fisher_exact

s, pvalue = fisher_exact(data, alternative='two-sided')
print(f'[Fisher Exact] statistics= {s:,.4f}, p-value= {pvalue:,.4f} --> {"H0 Í∏∞Í∞Å" if pvalue < 0.05 else "H0 Ï±ÑÌÉù"}')

[Fisher Exact] statistics= 0.0667, p-value= 0.1026 --> H0 Ï±ÑÌÉù

In [ ]:
help(fisher_exact)

In [ ]:
# [3] Í≤∞Í≥º

####2-4.ÏïÑÎÇ¥ÏôÄ ÎÇ®Ìé∏Ïùò ÏßëÏïàÏùº
- Í∑ÄÎ¨¥Í∞ÄÏÑ§ : ÏßëÏïàÏùºÏùò Ï¢ÖÎ•òÏôÄ ÏàòÌñâÌïòÎäî ÏÇ¨ÎûåÏùò Í¥ÄÍ≥ÑÎäî ÎèÖÎ¶ΩÏù¥Îã§.
- ÎåÄÎ¶ΩÍ∞ÄÏÑ§ : ÏßëÏïàÏùºÏùò Ï¢ÖÎ•òÏôÄ ÏàòÌñâÌïòÎäî ÏÇ¨ÎûåÏùò Í¥ÄÍ≥ÑÍ∞Ä ÎèÖÎ¶ΩÏù¥ ÏïÑÎãàÎã§.

In [65]:
# [1] crosstable ÌòïÌÉúÏùò Îç∞Ïù¥ÌÑ∞ ÏùΩÍ∏∞
import pandas as pd

data = pd.read_csv('./data_02/housetasks.csv', index_col=0)
print(data.shape)
print(data.info())

(13, 4)
<class 'pandas.core.frame.DataFrame'>
Index: 13 entries, Laundry to Holidays
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Wife         13 non-null     int64
 1   Alternating  13 non-null     int64
 2   Husband      13 non-null     int64
 3   Jointly      13 non-null     int64
dtypes: int64(4)
memory usage: 520.0+ bytes
None

In [66]:
data.head(2)

           Wife  Alternating  Husband  Jointly
Laundry     156           14        2        4
Main_meal   124           20        5        4

In [68]:
# [2] Ïπ¥Ïù¥Ï†úÍ≥± ÎèÖÎ¶ΩÏÑ± Í≤ÄÏ†ï
from scipy.stats import chi2_contingency

observed = data.copy()

s, pvalue, _, expected = chi2_contingency(observed)
print(f'[chisquare-ÎèÖÎ¶ΩÏÑ±] ùí≥¬≤= {s:,.4f}, p-value= {pvalue:,.4f} --> {"H0 Í∏∞Í∞Å" if pvalue < 0.05 else "H0 Ï±ÑÌÉù"}')
print('expected: ', pd.DataFrame(expected, index=observed.index, columns=observed.columns), sep='\n')
print('observed: ', observed, sep='\n')

[chisquare-ÎèÖÎ¶ΩÏÑ±] ùí≥¬≤= 1,944.4562, p-value= 0.0000 --> H0 Í∏∞Í∞Å
expected:
                 Wife  Alternating    Husband    Jointly
Laundry     60.550459    25.633028  38.449541  51.366972
Main_meal   52.637615    22.283257  33.424885  44.654243
Dinner      37.155963    15.729358  23.594037  31.520642
Breakfeast  48.165138    20.389908  30.584862  40.860092
Tidying     41.972477    17.768349  26.652523  35.606651
Dishes      38.876147    16.457569  24.686353  32.979931
Shopping    41.284404    17.477064  26.215596  35.022936
Official    33.027523    13.981651  20.972477  28.018349
Driving     47.821101    20.244266  30.366399  40.568234
Finances    38.876147    16.457569  24.686353  32.979931
Insurance   47.821101    20.244266  30.366399  40.568234
Repairs     56.766055    24.030963  36.046445  48.156537
Holidays    55.045872    23.302752  34.954128  46.697248
observed:
            Wife  Alternating  Husband  Jointly
Laundry      156           14        2        4
Main_meal    124           20        5        4
Dinner        77           11        7       13
Breakfeast    82           36       15        7
Tidying       53           11        1       57
Dishes        32           24        4       53
Shopping      33           23        9       55
Official      12           46       23       15
Driving       10           51       75        3
Finances      13           13       21       66
Insurance      8            1       53       77
Repairs        0            3      160        2
Holidays       0            1        6      153

In [ ]:
# [3] Í≤∞Í≥º

####2-5.Î∂ÑÎ•ò Î™®Îç∏ÏóêÏÑú ÌôúÏö©
- 2Í∞ú Î≤îÏ£ºÌòï Î≥ÄÏàòÏùò Í¥ÄÍ≥ÑÏóê ÎåÄÌï¥ Í≤ÄÏ†ïÌïúÎã§

In [69]:
# [1] ÌååÏùº Î∂àÎü¨Ïò§Í∏∞
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/1st_Train.csv')
X = data.drop(columns=['Reached.on.Time_Y.N'])
Y = data[['ID', 'Reached.on.Time_Y.N']]

In [71]:
print([x.shape for x in [X, Y]])

[(10999, 11), (10999, 2)]

In [73]:
#[2] X,YÍ∞Ä Î∂ÑÎ¶¨ÎêòÏñ¥ ÏûàÎäî Í≤ΩÏö∞ Î≥ëÌï©ÌïòÍ∏∞
data = pd.merge(X, Y, on='ID')

#[3] Ïª¨ÎüºÎ≥Ñ Í∞íÏùò Í∞ÄÏßìÏàò ÌôïÏù∏ÌïòÍ∏∞
data.nunique()

ID                     10999
Warehouse_block            5
Mode_of_Shipment           3
Customer_care_calls        6
Customer_rating            5
Cost_of_the_Product      215
Prior_purchases            8
Product_importance         3
Gender                     2
Discount_offered          65
Weight_in_gms           4034
Reached.on.Time_Y.N        2
dtype: int64

In [76]:
#[4] Î≤îÏ£ºÌòï Î≥ÄÏàò ÌôïÏù∏ÌïòÍ∏∞ 
# (ÏÑ§Î™ÖÏùÑ Î≥¥Í≥† ÌôïÏù∏ÌïòÎäî Í≤ÉÏù¥ Ï†ïÌôïÌï®)
x_features = ['Warehouse_block', 'Mode_of_Shipment', 'Product_importance', 'Gender', 'Customer_rating', 'Customer_care_calls', 'Prior_purchases']
y_feature = 'Reached.on.Time_Y.N'

for x_feature in x_features:
    print(data[x_feature].value_counts())

F    3666
D    1834
A    1833
B    1833
C    1833
Name: Warehouse_block, dtype: int64
Ship      7462
Flight    1777
Road      1760
Name: Mode_of_Shipment, dtype: int64
low       5297
medium    4754
high       948
Name: Product_importance, dtype: int64
F    5545
M    5454
Name: Gender, dtype: int64
3    2239
1    2235
4    2189
5    2171
2    2165
Name: Customer_rating, dtype: int64
4    3557
3    3217
5    2328
6    1013
2     638
7     246
Name: Customer_care_calls, dtype: int64
3     3955
2     2599
4     2155
5     1287
6      561
10     178
7      136
8      128
Name: Prior_purchases, dtype: int64

- (ÎèÖÎ¶Ω)Î≤îÏ£ºÌòï Î≥ÄÏàò : 'Warehouse_block', 'Mode_of_Shipment', 'Product_importance', 'Gender', 'Customer_rating', 'Customer_care_calls', 'Prior_purchases'
- (Ï¢ÖÏÜç)Î≤îÏ£ºÌòï Î≥ÄÏàò : 'Reached.on.Time_Y.N'
- Í∑ÄÎ¨¥Í∞ÄÏÑ§ : 'Reached.on.Time_Y.N'Í≥º featureÎäî ÎèÖÎ¶ΩÏù¥Îã§. (Ïó∞Í¥ÄÏÑ±Ïù¥ ÏóÜÎã§.)
- ÎåÄÎ¶ΩÍ∞ÄÏÑ§ : 'Reached.on.Time_Y.N'Í≥º featureÎäî ÎèÖÎ¶ΩÏù¥ ÏïÑÎãàÎã§. (Ïó∞Í¥ÄÏÑ±Ïù¥ ÏûàÎã§.)

In [81]:
# [5] Ïπ¥Ïù¥Ï†úÍ≥± ÎèÖÎ¶ΩÏÑ± Í≤ÄÏ†ï
from  scipy.stats import chi2_contingency

for x_feature in x_features:
    observed = pd.crosstab(data[y_feature], data[x_feature])
    _, pvalue, _, _ = chi2_contingency(observed)
    print(f'{x_feature:20s} vs {y_feature:10s} - {"Ïó∞Í¥ÄÏÑ± ÏûàÏùå" if pvalue < 0.05 else "Ïó∞Í¥ÄÏÑ± ÏóÜÏùå"}')

Warehouse_block      vs Reached.on.Time_Y.N - Ïó∞Í¥ÄÏÑ± ÏóÜÏùå
Mode_of_Shipment     vs Reached.on.Time_Y.N - Ïó∞Í¥ÄÏÑ± ÏóÜÏùå
Product_importance   vs Reached.on.Time_Y.N - Ïó∞Í¥ÄÏÑ± ÏûàÏùå
Gender               vs Reached.on.Time_Y.N - Ïó∞Í¥ÄÏÑ± ÏóÜÏùå
Customer_rating      vs Reached.on.Time_Y.N - Ïó∞Í¥ÄÏÑ± ÏóÜÏùå
Customer_care_calls  vs Reached.on.Time_Y.N - Ïó∞Í¥ÄÏÑ± ÏûàÏùå
Prior_purchases      vs Reached.on.Time_Y.N - Ïó∞Í¥ÄÏÑ± ÏûàÏùå

In [ ]:
# [6] Í≤∞Î°†

In [ ]:
def my_chi2(data, feature, target):
    pass

### 3.Wilcoxon Signed Rank Test
- ÏùºÌëúÎ≥∏/ÎåÄÏùëÌëúÎ≥∏ TÍ≤ÄÏ†ïÏóêÏÑú Ï†ïÍ∑úÏÑ± Í∞ÄÏ†ïÏù¥ ÎßåÏ°±ÎêòÏßÄ ÏïäÏùÑ Îïå ÏÇ¨Ïö©ÌïòÎäî ÎπÑÎ™®Ïàò Í≤ÄÏ†ïÎ≤ï
- ÏùºÌëúÎ≥∏/ÎåÄÏùëÌëúÎ≥∏ TÍ≤ÄÏ†ïÍ≥ºÎäî Îã¨Î¶¨ **Ï§ëÏïôÍ∞íÏóê Í¥ÄÌïú Í≤∞Í≥ºÎ•º ÏñªÏùÑ Ïàò ÏûàÏùå**.
- Í∞ÄÏ†ï
  1. ÌëúÎ≥∏ÏùÄ ÎèôÏùºÌïú Î™®ÏßëÎã®ÏóêÏÑú Ï∂îÏ∂úÎêòÏñ¥Ïïº ÌïúÎã§.
  2. ÌëúÎ≥∏ÏùÄ ÏûÑÏùò, ÎèÖÎ¶ΩÏ†ÅÏúºÎ°ú Ï∂îÏ∂úÎêòÏñ¥Ïïº ÌïúÎã§.

#### 3-1.ÏùºÌëúÎ≥∏(One Sample)
- alternative='two-sided'
   - H0: Î™®ÏßëÎã®Ïùò Ï§ëÏïôÍ∞íÏùÄ A Ïù¥Îã§.
   - H1: Î™®ÏßëÎã®Ïùò Ï§ëÏïôÍ∞íÏùÄ AÍ∞Ä ÏïÑÎãàÎã§.
- alternative='less'
   - H0: Î™®ÏßëÎã®Ïùò Ï§ëÏïôÍ∞íÏùÄ AÎ≥¥Îã§ ÌÅ¨Í±∞ÎÇò Í∞ôÎã§.
   - H1: Î™®ÏßëÎã®Ïùò Ï§ëÏïôÍ∞íÏùÄ AÎ≥¥Îã§ ÏûëÎã§.
- alternative='greater'
   - H0: Î™®ÏßëÎã®Ïùò Ï§ëÏïôÍ∞íÏùÄ AÎ≥¥Îã§ ÏûëÍ±∞ÎÇò Í∞ôÎã§.
   - H1: Î™®ÏßëÎã®Ïùò Ï§ëÏïôÍ∞íÏùÄ AÎ≥¥Îã§ ÌÅ¨Îã§.

Ï§ëÎüâÏù¥ 100g ÏúºÎ°ú ÌëúÍ∏∞Îêú Îã≠Í∞ÄÏä¥ÏÇ¥ Ï†úÌíàÏù¥ 100gÏù¥ÎùºÍ≥† Ìï† Ïàò ÏûàÎäîÍ∞Ä?
- ÎèôÏùºÌïú ÌöåÏÇ¨ Ï†úÌíàÏùÑ ÏûÑÏùòÎ°ú 9Í∞ú ÌëúÎ≥∏ Ï∂îÏ∂úÌïòÏòÄÏùå
- ÌÜµÍ≥ÑÏ†Å Ïú†ÏùòÏàòÏ§ÄÏùÄ 0.05Î°ú ÏÇ¨Ïö©Ìï®
- H0: Îã≠ Í∞ÄÏä¥ÏÇ¥ Ï§ëÎüâÏùò Ï§ëÏïôÍ∞íÏùÄ 100gÏù¥Îã§
- H1: Îã≠ Í∞ÄÏä¥ÏÇ¥ Ï§ëÎüâÏùò Ï§ëÏïôÍ∞íÏùÄ 100gÏù¥ ÏïÑÎãàÎã§

In [82]:
# [1] Îç∞Ïù¥ÌÑ∞ Í∞ÄÏ†∏Ïò§Í∏∞
import pandas as pd
df = pd.read_csv('./data_02/chicken_breast.csv')
print(df)

       weight
0  107.704526
1   96.505220
2  109.417631
3  109.696405
4   90.783694
5  107.871426
6  106.447983
7  104.484894
8   95.778403

In [83]:
# [2] Ï§ëÏïôÍ∞í Íµ¨ÌïòÍ∏∞
df['weight'].median()

106.447983025573

In [86]:
# [3] ÏúåÏΩïÏä® Í≤ÄÏ†ï Ïã§Ìñâ
from scipy.stats import wilcoxon 

s, pvalue = wilcoxon(df['weight']-100, alternative='two-sided')
print(f'[wilcoxon singed rank test] statistics= {s:,.4f}, p-value= {pvalue:,.4f} --> {"H0 Í∏∞Í∞Å" if pvalue < 0.05 else "H0 Ï±ÑÌÉù"}')

[wilcoxon singed rank test] statistics= 10.0000, p-value= 0.1641 --> H0 Ï±ÑÌÉù

In [ ]:
# [4] Í≤∞Í≥º

alternative='less'
- H0: Îã≠Í∞ÄÏä¥ÏÇ¥ Ï§ëÎüâÏùò Ï§ëÏïôÍ∞íÏùÄ 100 Î≥¥Îã§ ÌÅ¨Í±∞ÎÇò Í∞ôÎã§.
- H1: Îã≠Í∞ÄÏä¥ÏÇ¥ Ï§ëÎüâÏùò Ï§ëÏïôÍ∞íÏùÄ 100 Î≥¥Îã§ ÏûëÎã§.

In [91]:
from scipy.stats import wilcoxon 

s, pvalue = wilcoxon(df['weight']-100, alternative='less')
print(f'[wilcoxon singed rank test] statistics= {s:,.4f}, p-value= {pvalue:,.4f} --> {"H0 Í∏∞Í∞Å" if pvalue < 0.05 else "H0 Ï±ÑÌÉù"}')

[wilcoxon singed rank test] statistics= 35.0000, p-value= 0.9355 --> H0 Ï±ÑÌÉù

alternative='greater'
- H0: Îã≠Í∞ÄÏä¥ÏÇ¥ Ï§ëÎüâÏùò Ï§ëÏïôÍ∞íÏùÄ 100 Î≥¥Îã§ ÏûëÍ±∞ÎÇò Í∞ôÎã§.
- H1: Îã≠Í∞ÄÏä¥ÏÇ¥ Ï§ëÎüâÏùò Ï§ëÏïôÍ∞íÏùÄ 100 Î≥¥Îã§ ÌÅ¨Îã§.

In [95]:
from scipy.stats import wilcoxon

s, pvalue = wilcoxon(df['weight']-100, alternative='greater')
print(f'[wilcoxon singed rank test] statistics= {s:,.4f}, p-value= {pvalue:,.4f} --> {"H0 Í∏∞Í∞Å" if pvalue < 0.05 else "H0 Ï±ÑÌÉù"}')

[wilcoxon singed rank test] statistics= 35.0000, p-value= 0.0820 --> H0 Ï±ÑÌÉù

#### 3-2.ÎåÄÏùëÌëúÎ≥∏(Paired)
- alternative='two-sided'
    - H0: Í∞í Ï∞®Ïù¥(Ï≤òÎ¶¨ÌõÑ - Ï≤òÎ¶¨Ï†Ñ)Ïùò Ï§ëÏïôÍ∞íÏù¥ 0Ïù¥Îã§(=Í∞íÏùò Ï∞®Ïù¥Í∞Ä ÏóÜÎã§)
    - H1: Í∞í Ï∞®Ïù¥(Ï≤òÎ¶¨ÌõÑ - Ï≤òÎ¶¨Ï†Ñ)Ïùò Ï§ëÏïôÍ∞íÏù¥ 0Ïù¥ ÏïÑÎãàÎã§(=Í∞íÏùò Ï∞®Ïù¥Í∞Ä ÏûàÎã§)
- alternative='less'
    - H0: Í∞í Ï∞®Ïù¥(Ï≤òÎ¶¨ÌõÑ - Ï≤òÎ¶¨Ï†Ñ)Ïùò Ï§ëÏïôÍ∞íÏù¥ 0Î≥¥Îã§ ÌÅ¨Í±∞ÎÇò Í∞ôÎã§
    - H1: Í∞í Ï∞®Ïù¥(Ï≤òÎ¶¨ÌõÑ - Ï≤òÎ¶¨Ï†Ñ)Ïùò Ï§ëÏïôÍ∞íÏù¥ 0Î≥¥Îã§ ÏûëÎã§
- alternative='greater'
    - H0: Í∞í Ï∞®Ïù¥(Ï≤òÎ¶¨ÌõÑ - Ï≤òÎ¶¨Ï†Ñ)Ïùò Ï§ëÏïôÍ∞íÏù¥ 0Î≥¥Îã§ ÏûëÍ±∞ÎÇò Í∞ôÎã§
    - H1: Í∞í Ï∞®Ïù¥(Ï≤òÎ¶¨ÌõÑ - Ï≤òÎ¶¨Ï†Ñ)Ïùò Ï§ëÏïôÍ∞íÏù¥ 0Î≥¥Îã§ ÌÅ¨Îã§

Îã§Ïù¥Ïñ¥Ìä∏ ÌõÑ, Ï≤¥Ï§ëÏù¥ Ï§ÑÏóàÎã§Í≥† Ìï† Ïàò ÏûàÎäîÍ∞Ä? Î™∏Î¨¥Í≤å : ÎπÑÏú®Ï≤ôÎèÑ
- ÎèôÏùºÌïú ÌöåÏÇ¨ Ï†úÌíàÏùÑ ÏûÑÏùòÎ°ú 8Í∞ú ÌëúÎ≥∏ Ï∂îÏ∂úÌïòÏòÄÏùå
- ÌÜµÍ≥ÑÏ†Å Ïú†ÏùòÏàòÏ§ÄÏùÄ 0.05Î°ú ÏÇ¨Ïö©Ìï®

alternative='less'
- H0: Îã§Ïù¥Ïñ¥Ìä∏ ÌõÑ - Îã§Ïù¥Ïñ¥Ìä∏ Ï†Ñ Î™∏Î¨¥Í≤å Ï§ëÏïôÍ∞íÏùÄ 0Î≥¥Îã§ ÌÅ¨Í±∞ÎÇò Í∞ôÎã§ 
- H1: Îã§Ïù¥Ïñ¥Ìä∏ ÌõÑ - Îã§Ïù¥Ïñ¥Ìä∏ Ï†Ñ Î™∏Î¨¥Í≤å Ï§ëÏïôÍ∞íÏùÄ 0Î≥¥Îã§ ÏûëÎã§.

In [99]:
# [1] ÌååÏùº Î∂àÎü¨Ïò§Í∏∞
import pandas as pd
df = pd.read_csv('data_02/diet_result.csv')
print(df)

      before      after
0  60.038972  56.153355
1  58.566940  55.678046
2  62.200320  63.010597
3  68.522263  64.413353
4  54.802465  52.110032
5  55.437637  51.330742
6  64.700073  62.047727
7  65.030917  61.157653

In [ ]:
# scipy.stats.wilcoxon(x, y=None, zero_method='wilcox', correction=False, alternative='two-sided', mode='auto')
# The Wilcoxon signed-rank test tests the null hypothesis that two related paired samples come from the same distribution. 
# In particular, it tests whether the distribution of the differences x - y is symmetric about zero.
# It is a non-parametric version of the paired T-test.

In [100]:
# [2] wilcoxon sign rank sum - (paired t-testÏùò ÎπÑÎ™®Ïàò)
g_after = df['after']
g_before = df['before']

In [104]:
# [3] Í≤∞Í≥º
for feature in ['after', 'before']:
    print(f'{feature:7s} - Ï§ëÏïôÍ∞í: {df[feature].median():,.4f}')

after   - Ï§ëÏïôÍ∞í: 58.6555
before  - Ï§ëÏïôÍ∞í: 61.1196

alternative='two-sided'
- H0: Îã§Ïù¥Ïñ¥Ìä∏ ÌõÑ - Îã§Ïù¥Ïñ¥Ìä∏ Ï†Ñ Î™∏Î¨¥Í≤å Ï§ëÏïôÍ∞íÏùÄ 0Í≥º Í∞ôÎã§ 
- H1: Îã§Ïù¥Ïñ¥Ìä∏ ÌõÑ - Îã§Ïù¥Ïñ¥Ìä∏ Ï†Ñ Î™∏Î¨¥Í≤å Ï§ëÏïôÍ∞íÏùÄ 0Í≥º Îã§Î•¥Îã§

In [113]:
from scipy.stats import wilcoxon

s, pvalue = wilcoxon(g_after, g_before, alternative='two-sided')
print(f'[wilcoxon singed rank test (paired)] statistics= {s:,.4f}, p-value= {pvalue:,.4f} --> {"H0 Í∏∞Í∞Å" if pvalue < 0.05 else "H0 Ï±ÑÌÉù"}')

[wilcoxon singed rank test (paired)] statistics= 1.0000, p-value= 0.0156 --> H0 Í∏∞Í∞Å

alternative='less'
- H0: Îã§Ïù¥Ïñ¥Ìä∏ ÌõÑ - Îã§Ïù¥Ïñ¥Ìä∏ Ï†Ñ Î™∏Î¨¥Í≤å Ï§ëÏïôÍ∞íÏùÄ 0Î≥¥Îã§ ÌÅ¨Í±∞ÎÇò Í∞ôÎã§ 
- H1: Îã§Ïù¥Ïñ¥Ìä∏ ÌõÑ - Îã§Ïù¥Ïñ¥Ìä∏ Ï†Ñ Î™∏Î¨¥Í≤å Ï§ëÏïôÍ∞íÏùÄ 0Î≥¥Îã§ ÏûëÎã§

In [114]:
from scipy.stats import wilcoxon

s, pvalue = wilcoxon(g_after, g_before, alternative='less')
print(f'[wilcoxon singed rank test (paired)] statistics= {s:,.4f}, p-value= {pvalue:,.4f} --> {"H0 Í∏∞Í∞Å" if pvalue < 0.05 else "H0 Ï±ÑÌÉù"}')

[wilcoxon singed rank test (paired)] statistics= 1.0000, p-value= 0.0078 --> H0 Í∏∞Í∞Å

alternative='greater'
- H0: Îã§Ïù¥Ïñ¥Ìä∏ ÌõÑ - Îã§Ïù¥Ïñ¥Ìä∏ Ï†Ñ Î™∏Î¨¥Í≤å Ï§ëÏïôÍ∞íÏùÄ 0Î≥¥Îã§ ÏûëÍ±∞ÎÇò Í∞ôÎã§ 
- H1: Îã§Ïù¥Ïñ¥Ìä∏ ÌõÑ - Îã§Ïù¥Ïñ¥Ìä∏ Ï†Ñ Î™∏Î¨¥Í≤å Ï§ëÏïôÍ∞íÏùÄ 0Î≥¥Îã§ ÌÅ¨Îã§

In [112]:
from scipy.stats import wilcoxon

s, pvalue = wilcoxon(g_after, g_before, alternative='greater')
print(f'[wilcoxon singed rank test (paired)] statistics= {s:,.4f}, p-value= {pvalue:,.4f} --> {"H0 Í∏∞Í∞Å" if pvalue < 0.05 else "H0 Ï±ÑÌÉù"}')

[wilcoxon singed rank test (paired)] statistics= 1.0000, p-value= 0.9961 --> H0 Ï±ÑÌÉù

###4.ÎèÖÎ¶Ω 2ÌëúÎ≥∏(Two Sample)
- ÎèÖÎ¶Ω 2ÌëúÎ≥∏ TÍ≤ÄÏ†ïÏóêÏÑú Ï†ïÍ∑úÏÑ± Í∞ÄÏ†ïÏù¥ ÎßåÏ°±ÎêòÏßÄ ÏïäÏùÑ Îïå ÏÇ¨Ïö©ÌïòÎäî ÎπÑÎ™®Ïàò Í≤ÄÏ†ïÎ≤ï
- **Îëê ÌëúÎ≥∏Ïùò Ï§ëÏúÑÏàòÎ•º ÎπÑÍµê**ÌïòÎäîÎç∞ Ïì∞ÏûÑ
- Í∞ÄÏ†ï
   1. Îëê Í∑∏Î£πÏùÄ ÎèÖÎ¶ΩÏ†ÅÏù¥Îã§
   2. Ï∏°Ï†ïÍ∞íÏùÄ ÏµúÏÜå ÏàúÏÑúÌòï Î≥ÄÏàòÏù¥Îã§(ÎåÄÏÜå ÎπÑÍµêÍ∞Ä Í∞ÄÎä•Ìï¥Ïïº Ìï®)

- alternative='two-sided'
    - H0: gAÏùò Ï§ëÏïôÍ∞íÍ≥º gBÏùò Ï§ëÏïôÍ∞íÏù¥ Í∞ôÎã§(Ï∞®Ïù¥Í∞Ä ÏóÜÎã§)
    - H1: gAÏùò Ï§ëÏïôÍ∞íÍ≥º gBÏùò Ï§ëÏïôÍ∞íÏù¥ Îã§Î•¥Îã§(Ï∞®Ïù¥Í∞Ä ÏûàÎã§)
- alternative='less'
    - H0: gAÏùò Ï§ëÏïôÍ∞íÏù¥ gBÏùò Ï§ëÏïôÍ∞íÎ≥¥Îã§ ÌÅ¨Í±∞ÎÇò Í∞ôÎã§
    - H1: gAÏùò Ï§ëÏïôÍ∞íÏù¥ gBÏùò Ï§ëÏïôÍ∞íÎ≥¥Îã§ ÏûëÎã§
- alternative='greater'
    - H0: gAÏùò Ï§ëÏïôÍ∞íÏù¥ gBÏùò Ï§ëÏïôÍ∞íÎ≥¥Îã§ ÏûëÍ±∞ÎÇò Í∞ôÎã§
    - H1: gAÏùò Ï§ëÏïôÍ∞íÏù¥ gBÏùò Ï§ëÏïôÍ∞íÎ≥¥Îã§ ÌÅ¨Îã§

#### 4-1.Wilcoxon Rank Sum Test

AÏÇ¨ Îã≠Í∞ÄÏä¥ÏÇ¥ Ï†úÌíàÏùò Ï§ëÎüâÍ≥º BÏÇ¨ Îã≠Í∞ÄÏä¥ÏÇ¥ Ï†úÌíàÏùò Ï§ëÎüâÏù¥ Ï∞®Ïù¥Í∞Ä ÏûàÎäîÏßÄ ÌôïÏù∏
- AÏÇ¨ Îã≠Í∞ÄÏä¥ÏÇ¥ÏùÄ 40Í∞úÏùò ÌëúÎ≥∏, BÏÇ¨ Îã≠Í∞ÄÏä¥ÏÇ¥ÏùÄ 20Í∞úÏùò ÌëúÎ≥∏Ïù¥ ÏûàÏúºÎ©∞
- Í∞ÅÍ∞Å ÎèÖÎ¶ΩÏ†ÅÏù¥Í≥† ÏûÑÏùòÎ°ú Ï∂îÏ∂úÌñàÎã§
- ÌÜµÍ≥ÑÏ†Å Ïú†ÏùòÏàòÏ§ÄÏùÄ 0.05 ÏÇ¨Ïö©

alternative='two-sided'
- H0: AÏÇ¨ Îã≠Í∞ÄÏä¥ÏÇ¥ Ï§ëÎüâÍ≥º BÏÇ¨ Îã≠Í∞ÄÏä¥ÏÇ¥ Ï§ëÎüâÏùò Ï∞®Ïù¥Í∞Ä ÏóÜÎã§
- H1: AÏÇ¨ Îã≠Í∞ÄÏä¥ÏÇ¥ Ï§ëÎüâÍ≥º BÏÇ¨ Îã≠Í∞ÄÏä¥ÏÇ¥ Ï§ëÎüâÏùò Ï∞®Ïù¥Í∞Ä ÏûàÎã§

In [ ]:
# [1] ÌååÏùº Î∂àÎü¨Ïò§Í∏∞
import pandas as pd
df = pd.read_csv('data_02/chicken_weight_AB.csv')
df

In [ ]:
# [2] Í∑∏Î£π ÎÇòÎàÑÍ∏∞

scipy.stats.ranksums(x, y, alternative='two-sided')
- Compute the Wilcoxon rank-sum statistic for two samples.
- The Wilcoxon rank-sum test tests the null hypothesis that two sets of measurements are drawn from the same distribution. 
- The alternative hypothesis is that values in one sample are more likely to be larger than the values in the other sample.

- This test should be used to compare two samples from continuous distributions. 
- It does not handle ties between measurements in x and y. For tie-handling and an optional continuity correction see scipy.stats.mannwhitneyu.

In [ ]:
# [3] wilcoxon rank sum test (two sample)
from scipy.stats import ranksums

In [ ]:
# [4] Í≤∞Í≥º

alternative='less'
- H0: AÏÇ¨ Îã≠Í∞ÄÏä¥ÏÇ¥ Ï§ëÎüâÏù¥ BÏÇ¨ Îã≠Í∞ÄÏä¥ÏÇ¥ Ï§ëÎüâÎ≥¥Îã§ ÌÅ¨Í±∞ÎÇò Í∞ôÎã§
- H1: AÏÇ¨ Îã≠Í∞ÄÏä¥ÏÇ¥ Ï§ëÎüâÏù¥ BÏÇ¨ Îã≠Í∞ÄÏä¥ÏÇ¥ Ï§ëÎüâÎ≥¥Îã§ ÏûëÎã§

In [ ]:
# wilcoxon rank sum test (two sample)

alternative='greater'
- H0: AÏÇ¨ Îã≠Í∞ÄÏä¥ÏÇ¥ Ï§ëÎüâÏù¥ BÏÇ¨ Îã≠Í∞ÄÏä¥ÏÇ¥ Ï§ëÎüâÎ≥¥Îã§ ÏûëÍ±∞ÎÇò Í∞ôÎã§
- H1: AÏÇ¨ Îã≠Í∞ÄÏä¥ÏÇ¥ Ï§ëÎüâÏù¥ BÏÇ¨ Îã≠Í∞ÄÏä¥ÏÇ¥ Ï§ëÎüâÎ≥¥Îã§ ÌÅ¨Îã§

In [ ]:
# wilcoxon rank sum test (two sample)
from scipy.stats import ranksums

#### 4-2.Mann-Whitney U test

scipy.stats.mannwhitneyu(x, y, use_continuity=True, alternative='two-sided', axis=0, method='auto')
- Perform the Mann-Whitney U rank test on two independent samples.
- The Mann-Whitney U test is a nonparametric test of the null hypothesis that the distribution underlying sample x is the same as the distribution underlying sample y.

alternative='two-sided'
- H0: AÏÇ¨ Îã≠Í∞ÄÏä¥ÏÇ¥ Ï§ëÎüâÍ≥º BÏÇ¨ Îã≠Í∞ÄÏä¥ÏÇ¥ Ï§ëÎüâÏùò Ï∞®Ïù¥Í∞Ä ÏóÜÎã§
- H1: AÏÇ¨ Îã≠Í∞ÄÏä¥ÏÇ¥ Ï§ëÎüâÍ≥º BÏÇ¨ Îã≠Í∞ÄÏä¥ÏÇ¥ Ï§ëÎüâÏùò Ï∞®Ïù¥Í∞Ä ÏûàÎã§

In [ ]:
# [1] Mann-Whitney U test (two sample)
from scipy.stats import mannwhitneyu

In [ ]:
# [2] Í≤∞Í≥º

alternative='less'
- H0: AÏÇ¨ Îã≠Í∞ÄÏä¥ÏÇ¥ Ï§ëÎüâÏù¥ BÏÇ¨ Îã≠Í∞ÄÏä¥ÏÇ¥ Ï§ëÎüâÎ≥¥Îã§ ÌÅ¨Í±∞ÎÇò Í∞ôÎã§
- H1: AÏÇ¨ Îã≠Í∞ÄÏä¥ÏÇ¥ Ï§ëÎüâÏù¥ BÏÇ¨ Îã≠Í∞ÄÏä¥ÏÇ¥ Ï§ëÎüâÎ≥¥Îã§ ÏûëÎã§

alternative='greater'
- H0: AÏÇ¨ Îã≠Í∞ÄÏä¥ÏÇ¥ Ï§ëÎüâÏù¥ BÏÇ¨ Îã≠Í∞ÄÏä¥ÏÇ¥ Ï§ëÎüâÎ≥¥Îã§ ÏûëÍ±∞ÎÇò Í∞ôÎã§
- H1: AÏÇ¨ Îã≠Í∞ÄÏä¥ÏÇ¥ Ï§ëÎüâÏù¥ BÏÇ¨ Îã≠Í∞ÄÏä¥ÏÇ¥ Ï§ëÎüâÎ≥¥Îã§ ÌÅ¨Îã§

### 5.Kruskal-Wallis H-test
- Î∂ÑÏÇ∞ Î∂ÑÏÑù(ANOVA)ÏóêÏÑú Ï†ïÍ∑úÏÑ± Í∞ÄÏ†ïÏù¥ ÎßåÏ°±ÎêòÏßÄ ÏïäÏùÑ Îïå ÏÇ¨Ïö©ÌïòÎäî ÎπÑÎ™®Ïàò Í≤ÄÏ†ïÎ≤ï
- ANOVAÏôÄÎäî Îã¨Î¶¨ Ï§ëÏïôÍ∞íÏóê Í¥ÄÌïú Í≤∞Í≥ºÎ•º ÏñªÏùÑ Ïàò ÏûàÏùå
- Í∞ÄÏ†ï
  1. ÌëúÎ≥∏ÏùÄ ÎèÖÎ¶ΩÏ†ÅÏù¥Îã§.
  2. Ï∏°Ï†ïÍ∞íÏùÄ ÏµúÏÜå ÏàúÏÑúÌòï Î≥ÄÏàòÏù¥Îã§. (ÎåÄÏÜå ÎπÑÍµêÍ∞Ä Í∞ÄÎä•Ìï¥Ïïº Ìï©ÎãàÎã§.)
- Í∞ÄÏÑ§
  - H0: Î™®Îì† Í∑∏Î£πÏùò Ï§ëÏïôÍ∞íÏùÄ ÏÑúÎ°ú Í∞ôÎã§
  - H1: Î™®Îì† Í∑∏Î£πÏùò Ï§ëÏïôÍ∞íÏù¥ Ï†ÑÎ∂Ä Í∞ôÏùÄ Í≤ÉÏùÄ ÏïÑÎãàÎã§

scipy.stats.kruskal(*args, nan_policy='propagate')[source]
- The Kruskal-Wallis H-test tests the null hypothesis that the population median of all of the groups are equal. 
- It is a non-parametric version of ANOVA. The test works on 2 or more independent samples, which may have different sizes. 
- Note that rejecting the null hypothesis does not indicate which of the groups differs. 
- Post hoc comparisons between groups are required to determine which groups are different.

####5-1.KÍ∞ú Sample
- A, B, C Í≥†Îì±ÌïôÍµê ÌïôÏÉùÎì§Ïùò ÌïòÎ£® Í≥µÎ∂Ä ÏãúÍ∞ÑÏùÑ Ï°∞ÏÇ¨ÌñàÏùÑ Îïå,Í≥†Îì±ÌïôÍµê Í∞ÑÏóê Í≥µÎ∂Ä ÏãúÍ∞ÑÏù¥ Ï∞®Ïù¥Í∞Ä ÏûàÎäîÏßÄ ÌôïÏù∏
- ÌÜµÍ≥ÑÏ†Å Ïú†ÏùòÏàòÏ§ÄÏùÄ 0.05

- H0: A,B,C Í≥†Îì±ÌïôÍµê ÌïôÏÉùÎì§Ïùò ÌïòÎ£® Í≥µÎ∂ÄÏãúÍ∞ÑÏóê Ï∞®Ïù¥Í∞Ä ÏóÜÎã§
- H1: A,B,C Í≥†Îì±ÌïôÍµê ÌïôÏÉùÎì§Ïùò ÌïòÎ£® Í≥µÎ∂ÄÏãúÍ∞ÑÏóê Ï∞®Ïù¥Í∞Ä ÏûàÎã§

In [ ]:
# [1] ÌååÏùº Î∂àÎü¨Ïò§Í∏∞
import pandas as pd
df = pd.read_csv('data_02/high_school.csv')
df.head(2)

  group       time
0     A  12.525909
1     A   9.347533

In [ ]:
# [2] Í∑∏Î£π ÎÇòÎàÑÍ∏∞

In [ ]:
# [3] Kruskal-Wallis Test
from scipy.stats import kruskal

In [ ]:
# [4] Í≤∞Í≥º

In [ ]:
# [5] ANOVA Test

In [ ]:
# Îì±Î∂ÑÏÇ∞ÏÑ± Í≤ÄÏ†ïÏùÄ??  (Í∞ïÏùò ÎÇ¥Ïö©Ïóê ÏóÜÏßÄÎßå ÌôïÏù∏!)
from scipy.stats import bartlett
bartlett(gA, gB, gC)

#### 5-2.Î∂ÑÎ•ò Î™®Îç∏ÏóêÏÑú ÌôúÏö©
- 1Í∞ú Ïó∞ÏÜçÌòï Î≥ÄÏàò, 1Í∞ú Î≤îÏ£ºÌòï Î≥ÄÏàò (4Í∞ú Î≤îÏ£º)
- Î≤îÏ£ºÎ≥ÑÎ°ú Ïó∞ÏÜçÌòï Î≥ÄÏàòÏùò ÌèâÍ∑† Ï∞®Ïù¥Í∞Ä ÏûàÎäîÏßÄ Í≤ÄÏ†ïÌïúÎã§

In [ ]:
# [1] Îç∞Ïù¥ÌÑ∞ ÏùΩÏñ¥Ïò§Í∏∞ (4ÌöåÍ∏∞Ï∂ú)
import pandas as pd

data = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/train_04.csv')
data.head(2)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,4
1,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,2

In [ ]:
# [2] Í∑∏Î£π ÎÇòÎàÑÍ∏∞ - Ï¢ÖÏÜçÎ≥ÄÏàò Age, ÎèÖÎ¶ΩÎ≥ÄÏàò Segmentation
groups = [x.values for _, x in data.groupby('Segmentation')['Age']]
groups

[array([26, 49, 33, ..., 39, 31, 48]),
 array([67, 67, 58, ..., 41, 27, 37]),
 array([56, 32, 55, ..., 52, 37, 65]),
 array([22, 33, 61, ..., 39, 35, 33])]

In [ ]:
# [3] Ï†ïÍ∑úÏÑ± Í≤ÄÏ†ï
from scipy.stats import shapiro

In [ ]:
# [4] 'Segmentation' Í∑∏Î£πÎ≥Ñ 'Age'Ïùò Ï§ëÏïôÍ∞í Íµ¨ÌïòÍ∏∞

In [ ]:
# [5] ÌÅ¨Î£®Ïä§Ïπº-ÏôàÎ¶¨Ïä§ Í≤ÄÏ†ï ÏàòÌñâ
# Í∑ÄÎ¨¥Í∞ÄÏÑ§ : SegmentationÎ≥Ñ AgeÏùò Ï∞®Ïù¥Í∞Ä ÏóÜÎã§
# ÎåÄÎ¶ΩÍ∞ÄÏÑ§ : SegmentationÎ≥Ñ AgeÏùò Ï∞®Ïù¥Í∞Ä ÏûàÎã§
from scipy.stats import kruskal