## 0.데이터 가져오기

In [ ]:
!git clone https://github.com/Soyoung-Yoon/bigdata

Cloning into 'bigdata'...
remote: Enumerating objects: 50, done.
remote: Total 50 (delta 0), reused 0 (delta 0), pack-reused 50
Unpacking objects: 100% (50/50), done.

## 1.기출문제 (빅분기 실기 4회)

#### 1-1. 
웹과 애플리케이션에서 데이터 객체를 '속성과 값'의 쌍의 형태로 표현하는 형식으로 자바스크립트를 토대로 개발되었으며 독립형 언어이며 텍스트로 기술하여 사람도 쉽게 읽고 작성할 수 있다.

In [ ]:
JSON

#### 1-2. 
(     )은 통계학에서 적합한 회귀식에 의한 예측치와 관찰치의 차이인 잔차들의 제곱의 합이 최소가 되도록 회귀계수를 추정하는 방법을 말한다.

In [ ]:
최소제곱법

#### 1-3.
정규분포가 아닌 데이터를 정규분포에 가깝게 만들거나 데이터 분산을 안정화하는 기법으로 lambda 값에 따라 정도가 달라지는데 이 값이 클수록 고차원의 함수를 사용한다.

In [ ]:
Boxcox

#### 1-4.
많은 컬럼을 가지는 다차원 데이터셋은 공통된 특성을 많이 가지고 있어서 상대적으로 적은 차원에서 학습한 모델에 비해 예측의 성능이 저하되는 등의 문제가 발생한다. 이를 방지하기 위해 일반적으로 서로 상관성이 높은 변수들을 요약하고 축소하는 주성분분석과 같은 (         ) 방법이 사용된다.

In [ ]:
차원 축소

#### 1-5.
다음이 설명하는 것은 무엇인가? 
- (가) 대뇌피질의 시각피질을 모델화한 인공신경망의 일종이다
- (나) 군집분석 방법의 하나이다
- (다) 자율학습의 방법으로 훈련이 되며, 저차원의 지도를 생성한다.

In [ ]:
SOM

#### 1-6.
선형회귀분석에서 아래 설명은 어떤한 가정을 확인하기 위한 것인가?
- (가) 오차가 정규분포를 따른다
- (나) Q-Q플롯을 그린다
- (다) 잔차가 특정 범위 내에 안정적으로 분포되어 있다

In [ ]:
정규성

#### 1-7. 
다음은 무엇에 관한 내용인가?
- 기계학습 분야 중 하나로 패턴인식 등을 위한 지도학습 모델임
- 주어진 데이터 집합을 바탕으로 생로운 데이터가 어떤 범주에 속할 것인지를 판단함
- 데이터가 사상된 공간에서 경계로 표현되며, 공간상에 존재하는 여러 경계 중 가장 큰 폭을 가진 경계를 찾음
- 고차원 혹은 무한 차원의 공간에서 마진을 최대화하는 초평면을 찾음

In [ ]:
SVM(Support Vector Machine)

#### 1-8. 
인공신경망 모형에서 과적합을 방지하기 위해 사용하는 방법 중 하나로 신경망의 은닉층의 뉴런을 임의로 제거한다.

In [ ]:
드롭 아웃

#### 1-9.
(     )은 정형데이터 수집 기술로 관계형 데이터베이스(RDB)와 분산 파일 시스템(HDFS) 간의 데이터 변환을 위한 도구로 구조화된 데이터 저장소 간에 대량 데이터를 효율적으로 전송하도록 설계되었다.

In [ ]:
Sqoop(스쿱)

#### 1-10.
이진분류에서 Recall=0.8 이고 Precision = 0.6 일 때 f1-score를 계산하고 소수점 셋째 자리까지 나타내어라

In [ ]:
#f1_score = (2 * P * R) / (P + R)
(2 * 0.8 * 0.6) / (0.8 + 0.6)

0.6857142857142857

In [ ]:
JSON(JavaScript Object Notation)
최소제곱법
박스콕스(box cox)
차원축소(Dimensionality Reduction)
자기조직화지도(Self-Organizing Map, SOM)
정규성
서포트 벡터 머신(Support Vector Machine, SVM)
드롭아웃(dropout)
스쿱
f1스코어 계산 -> 0.686

In [ ]:
!git clone https://github.com/Soyoung-Yoon/bigdata

## 2.기출문제 (빅분기 실기 4회)

#### 2-1. 신상 데이터
age 컬럼에 대해 아래의 과정을 수행하고 (다) 단계의 결과값을 출력하여라.
- (가) 제 1사분위수와 제 3사분위수를 구하기
- (나) 두 값의 차이 절댓값 구하기
- (다) 그 값의 소수점 버리기

In [ ]:
# 'https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/basic1_data04.csv'  파일 사용

In [ ]:
import pandas as pd

df = pd.read_csv('bigdata/basic1_data04.csv')
#print(df.head(2))

# 1사분위수, 3사분위수 구하기
Q1, Q3 = df['age'].quantile([0.25, 0.75])

# 3사분위수 - 1사분위수해서 절대값을 구하고, 정수로 변환하기
result = int(abs(Q3 - Q1))

# 결과 출력하기
print(result)

50

In [ ]:
# 정답 : 50

#### 2-2. Facebook 데이터

Facebook 데이터셋을 불러와 (loves반응 + wows반응)/(reactions반응) 비율이 0.4보다 크고 0.5보다 작으면서, type이 'video'인 데이터의 갯수를 구하여라
- 'https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/fb_data04.csv' 파일 사용

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/fb_data04.csv")
df.head(2)

,id,type,reactions,comments,shares,likes,loves,wows,hahas,sads,angrys
0,1,video,529,512,262,432,92,3,1,1,0
1,2,photo,150,0,0,150,0,0,0,0,0

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/fb_data04.csv")

# (loves반응 + wows반응)/(reactions반응) 구하기
rate = (df['loves'] + df['wows'])/ df['reactions']

# 비율이 0.4보다 크고 0.5보다 작으면서 type이 'video' 인 데이터 개수구하기
cond1 = rate > 0.4
cond2 = rate < 0.5
cond3 = df['type'] == 'video'
result = len(df[cond1 & cond2 & cond3])

# 결과 출력하기
print(result)

90

#### 2-3. 넷플릭스 데이터 
netflix_subset 데이터셋에서 date_added가 2018년 1월이면서 country가 United Kingdom 단독 제작인 데이터의 개수를 구하여라

In [ ]:
'https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/nf_data04.csv'

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/nf_data04.csv")

# 'date_added'의 결측치를 "" 으로 채우기
df['date_added'] = df['date_added'].fillna("")

# country가 'United Kingdom' 인 것에 대한 조건 작성
cond1 = df['country'] == "United Kingdom"

# date_added에 2018, january가 들어 있는 것에 대한 조건 작성
cond2 = df['date_added'].str.contains("2018")
cond3 = df['date_added'].str.contains("January")
result = len(df[cond1 & cond2 & cond3])
print(result)

6

In [ ]:
cond1 = df['country'] == "United Kingdom"

# 날짜시간 타입으로 변경하여 작성
df['date_added'] = df['date_added'].astype('datetime64')
cond2 = df['date_added'] >= '2018-01-01'
cond3 = df['date_added'] <= '2018-01-31'

result = len(df[cond1 & cond2 & cond3])
print(result)

6

In [ ]:
cond1 = df['country'] == "United Kingdom"
# 위의 astype() 사용과 결과는 같음
df['date_added'] = pd.to_datetime(df['date_added'])   

cond2 = df['date_added'].between('2018-1-1', '2018-1-31')
result = len(df[cond1 & cond2])
print(result)

6

## 3.기출문제 (빅분기 실기 4회)
자동차 시장 세분화
- 자동차 회사는 새로운 전략을 수립하기 위해 4개의 시장으로 세분화했습니다.
- 기존 고객 분류 자료를 바탕으로 신규 고객이 어떤 분류에 속할지 예측해주세요!
- 예측할 값(y): "Segmentation" (1,2,3,4)
- 평가: Macro f1-score
- 제출형식

        ID,Segmentation
        458989,1
        458994,2
        459000,3
        459003,4

- 다음의 데이터 파일 준비를 실행해서 x_train.csv, y_train.csv, x_test.csv 파일을 준비합니다.

### 3-01.데이터 불러오기, 탐색

In [ ]:
# 데이터 파일 준비
# 그냥 실행해서 사용 파일을 생성하도록 합니다.
import pandas as pd

train = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/train_04.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/test_04.csv')
train.head(2)
X_train = train.iloc[:, :-1]
Y_train = train[['ID', 'Segmentation']]
X_train.to_csv('X_train.csv', index=False)
Y_train.to_csv('Y_train.csv', index=False)
test.to_csv('X_test.csv', index=False)
print('파일을 준비했습니다!  X_train.csv, Y_train.csv, X_test.csv !')

파일을 준비했습니다!  X_train.csv, Y_train.csv, X_test.csv !

In [ ]:
# [0] 사용 라이브러리 import
import pandas as pd

# 데이타가 많은경우 모두 출력 안되고 ... 으로 생략해서 출력됨.
pd.set_option('display.max_rows',500)    #출력할 max row를 지정
pd.set_option('display.max_columns',20)  #출력할 max columns를 지정
#출력 format 지정 - 소수점아래 4자리까지
pd.set_option('display.float_format', '{:.2f}'.format)

In [ ]:
# [1] x_train.csv, y_train.csv, x_test.csv 읽어오기
X = pd.read_csv('X_train.csv')
Y = pd.read_csv('Y_train.csv')
X_submission = pd.read_csv('X_test.csv')
print(X.shape, Y.shape, X_submission.shape)

(6665, 10) (6665, 2) (2154, 10)

In [ ]:
# [2] 전처리를 위해 X, X_submission 합치기 (필수는 아님)
dfX = pd.concat([X, X_submission])
dfX.head(3)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,462809,Male,No,22,No,Healthcare,1.00,Low,4.00,Cat_4
1,466315,Female,Yes,67,Yes,Engineer,1.00,Low,1.00,Cat_6
2,461735,Male,Yes,67,Yes,Lawyer,0.00,High,2.00,Cat_6

In [ ]:
# [3] df의 정보 확인 
dfX.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8819 entries, 0 to 2153
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               8819 non-null   int64
 1   Gender           8819 non-null   object
 2   Ever_Married     8819 non-null   object
 3   Age              8819 non-null   int64
 4   Graduated        8819 non-null   object
 5   Profession       8819 non-null   object
 6   Work_Experience  8819 non-null   float64
 7   Spending_Score   8819 non-null   object
 8   Family_Size      8819 non-null   float64
 9   Var_1            8819 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 757.9+ KB

### 3-02.데이터 전처리

In [ ]:
# [4] 결측치 점검 - 결측치 없으므로 결측치 대체 처리 안해도 됨!!
dfX.isna().sum()

ID                 0
Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
Var_1              0
dtype: int64

In [ ]:
# [5] 각컬럼별 고윳값 개수 확인 (1인 것이 있으면 제거, 가짓수가 적은 것들은 범주형)
# 제거할 변수는 없음
# Gender, Ever_Married, Graduated, Profession, Spending_Score, Var_1 등이 범주형으로 보임
dfX.nunique()

ID                 6916
Gender                2
Ever_Married          2
Age                  67
Graduated             2
Profession            9
Work_Experience      15
Spending_Score        3
Family_Size           9
Var_1                 7
dtype: int64

In [ ]:
# [6] Y 값의 분포 확인 - 범주별 분포가 비슷한지 차이가 큰지 확인 (범주별 균등한 것으로 보임)
Y.info()
Y['Segmentation'].value_counts(normalize=True).sort_index()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6665 entries, 0 to 6664
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            6665 non-null   int64
 1   Segmentation  6665 non-null   int64
dtypes: int64(2)
memory usage: 104.3 KB

1   0.24
2   0.24
3   0.26
4   0.26
Name: Segmentation, dtype: float64

In [ ]:
# [7] 범주형 데이터에 대해 Label Encoding
features = ['Gender', 'Ever_Married', 'Graduated', 'Profession', 'Spending_Score', 'Var_1']
for x in features:
    dfX[x] = dfX[x].astype('category').cat.codes
dfX.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8819 entries, 0 to 2153
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               8819 non-null   int64
 1   Gender           8819 non-null   int8
 2   Ever_Married     8819 non-null   int8
 3   Age              8819 non-null   int64
 4   Graduated        8819 non-null   int8
 5   Profession       8819 non-null   int8
 6   Work_Experience  8819 non-null   float64
 7   Spending_Score   8819 non-null   int8
 8   Family_Size      8819 non-null   float64
 9   Var_1            8819 non-null   int8
dtypes: float64(2), int64(2), int8(6)
memory usage: 396.2 KB

In [ ]:
dfX.head(2)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,462809,1,0,22,0,5,1.00,2,4.00,3
1,466315,0,1,67,1,2,1.00,2,1.00,5

### 3-03.데이터 분리, 모델 생성 및 학습

In [ ]:
# [8] 사용할 도구 import
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier

In [ ]:
# [9] train score, test score, roc_auc_score 를 반환하는 함수 작성
from sklearn.metrics import f1_score
def get_scores(model, xtrain, xtest, ytrain, ytest):
    A = model.score(xtrain, ytrain)
    B = model.score(xtest, ytest)
    ypred = model.predict(xtest)
    C = f1_score(ytest, ypred, average='macro')  # f1_score with macro
    return '{:.4f} {:.4f} {:.4f}'.format(A, B, C)

In [ ]:
# [10] 다양한 모델을 만들고 성능을 출력하는 함수 작성
def make_models(xtrain, xtest, ytrain, ytest):
    model1 = LogisticRegression().fit(xtrain, ytrain)
    print('model1', get_scores(model1, xtrain, xtest, ytrain, ytest))
    for k in range(1, 10):
        model2 = KNeighborsClassifier(k).fit(xtrain, ytrain)
        print('model2', k, get_scores(model2, xtrain, xtest, ytrain, ytest))

    # overfitting
    model3 = DecisionTreeClassifier(random_state=0).fit(xtrain, ytrain)
    print('model3', get_scores(model3, xtrain, xtest, ytrain, ytest))

    # overfitting 해결
    for d in range(3, 8):
        model3 = DecisionTreeClassifier(max_depth=d,random_state=0).fit(xtrain, ytrain)
        print('model3', d, get_scores(model3, xtrain, xtest, ytrain, ytest))

    # overfitting
    model4 = RandomForestClassifier(random_state=0).fit(xtrain, ytrain)
    print('model4', get_scores(model4, xtrain, xtest, ytrain, ytest))

    # overfitting 해결
    for d in range(3, 8):
        model4 = RandomForestClassifier(500, max_depth=d, random_state=0).fit(xtrain, ytrain)
        print('model4', d, get_scores(model4, xtrain, xtest, ytrain, ytest))

    model5 = XGBClassifier(random_state=0).fit(xtrain, ytrain)
    print('model5', get_scores(model5, xtrain, xtest, ytrain, ytest))

In [ ]:
X.shape

(6665, 10)

In [ ]:
# [11] X를 train 용도, submission 용도로 나누고, Y를 1차원으로 바꿈 (MinMaxScaler 적용)
def get_data(dfX, Y):
    X = dfX.drop(columns=['ID'])
    X_use = X.iloc[:6665, :]
    X_submission = X.iloc[6665:, :]
    Y1 = Y['Segmentation']
    scaler = MinMaxScaler()
    X1_use = scaler.fit_transform(X_use)
    X1_submission = scaler.transform(X_submission)
    print(X1_use.shape, Y1.shape, X1_submission.shape)
    return X1_use, X1_submission, Y1

In [ ]:
# [11] X를 train 용도, submission 용도로 나누고, Y를 1차원으로 바꿈 (MinMaxScaler 적용)
# MinMaxScaler()를 먼저 적용한 경우 
# X_scaled 는 ndarray 이므로 .iloc 을 적지 않고 ndarray의 slice 를 사용하여 분리한다
def get_data2(dfX, Y):
    X = dfX.drop(columns=['ID'])
    scaler = MinMaxScaler()
    X_scaled = scaler.fit_transform(X)
    X_use = X_scaled[:6665, :]
    X_submission = X_scaled[6665:, :]
    Y1 = Y['Segmentation']
    print(X_use.shape, Y1.shape, X_submission.shape)
    return X_use, X_submission, Y1

In [ ]:
# [12] 모델링 수행하기

# X, Y 분리하기
X1_use, X1_submission, Y1 = get_data2(dfX, Y)

# train, test  7:3 분할, stratify 적용, random_state=0 적용
xtrain1, xtest1, ytrain1, ytest1 = train_test_split(X1_use, Y1, 
                                                    test_size = 0.2,
                                                    stratify=Y1, random_state=0)
# 다양한 모델 만들어 보기 - 확인 후 반드시 주석!
make_models(xtrain1, xtest1, ytrain1, ytest1)

<class 'numpy.ndarray'> <class 'numpy.ndarray'>
(6665, 9) (6665,) (2154, 9)
model1 0.4989 0.5191 0.4833
model2 1 0.9586 0.4651 0.4634
model2 2 0.7125 0.4276 0.4315
model2 3 0.6857 0.4861 0.4852
model2 4 0.6470 0.4764 0.4765
model2 5 0.6332 0.4966 0.4948
model2 6 0.6210 0.5034 0.4997
model2 7 0.6067 0.5011 0.4954
model2 8 0.6007 0.5079 0.5008
model2 9 0.5896 0.5049 0.4968
model3 0.9606 0.4539 0.4498
model3 3 0.4893 0.4944 0.4821
model3 4 0.5242 0.5304 0.5078
model3 5 0.5353 0.5311 0.5125
model3 6 0.5518 0.5341 0.5217
model3 7 0.5630 0.5296 0.5162
model4 0.9606 0.4974 0.4910
model4 3 0.5161 0.5206 0.4933
model4 4 0.5268 0.5266 0.5051
model4 5 0.5459 0.5446 0.5315
model4 6 0.5668 0.5454 0.5338
model4 7 0.5928 0.5469 0.5357
model5 0.5698 0.5529 0.5405

In [ ]:
# 위의 결과에서는 model4 8 0.6313 0.5484 0.5388 가 좋았지만 제출점수는 (0.31804) 이었음
# model5 0.5698 0.5529 0.5405 도 마찬가지로 (0.31xxx)
# 제출해서 점수를 얻은 결과는 model4 5 0.5459 0.5446 0.5315로 train, test가 비슷한 것으로
# 제출점수가 (0.32684)로 약간 좋았음

# 제출해서 점수 볼 수 있는 곳
# https://www.kaggle.com/competitions/big-data-analytics-certification-kr-2022/submissions

In [ ]:
# [13] 최종적으로 사용할 모델을 선택하여 model로 다시 생성합니다.
# 위의 make_models 꼭 주석하세요!!
model = RandomForestClassifier(500, max_depth=5, random_state=0).fit(xtrain1, ytrain1)
print('final model', get_scores(model, xtrain1, xtest1, ytrain1, ytest1))

final model 0.5459 0.5446 0.5315

### 3-04.제출할 데이터 생성

In [ ]:
# [14] test 데이터에 대한 예측값 구하기, 파일로 저장하기
ypred = model.predict(X1_submission)
submission = pd.DataFrame({
         "ID": X_submission["ID"],
         "Segmentation": ypred
     })
submission.to_csv('submission.csv', index=False)  ## 수험번호.csv
print(submission.shape)

(2154, 2)

In [ ]:
# [15] submission 확인
submission.head(5)

       ID  Segmentation
0  458989             1
1  458994             2
2  459000             3
3  459003             2
4  459005             2

## **시험보러 가서 요렇게**
- 작성 중에 출력해서 보고, 주석으로 처리, 꼭 필요한 작업만 하세요.  make_models도 앙상블 위주로!
- 1개 셀에 모두 작성하게 됩니다. (goorm 환경에서 꼭 실습하세요)
- print()로 출력 후에 주석을 취하세요.
- 필요한 결과는 복사해서 주석으로 넣으세요.
- 마지막 파일의 형식에 대해서 시험 가이드에 맞춰야 합니다.  (5회는 predict 값만 출력해야 한다고 가이드가 있습니다.)

In [ ]:
# 데이터 파일 준비
# 그냥 실행해서 사용 파일을 생성하도록 합니다.
import pandas as pd

train = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/train_04.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/test_04.csv')
train.head(2)
X_train = train.iloc[:, :-1]
Y_train = train[['ID', 'Segmentation']]
X_train.to_csv('X_train.csv', index=False)
Y_train.to_csv('Y_train.csv', index=False)
test.to_csv('X_test.csv', index=False)
print('파일을 준비했습니다!  X_train.csv, Y_train.csv, X_test.csv !')

In [ ]:
# [0] 사용 라이브러리 import
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import f1_score

# 데이타가 많은경우 모두 출력 안되고 ... 으로 생략해서 출력됨.
pd.set_option('display.max_rows',500)    #출력할 max row를 지정
pd.set_option('display.max_columns',20)  #출력할 max columns를 지정
#출력 format 지정 - 소수점아래 4자리까지
pd.set_option('display.float_format', '{:.2f}'.format)

# [1] x_train.csv, y_train.csv, x_test.csv 읽어오기
X = pd.read_csv('X_train.csv')
Y = pd.read_csv('Y_train.csv')
X_submission = pd.read_csv('X_test.csv')
#print(X.shape, Y.shape, X_submission.shape)

# [2] 전처리를 위해 X, X_submission 합치기 (필수는 아님)
dfX = pd.concat([X, X_submission])
#dfX.head(3)

# [3] df의 정보 확인 
#dfX.info()

# [4] 결측치 점검 - 결측치 없으므로 결측치 대체 처리 안해도 됨!!
#dfX.isna().sum()

# [5] 각컬럼별 고윳값 개수 확인 (1인 것이 있으면 제거, 가짓수가 적은 것들은 범주형)
# 제거할 변수는 없음
# Gender, Ever_Married, Graduated, Profession, Spending_Score, Var_1 등이 범주형으로 보임
#dfX.nunique()

# [6] Y 값의 분포 확인 - 범주별 분포가 비슷한지 차이가 큰지 확인 (범주별 균등한 것으로 보임)
#Y.info()
#print(Y['Segmentation'].value_counts(normalize=True).sort_index())

# [7] 범주형 데이터에 대해 Label Encoding
features = ['Gender', 'Ever_Married', 'Graduated', 'Profession', 'Spending_Score', 'Var_1']
for x in features:
    dfX[x] = dfX[x].astype('category').cat.codes
#dfX.info()


# [8] train score, test score, roc_auc_score 를 반환하는 함수 작성

def get_scores(model, xtrain, xtest, ytrain, ytest):
    A = model.score(xtrain, ytrain)
    B = model.score(xtest, ytest)
    ypred = model.predict(xtest)
    C = f1_score(ytest, ypred, average='macro')  # f1_score with macro
    return '{:.4f} {:.4f} {:.4f}'.format(A, B, C)


# [9] 다양한 모델을 만들고 성능을 출력하는 함수 작성
# LogisticRegression, DecisionTreeClassifier, KNeighborsClassifier 생략!
def make_models(xtrain, xtest, ytrain, ytest):
    # overfitting
    model4 = RandomForestClassifier(random_state=0).fit(xtrain, ytrain)
    print('model4', get_scores(model4, xtrain, xtest, ytrain, ytest))

    # overfitting 해결
    for d in range(3, 11):
        model4 = RandomForestClassifier(500, max_depth=d, random_state=0).fit(xtrain, ytrain)
        print('model4', d, get_scores(model4, xtrain, xtest, ytrain, ytest))

    model5 = XGBClassifier().fit(xtrain, ytrain)
    print('model5', get_scores(model5, xtrain, xtest, ytrain, ytest))

# [10] X를 train 용도, submission 용도로 나누고, Y를 1차원으로 바꿈 (MinMaxScaler 적용)
def get_data(dfX, Y):
    X = dfX.drop(columns=['ID'])
    X_use = X.iloc[:6665, :]
    X_submission = X.iloc[6665:, :]
    Y1 = Y['Segmentation']
    scaler = MinMaxScaler()
    X1_use = scaler.fit_transform(X_use)
    X1_submission = scaler.transform(X_submission)
    #print(X1_use.shape, Y1.shape, X1_submission.shape)
    return X1_use, X1_submission, Y1

# [11] 모델링 수행하기

# X, Y 분리하기
X1_use, X1_submission, Y1 = get_data(dfX, Y)

# train, test  7:3 분할, stratify 적용, random_state=0 적용
xtrain1, xtest1, ytrain1, ytest1 = train_test_split(X1_use, Y1, 
                                                test_size = 0.2,
                                                stratify=Y1, random_state=0)
# 다양한 모델 만들어 보기 - 확인 후 반드시 주석!
#make_models(xtrain1, xtest1, ytrain1, ytest1)

# [12] 최종적으로 사용할 모델을 선택하여 model로 다시 생성합니다.
# 위의 make_models 꼭 주석하세요!!
model = RandomForestClassifier(500, max_depth=5, random_state=0).fit(xtrain1, ytrain1)
#print('final model', get_scores(model, xtrain1, xtest1, ytrain1, ytest1))

# [13] test 데이터에 대한 예측값 구하기, 파일로 저장하기
ypred = model.predict(X1_submission)
submission = pd.DataFrame({
         "ID": X_submission["ID"],
         "Segmentation": ypred
     })
submission.to_csv('submission.csv', index=False)  ## 수험번호.csv
print(submission.shape)

# [14] submission 확인
temp = pd.read_csv('submission.csv')
print(temp.head(5))

(6665, 9) (6665,) (2154, 9)
(2154, 2)
       ID  Segmentation
0  458989             1
1  458994             2
2  459000             2
3  459003             2
4  459005             1

## 함수 생성하지 않고 풀기

In [ ]:
# 데이터 파일 준비
# 그냥 실행해서 사용 파일을 생성하도록 합니다.
import pandas as pd

train = pd.read_csv('./bigdata/train_04.csv')
test = pd.read_csv('./bigdata/test_04.csv')
train.head(2)
X_train = train.iloc[:, :-1]
Y_train = train[['ID', 'Segmentation']]
X_train.to_csv('X_train.csv', index=False)
Y_train.to_csv('Y_train.csv', index=False)
test.to_csv('X_test.csv', index=False)
print('파일을 준비했습니다!  X_train.csv, Y_train.csv, X_test.csv !')

파일을 준비했습니다!  X_train.csv, Y_train.csv, X_test.csv !

In [ ]:
# [0] 사용 라이브러리 import
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import f1_score

# 데이타가 많은경우 모두 출력 안되고 ... 으로 생략해서 출력됨.
pd.set_option('display.max_rows',500)    #출력할 max row를 지정
pd.set_option('display.max_columns',20)  #출력할 max columns를 지정
#출력 format 지정 - 소수점아래 4자리까지
pd.set_option('display.float_format', '{:.2f}'.format)


# [1] train score, test score, roc_auc_score 를 반환하는 함수 작성
def get_scores(model, xtrain, xtest, ytrain, ytest):
    A = model.score(xtrain, ytrain)
    B = model.score(xtest, ytest)
    ypred = model.predict(xtest)
    C = f1_score(ytest, ypred, average='macro')  # f1_score with macro
    return '{:.4f} {:.4f} {:.4f}'.format(A, B, C)

# [2] x_train.csv, y_train.csv, x_test.csv 읽어오기
X = pd.read_csv('X_train.csv')
Y = pd.read_csv('Y_train.csv')
X_submission = pd.read_csv('X_test.csv')
#print(X.shape, Y.shape, X_submission.shape)

# [3] 전처리를 위해 X, X_submission 합치기 (필수는 아님)
dfX = pd.concat([X, X_submission])
#dfX.head(3)

# [4] df의 정보 확인 
#dfX.info()

# [5] 결측치 점검 - 결측치 없으므로 결측치 대체 처리 안해도 됨!!
#dfX.isna().sum()

# [6] 각컬럼별 고윳값 개수 확인 (1인 것이 있으면 제거, 가짓수가 적은 것들은 범주형)
# 제거할 변수는 없음
# Gender, Ever_Married, Graduated, Profession, Spending_Score, Var_1 등이 범주형으로 보임
#dfX.nunique()

# [7] Y 값의 분포 확인 - 범주별 분포가 비슷한지 차이가 큰지 확인 (범주별 균등한 것으로 보임)
#Y.info()
#print(Y['Segmentation'].value_counts(normalize=True).sort_index())

# [8] 범주형 데이터에 대해 Label Encoding
features = ['Gender', 'Ever_Married', 'Graduated', 'Profession', 'Spending_Score', 'Var_1']
for x in features:
    dfX[x] = dfX[x].astype('category').cat.codes
#dfX.info()

# [9] 모델링 수행하기

# X, Y 분리하기
# X를 train 용도, submission 용도로 나누고, Y를 1차원으로 바꿈 (MinMaxScaler 적용)
temp = dfX.drop(columns=['ID'])
X1_use = temp.iloc[:X.shape[0], :]
X1_submission = temp.iloc[X.shape[0]:, :]
Y1 = Y['Segmentation']
scaler = MinMaxScaler()
X1_use = scaler.fit_transform(X1_use)
X1_submission = scaler.transform(X1_submission)

xtrain, xtest, ytrain, ytest = train_test_split(X1_use, Y1, 
                                                test_size = 0.2,
                                                stratify=Y1, random_state=0)

# [10] 다양한 모델을 만들고 성능을 출력하는 함수 작성 - 확인 후 반드시 주석!
# LogisticRegression, DecisionTreeClassifier, KNeighborsClassifier 생략!

# model4 = RandomForestClassifier(random_state=0).fit(xtrain, ytrain)
# print('model4', get_scores(model4, xtrain, xtest, ytrain, ytest))

# for d in range(3, 11):
#     model4 = RandomForestClassifier(500, max_depth=d, random_state=0).fit(xtrain, ytrain)
#     print('model4', d, get_scores(model4, xtrain, xtest, ytrain, ytest))

# model5 = XGBClassifier().fit(xtrain, ytrain)
# print('model5', get_scores(model5, xtrain, xtest, ytrain, ytest))

# [11] 최종적으로 사용할 모델을 선택하여 model로 다시 생성합니다.

model = RandomForestClassifier(500, max_depth=5, random_state=0).fit(xtrain, ytrain)
#print('final model', get_scores(model, xtrain, xtest, ytrain, ytest))

# [12] test 데이터에 대한 예측값 구하기, 파일로 저장하기
ypred = model.predict(X1_submission)

submission = pd.DataFrame({
         "ID": X_submission["ID"],
         "Segmentation": ypred
     })

submission.to_csv('submission.csv', index=False)  ## 수험번호.csv
print(submission.shape)

# [13] submission 확인
print(submission.head(5))