## 1.기출문제 (빅분기 실기 2회)

#### 1-1. 
데이터 전처리 단계에서 발견하는 값으로 관측된 데이터 범위에서 많이 벗어나 있는 아주 작거나 아주 큰 값으로 정상 범위를 벗어난 값을 의미하는 것은 무엇인가?

#### 1-2. 
정답지, label이 없다, 대표적분석에 군집분석, 연관분석 등이 있다. 해당 기법을 뭐라하는가?

#### 1-3.
모델을 생성시 사용자가 직접 변경/설정해 주어야하는 것은 무엇인가?

#### 1-4.
결측값을 대치 하는 방법 중 평균값을 사용해 대치하는 방법은?

#### 1-5.
모델의 학습에서는 정확도가 높게 나오지만 테스트 셋에서는 정확도가 낮게 나오는 것을 무엇이라하는가?

#### 1-6.
변수 선택 방법 중 모든 변수를 활용해 하나씩 제거해 가는 방법은?

#### 1-7. 
모델 학습시 잘못된 결과에 대해 가중치를 반영해 모델을 생성하는 방법?

#### 1-8. 
TPR , FPR 로 그려서 확인하는 곡선은?

#### 1-9.
마지막 은닉층 2개의 값이 [0.2, -0.3]이고,  가중치가 [0.3, 0.1]이다. bias -0.05, 출력층 노드가 1개 이고, f(x) = x , if x >= 0, 그외 -1 일때 출력값은 무엇인가?

#### 1-10.
앙상블 기법의 한 가지 종류로 회귀, 분류 모델에 사용되며, 약학습기 여러 개를 사용하는 부스팅 알고리즘에 속한다. 가중치 업데이트를 경사하강법을 이용해 최적화된 결과를 얻는 알고리즘이다.

## 2.기출문제 (빅분기 실기 2회)

In [1]:
!git clone https://github.com/Soyoung-Yoon/bigdata

Cloning into 'bigdata'...
remote: Enumerating objects: 53, done.
remote: Counting objects: 100% (3/3), done.
remote: Compressing objects: 100% (3/3), done.
remote: Total 53 (delta 0), reused 0 (delta 0), pack-reused 50
Receiving objects: 100% (53/53), 14.21 MiB | 10.15 MiB/s, done.
Resolving deltas: 100% (15/15), done.

#### 2-1. 보스턴 데이터
보스턴 데이터 범죄율 컬럼('CRIM')의 top10 중 10번째 범죄율 값으로 1~10위의 범죄율 값을 변경 후, 'AGE' 변수의 값이 80이상인 것에 대한 범죄율 평균을 산출하라.

In [33]:
## sklearn에서 더이상 boston 데이터를 제공하지 않으므로 교체합니다.
##from sklearn.datasets import load_boston
import pandas as pd
df = pd.read_csv('bigdata/boston.csv')
df.head(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.9,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.9,9.14,21.6

In [34]:
temp = df.sort_values('CRIM', ascending=False).iloc[9, 0]
df.loc[df['CRIM'] > temp, 'CRIM'] = temp
df.loc[df['AGE'] >= 80]['CRIM'].mean()

5.759386625

In [ ]:
정답 : 5.759387

#### 2-2. 하우징 데이터
- housing.csv 파일을 사용한다
- 주어진 데이터의 첫번째 행 부터 순서대로 80% 까지의 데이터를 추출 후 'total_bedrooms' 변수의 결측값(NA)을 'total_bedrooms' 변수의 중앙값으로 대체하고,
- 대체 전의 'total_bedrooms' 변수 표준편차값과 대체 후의 'total_bedrooms' 변수 표준편차 값을 산출하여
- 대체 전 표준편차 값 - 대체 후 표준편차 값을 구해 출력한다.

In [ ]:
# https://www.kaggle.com/camnugent/introduction-to-machine-learning-in-r-tutorial

In [48]:
housing = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/housing.csv')
# 20640, 16512
df = housing.iloc[:int(len(housing) * 0.8), :]
s1 = df['total_bedrooms']
s2 = df['total_bedrooms'].mask(df['total_bedrooms'].isna(), df['total_bedrooms'].median())
s1.std() - s2.std()

1.9751472916456692

In [ ]:
정답 : 1.9751472916456692

#### 2-3. 하우징 데이터 
- 'https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/housing.csv' 파일을 사용한다
- 하우징 데이터에서 'latitude' 컬럼의 이상치를 찾아 이상치들의 합을 산출하시오.
- 이상치 기준 : 평균 - (표준편차 * 1.5), 평균 + (표준편차 * 1.5)

In [ ]:
평균 - (표준편차 * 1.5), 평균 + (표준편차 * 1.5)

In [58]:
housing = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/housing.csv')
m, s = housing['latitude'].agg(['mean', 'std'])
housing.loc[(housing['latitude'] < (m - (1.5 * s))) | (housing['latitude'] > (m + 1.5 * s)), 'latitude'].sum()

45815.75

In [ ]:
정답: 45815.75

## 3.기출문제 (빅분기 실기 2회)
- 고객 구매 데이터를 사용해서 고객이 주문한 물품이 제 시간에 도착여부(Reached.on.Time_Y.N) 예측
- X_train.csv, y_train.csv : 학습 및 학습평가에 사용하는 파일
- X_test.csv : 제출용 데이터 생성에 사용하는 파일
- roc_score를 사용하여 평가
- 아래의 형식으로 submission수험번호.csv 로 저장
- Reached.on.Time_Y.N은 제 시간에 도착할 확률
        ID,Reached.on.Time_Y.N
        7007,0.27419354838709675
        9793,0.4883720930232558
        6593,0.48174157303370785
        10527,0.3657243816254417

### 3-01.문제이해

In [ ]:
# https://www.kaggle.com/prachi13/customer-analytics?select=Train.csv
# 기출에서 기억나는 것
# - 컬럼 중 1개가 숫자형으로 안내 되었는데 info() 결과 object로 표시됨
# - head() 로 해서 표시되지 않았음 
# - value가 '1', '*7', '4', '9', '*7' 이렇게 되어 있어서 '*'을 제거하고 dtype을 변경해야함

In [26]:
import pandas as pd
# 이상한 것 확인
df = pd.DataFrame({'rating': ['1', '2', '4', '*7', '8', '*7', '3', '5', '2', '*4']})
df.head(2)

  rating
0      1
1      2

In [30]:
# 해결 방법
df['rating'] = df['rating'].replace(r'\*', '', regex=True).astype('int')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   rating  10 non-null     int64
dtypes: int64(1)
memory usage: 208.0 bytes

### 3-02.데이터 불러오기, 탐색

***pandas의 출력 설정 옵션 다시 확인하세요!***

In [59]:
# [0] 사용 라이브러리 import
import pandas as pd

# 데이타가 많은경우 모두 출력 안되고 ... 으로 생략해서 출력됨.
pd.set_option('display.max_rows',500)    #출력할 max row를 지정
pd.set_option('display.max_columns',20)  #출력할 max columns를 지정
#출력 format 지정 - 소수점아래 4자리까지
pd.set_option('display.float_format', '{:.4f}'.format)

In [13]:
# [0] x_train, x_test 데이터로 생성함
# 이 부분은 시험에서는 없습니다. 그냥 데이터를 3개로 나누기 위해 사용한 것입니다.
from sklearn.model_selection import train_test_split

dftot = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/1st_Train.csv')
x_train, x_test = train_test_split(dftot, test_size=0.4, stratify=dftot['Reached.on.Time_Y.N'], random_state=0)
y_train = x_train[['ID', 'Reached.on.Time_Y.N']]
x_train = x_train.drop(columns='Reached.on.Time_Y.N')
y_test = x_test[['ID', 'Reached.on.Time_Y.N']]   # 이것은 시험에서는 제공되지 않음
x_test = x_test.drop(columns='Reached.on.Time_Y.N')

x_train.to_csv('x_train.csv', index=False)
y_train.to_csv('y_train.csv', index=False)
x_test.to_csv('x_test.csv', index=False)
y_test.to_csv('y_test.csv', index=False) # 이것은 시험에서는 제공되지 않음

In [61]:
x_train.shape, y_train.shape, x_test.shape

((6599, 11), (6599, 1), (4400, 11))

In [ ]:
# 여기에 문제를 풀이해 보세요!

### 데이터 로드

In [86]:
import pandas as pd
import numpy as np

pd.options.display.max_rows = 200
pd.options.display.max_columns = 25
pd.options.display.float_format = '{:,.4f}'.format

In [87]:
X = pd.read_csv('./x_train.csv')
Y = pd.read_csv('./y_train.csv')
X_submission = pd.read_csv('./x_test.csv')

print([x.shape for x in [X, Y, X_submission]])

[(6599, 11), (6599, 2), (4400, 11)]

### 데이터 확인 및 탐색

In [88]:
X.head(2)

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,9902,F,Ship,3,5,214,2,medium,F,6,4578
1,9501,A,Ship,4,2,201,3,medium,F,4,4613

In [89]:
Y.head(2)

     ID  Reached.on.Time_Y.N
0  9902                    0
1  9501                    0

In [90]:
X_submission.head(2)

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,7007,C,Ship,4,1,238,3,high,F,4,4910
1,9793,D,Ship,4,2,245,3,medium,M,1,4731

In [91]:
dfX = pd.concat([X, X_submission], axis=0, ignore_index=True)

In [92]:
dfX.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10999 entries, 0 to 10998
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   10999 non-null  int64
 1   Warehouse_block      10999 non-null  object
 2   Mode_of_Shipment     10999 non-null  object
 3   Customer_care_calls  10999 non-null  int64
 4   Customer_rating      10999 non-null  int64
 5   Cost_of_the_Product  10999 non-null  int64
 6   Prior_purchases      10999 non-null  int64
 7   Product_importance   10999 non-null  object
 8   Gender               10999 non-null  object
 9   Discount_offered     10999 non-null  int64
 10  Weight_in_gms        10999 non-null  int64
dtypes: int64(7), object(4)
memory usage: 945.4+ KB

In [93]:
dfX['Warehouse_block'].unique()

array(['F', 'A', 'B', 'D', 'C'], dtype=object)

In [94]:
dfX['Mode_of_Shipment'].unique()

array(['Ship', 'Road', 'Flight'], dtype=object)

In [95]:
dfX['Product_importance'].unique()

array(['medium', 'low', 'high'], dtype=object)

In [96]:
dfX['Gender'].unique()

array(['F', 'M'], dtype=object)

### 데이터 전처리

In [97]:
dfX['Warehouse_block'] = dfX['Warehouse_block'].astype('category').cat.codes

In [98]:
dfX['Mode_of_Shipment'] = dfX['Mode_of_Shipment'].astype('category').cat.codes

In [99]:
dfX['Product_importance'] = dfX['Product_importance'].astype('category').cat.codes

In [100]:
dfX['Gender'] = dfX['Gender'].astype('category').cat.codes

In [101]:
dfX.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10999 entries, 0 to 10998
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   10999 non-null  int64
 1   Warehouse_block      10999 non-null  int8
 2   Mode_of_Shipment     10999 non-null  int8
 3   Customer_care_calls  10999 non-null  int64
 4   Customer_rating      10999 non-null  int64
 5   Cost_of_the_Product  10999 non-null  int64
 6   Prior_purchases      10999 non-null  int64
 7   Product_importance   10999 non-null  int8
 8   Gender               10999 non-null  int8
 9   Discount_offered     10999 non-null  int64
 10  Weight_in_gms        10999 non-null  int64
dtypes: int64(7), int8(4)
memory usage: 644.6 KB

### 상관관계 분석

In [102]:
dfXY = pd.merge(dfX, Y)
print([x.shape for x in [dfXY, dfX, Y]])

[(6599, 12), (10999, 11), (6599, 2)]

In [103]:
dfXY.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6599 entries, 0 to 6598
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   6599 non-null   int64
 1   Warehouse_block      6599 non-null   int8
 2   Mode_of_Shipment     6599 non-null   int8
 3   Customer_care_calls  6599 non-null   int64
 4   Customer_rating      6599 non-null   int64
 5   Cost_of_the_Product  6599 non-null   int64
 6   Prior_purchases      6599 non-null   int64
 7   Product_importance   6599 non-null   int8
 8   Gender               6599 non-null   int8
 9   Discount_offered     6599 non-null   int64
 10  Weight_in_gms        6599 non-null   int64
 11  Reached.on.Time_Y.N  6599 non-null   int64
dtypes: int64(8), int8(4)
memory usage: 489.8 KB

In [104]:
dfXY.corr(numeric_only=True)['Reached.on.Time_Y.N']

ID                    -0.4034
Warehouse_block       -0.0040
Mode_of_Shipment       0.0006
Customer_care_calls   -0.0712
Customer_rating        0.0227
Cost_of_the_Product   -0.0726
Prior_purchases       -0.0617
Product_importance    -0.0156
Gender                 0.0074
Discount_offered       0.3941
Weight_in_gms         -0.2745
Reached.on.Time_Y.N    1.0000
Name: Reached.on.Time_Y.N, dtype: float64

### 모델링

In [105]:
from sklearn.metrics import roc_auc_score

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [106]:
def get_model_scores(model, xtrain, xtest, ytrain, ytest):
    A1 = model.score(xtrain, ytrain)
    A2 = model.score(xtest, ytest)
    
    ypred = model.predict_proba(xtest)[:, 1]
    ROC_AUC = roc_auc_score(ytest, ypred)
    
    score_values = [ round(x, 4) for x in [A1, A2, ROC_AUC] ]
    
    scores = pd.Series(data=score_values, index='TRAIN TEST ROC_AUC'.split())
    return scores

In [128]:
def compare_model(xtrain, xtest, ytrain, ytest):
    result = pd.DataFrame()
    
    model = LogisticRegression(random_state=0).fit(xtrain, ytrain)
    result[model.__class__.__name__] = get_model_scores(model, xtrain, xtest, ytrain, ytest)
    
    for m in range(100, 1001, 100):
        model = LogisticRegression(max_iter=m, random_state=0).fit(xtrain, ytrain)
        result[f'{model.__class__.__name__}_{m}'] = get_model_scores(model, xtrain, xtest, ytrain, ytest)    
    
    model = KNeighborsClassifier().fit(xtrain, ytrain)
    result[model.__class__.__name__] = get_model_scores(model, xtrain, xtest, ytrain, ytest)
    
    for n in range(3, 10):
        model = KNeighborsClassifier(n_neighbors=n).fit(xtrain, ytrain)
        result[f'{model.__class__.__name__}_{n}'] = get_model_scores(model, xtrain, xtest, ytrain, ytest)
        
    model = DecisionTreeClassifier(random_state=0).fit(xtrain, ytrain)
    result[model.__class__.__name__] = get_model_scores(model, xtrain, xtest, ytrain, ytest)
    
    for d in range(3, 10):
        model = DecisionTreeClassifier(max_depth=d, random_state=0).fit(xtrain, ytrain)
        result[f'{model.__class__.__name__}_{d}'] = get_model_scores(model, xtrain, xtest, ytrain, ytest)
    
    model = RandomForestClassifier(random_state=0).fit(xtrain, ytrain)
    result[model.__class__.__name__] = get_model_scores(model, xtrain, xtest, ytrain, ytest)
    
    for d in range(3, 10):
        model = RandomForestClassifier(max_depth=d, random_state=0).fit(xtrain, ytrain)
        result[f'{model.__class__.__name__}_{d}'] = get_model_scores(model, xtrain, xtest, ytrain, ytest)
    
    model = XGBClassifier(random_state=0).fit(xtrain, ytrain)
    result[model.__class__.__name__] = get_model_scores(model, xtrain, xtest, ytrain, ytest)
    
    result = result.transpose()
    result.insert(loc=2, column='DIFF', value=(result['TRAIN'] - result['TEST']).abs())
    
    return result

In [108]:
def get_model_data(dfX, Y, is_regularized=False):
    X_temp = dfX.drop(columns='ID')
    YF = Y['Reached.on.Time_Y.N']
    
    if is_regularized:
        X_temp = MinMaxScaler().fit_transform(X_temp)
        
    XF = X_temp[:len(YF)]
    X_submissionF = X_temp[len(YF):]
    
    return XF, X_submissionF, YF

In [109]:
XF, X_submissionF, YF = get_model_data(dfX, Y, is_regularized=False)
xtrain, xtest, ytrain, ytest = train_test_split(XF, YF, test_size=0.3, random_state=1234, stratify=YF)
print([x.shape for x in [XF, YF, X_submissionF, dfX, Y]])

[(6599, 10), (6599,), (4400, 10), (10999, 11), (6599, 2)]

In [130]:
result = compare_model(xtrain, xtest, ytrain, ytest)

In [131]:
# result.sort_values(['ROC_AUC', 'DIFF'], ascending=False)
# result.loc[result['TEST'] > 0.65]
result

                          TRAIN   TEST   DIFF  ROC_AUC
LogisticRegression       0.6454 0.6343 0.0111   0.7120
LogisticRegression_100   0.6454 0.6343 0.0111   0.7120
LogisticRegression_200   0.6454 0.6343 0.0111   0.7120
LogisticRegression_300   0.6454 0.6343 0.0111   0.7120
LogisticRegression_400   0.6454 0.6343 0.0111   0.7120
LogisticRegression_500   0.6454 0.6343 0.0111   0.7120
LogisticRegression_600   0.6454 0.6343 0.0111   0.7120
LogisticRegression_700   0.6454 0.6343 0.0111   0.7120
LogisticRegression_800   0.6454 0.6343 0.0111   0.7120
LogisticRegression_900   0.6454 0.6343 0.0111   0.7120
LogisticRegression_1000  0.6454 0.6343 0.0111   0.7120
KNeighborsClassifier     0.7818 0.6515 0.1303   0.7329
KNeighborsClassifier_3   0.8151 0.6449 0.1702   0.7101
KNeighborsClassifier_4   0.7774 0.6591 0.1183   0.7216
KNeighborsClassifier_5   0.7818 0.6515 0.1303   0.7329
KNeighborsClassifier_6   0.7567 0.6677 0.0890   0.7445
KNeighborsClassifier_7   0.7610 0.6646 0.0964   0.7487
KNeighborsClassifier_8   0.7499 0.6692 0.0807   0.7469
KNeighborsClassifier_9   0.7523 0.6601 0.0922   0.7427
DecisionTreeClassifier   1.0000 0.6283 0.3717   0.6131
DecisionTreeClassifier_3 0.6802 0.6682 0.0120   0.7368
DecisionTreeClassifier_4 0.6885 0.6758 0.0127   0.7391
DecisionTreeClassifier_5 0.6993 0.6732 0.0261   0.7380
DecisionTreeClassifier_6 0.7058 0.6742 0.0316   0.7366
DecisionTreeClassifier_7 0.7147 0.6722 0.0425   0.7325
DecisionTreeClassifier_8 0.7279 0.6530 0.0749   0.7134
DecisionTreeClassifier_9 0.7435 0.6551 0.0884   0.7086
RandomForestClassifier   1.0000 0.6561 0.3439   0.7263
RandomForestClassifier_3 0.6841 0.6601 0.0240   0.7289
RandomForestClassifier_4 0.6991 0.6712 0.0279   0.7313
RandomForestClassifier_5 0.7101 0.6667 0.0434   0.7324
RandomForestClassifier_6 0.7201 0.6677 0.0524   0.7288
RandomForestClassifier_7 0.7489 0.6702 0.0787   0.7309
RandomForestClassifier_8 0.7794 0.6697 0.1097   0.7316
RandomForestClassifier_9 0.8251 0.6636 0.1615   0.7291
XGBClassifier            0.9411 0.6520 0.2891   0.7357

In [112]:
# KNeighborsClassifier_7	0.7610	0.6646	0.0964	0.7487
# XGBClassifier	0.9411	0.6520	0.2891	0.7357

In [113]:
model = XGBClassifier(random_state=0).fit(xtrain, ytrain)
print(get_model_scores(model, xtrain, xtest, ytrain, ytest))

TRAIN     0.9411
TEST      0.6520
ROC_AUC   0.7357
dtype: float64

In [117]:
pred = model.predict_proba(X_submissionF)[:, 1]
submission = pd.DataFrame({'ID': X_submission['ID'], 
                           'Reached.on.Time_Y.N': pred})
submission.to_csv('./01029120956.csv', index=False)

### 정답과 비교

In [119]:
Y_true = pd.read_csv('./y_test.csv')
Y_true.head(2)

     ID  Reached.on.Time_Y.N
0  7007                    0
1  9793                    1

In [120]:
pred = model.predict(X_submissionF)
Y_predict = pd.DataFrame({'ID': X_submission['ID'], 
                           'Reached.on.Time_Y.N': pred})

In [121]:
Y_predict.head(2)

     ID  Reached.on.Time_Y.N
0  7007                    0
1  9793                    0

In [123]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix

In [124]:
confusion_matrix(Y_true['Reached.on.Time_Y.N'], Y_predict['Reached.on.Time_Y.N'])

array([[1138,  637],
       [ 852, 1773]])

In [132]:
accuracy_score(Y_true['Reached.on.Time_Y.N'], Y_predict['Reached.on.Time_Y.N']).round(4)

0.6616

In [133]:
precision_score(Y_true['Reached.on.Time_Y.N'], Y_predict['Reached.on.Time_Y.N']).round(4)

0.7357

In [134]:
recall_score(Y_true['Reached.on.Time_Y.N'], Y_predict['Reached.on.Time_Y.N']).round(4)

0.6754