## 2.기출문제 (빅분기 실기 4회)

In [ ]:
# 데이터 다운로드

In [ ]:
!git clone https://github.com/Soyoung-Yoon/bigdata

#### 2-1. 신상 데이터
age 컬럼에 대해 아래의 과정을 수행하고 (다) 단계의 결과값을 출력하여라.
- (가) 제 1사분위수와 제 3사분위수를 구하기
- (나) 두 값의 차이 절댓값 구하기
- (다) 그 값의 소수점 버리기

In [ ]:
#'https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/basic1_data04.csv'  파일 사용

In [1]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/basic1_data04.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      100 non-null    object
 1   age     100 non-null    float64
 2   city    100 non-null    object
 3   f1      69 non-null     float64
 4   f2      100 non-null    int64
 5   f3      5 non-null      object
 6   f4      100 non-null    object
 7   f5      100 non-null    float64
dtypes: float64(3), int64(1), object(4)
memory usage: 6.4+ KB

In [2]:
print(df.head(2))

     id  age city    f1  f2   f3    f4         f5
0  id01  2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02  9.0   서울  70.0   1  NaN  ENFJ  60.339826

In [3]:
df.isna().sum()

id       0
age      0
city     0
f1      31
f2       0
f3      95
f4       0
f5       0
dtype: int64

In [5]:
# (가) 제 1사분위수와 제 3사분위수를 구하기
# (나) 두 값의 차이 절댓값 구하기
# (다) 그 값의 소수점 버리기
q1, q3 = df['age'].quantile([0.25, 0.75])
print(f'{q1}, {q3}, {abs(q3 - q1)}, {abs(q3 - q1):.0f}')

26.875, 77.0, 50.125, 50

#### 2-2. Facebook 데이터

Facebook 데이터셋을 불러와 (loves반응 + wows반응)/(reactions반응) 비율이 0.4보다 크고 0.5보다 작으면서, type이 'video'인 데이터의 갯수를 구하여라
- 'https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/fb_data04.csv' 파일 사용

In [6]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/fb_data04.csv')
df.info()
print(df.head(2))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7050 entries, 0 to 7049
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         7050 non-null   int64
 1   type       7050 non-null   object
 2   reactions  7050 non-null   int64
 3   comments   7050 non-null   int64
 4   shares     7050 non-null   int64
 5   likes      7050 non-null   int64
 6   loves      7050 non-null   int64
 7   wows       7050 non-null   int64
 8   hahas      7050 non-null   int64
 9   sads       7050 non-null   int64
 10  angrys     7050 non-null   int64
dtypes: int64(10), object(1)
memory usage: 606.0+ KB
   id   type  reactions  comments  shares  likes  loves  wows  hahas  sads  \
0   1  video        529       512     262    432     92     3      1     1
1   2  photo        150         0       0    150      0     0      0     0

   angrys
0       0
1       0

In [9]:
df.isna().sum()

id           0
type         0
reactions    0
comments     0
shares       0
likes        0
loves        0
wows         0
hahas        0
sads         0
angrys       0
dtype: int64

In [10]:
# (loves반응 + wows반응)/(reactions반응) 비율이 0.4보다 크고 0.5보다 작으면서, type이 'video'인 데이터의 갯수를 구하여라
df['ratio'] = (df['loves'] + df['wows']) / df['reactions']

In [25]:
print(len(df.loc[(df['ratio'] > 0.4) & (df['ratio'] < 0.5) & (df['type'] == 'video'), :]))

90

#### 2-3. 넷플릭스 데이터 
netflix_subset 데이터셋에서 date_added가 2018년 1월이면서 country가 United Kingdom 단독 제작인 데이터의 개수를 구하여라
- 'https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/nf_data04.csv' 파일 사용

In [26]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/nf_data04.csv')
df.info()
print(df.head(2))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
dtypes: int64(1), object(10)
memory usage: 757.0+ KB
  show_id     type                 title         director  \
0      s1    Movie  Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show         Blood & Water              NaN

                                                cast        country  \
0                                                NaN  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa

           date_added  release_year rating   duration  \
0  September 25, 2021          2020  PG-13     90 min
1  September 24, 2021          2021  TV-MA  2 Seasons

                                         listed_in
0                                    Documentaries
1  International TV Shows, TV Dramas, TV Mysteries

In [36]:
# date_added가 2018년 1월이면서 country가 United Kingdom 단독 제작인 데이터의 개수를 구하여라
df['date_added'] = df['date_added'].astype('datetime64')
# print(help(pd.Series.astype))

In [45]:
temp = df.loc[(df['date_added'].dt.year == 2018) & (df['date_added'].dt.month == 1) & (df['country'] == 'United Kingdom'), 'country']
print(len(temp))

6

## 3.기출문제 (빅분기 실기 4회)
자동차 시장 세분화
- 자동차 회사는 새로운 전략을 수립하기 위해 4개의 시장으로 세분화했습니다.
- 기존 고객 분류 자료를 바탕으로 신규 고객이 어떤 분류에 속할지 예측해주세요!
- 예측할 값(y): "Segmentation" (1,2,3,4)
- 평가: Macro f1-score
- 제출형식

        ID,Segmentation
        458989,1
        458994,2
        459000,3
        459003,4

- 다음의 데이터 파일 준비를 실행해서 x_train.csv, y_train.csv, x_test.csv 파일을 준비합니다.

### 3-01.데이터 불러오기, 탐색

In [46]:
# 데이터 파일 준비
# 그냥 실행해서 사용 파일을 생성하도록 합니다.
import pandas as pd

train = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/train_04.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/test_04.csv')
train.head(2)
X_train = train.iloc[:, :-1]
Y_train = train[['ID', 'Segmentation']]
X_train.to_csv('X_train.csv', index=False)
Y_train.to_csv('Y_train.csv', index=False)
test.to_csv('X_test.csv', index=False)
print('파일을 준비했습니다!  X_train.csv, Y_train.csv, X_test.csv !')

파일을 준비했습니다!  X_train.csv, Y_train.csv, X_test.csv !

In [ ]:
# [0] 사용 라이브러리 import
import pandas as pd

# 데이타가 많은경우 모두 출력 안되고 ... 으로 생략해서 출력됨.
pd.set_option('display.max_rows',500)    #출력할 max row를 지정
pd.set_option('display.max_columns',20)  #출력할 max columns를 지정
#출력 format 지정 - 소수점아래 2자리까지
pd.set_option('display.float_format', '{:.2f}'.format)

In [ ]:
# [1] x_train.csv, y_train.csv, x_test.csv 읽어오기
X = pd.read_csv('X_train.csv')
Y = pd.read_csv('Y_train.csv')
X_submission = pd.read_csv('X_test.csv')
print(X.shape, Y.shape, X_submission.shape)

(6665, 10) (6665, 2) (2154, 10)

### 자동차 시장 세분화
- 자동차 회사는 새로운 전략을 수립하기 위해 4개의 시장으로 세분화했습니다.
- 기존 고객 분류 자료를 바탕으로 신규 고객이 어떤 분류에 속할지 예측해주세요!
- 예측할 값(y): "Segmentation" (1,2,3,4)
- 평가: Macro f1-score
- 제출형식
```
        ID,Segmentation
        458989,1
        458994,2
        459000,3
        459003,4
```

In [47]:
import pandas as pd

pd.options.display.max_rows = 2000
pd.options.display.max_columns = 25
pd.options.display.float_format = '{:,.4f}'.format

In [48]:
X = pd.read_csv('./X_train.csv')
Y = pd.read_csv('./Y_train.csv')
X_submission = pd.read_csv('./X_test.csv')

print([x.shape for x in [X, Y, X_submission]])

[(6665, 10), (6665, 2), (2154, 10)]

### EDA

In [49]:
print([x.info() for x in [X, Y, X_submission]])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6665 entries, 0 to 6664
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               6665 non-null   int64
 1   Gender           6665 non-null   object
 2   Ever_Married     6665 non-null   object
 3   Age              6665 non-null   int64
 4   Graduated        6665 non-null   object
 5   Profession       6665 non-null   object
 6   Work_Experience  6665 non-null   float64
 7   Spending_Score   6665 non-null   object
 8   Family_Size      6665 non-null   float64
 9   Var_1            6665 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 520.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6665 entries, 0 to 6664
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            6665 non-null   int64
 1   Segmentation  6665 non-null   int64
dtypes: int64(2)
memory usage: 104.3 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2154 entries, 0 to 2153
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               2154 non-null   int64
 1   Gender           2154 non-null   object
 2   Ever_Married     2154 non-null   object
 3   Age              2154 non-null   int64
 4   Graduated        2154 non-null   object
 5   Profession       2154 non-null   object
 6   Work_Experience  2154 non-null   float64
 7   Spending_Score   2154 non-null   object
 8   Family_Size      2154 non-null   float64
 9   Var_1            2154 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 168.4+ KB
[None, None, None]

In [50]:
print(X.head(2))

       ID  Gender Ever_Married  Age Graduated  Profession  Work_Experience  \
0  462809    Male           No   22        No  Healthcare           1.0000
1  466315  Female          Yes   67       Yes    Engineer           1.0000

  Spending_Score  Family_Size  Var_1
0            Low       4.0000  Cat_4
1            Low       1.0000  Cat_6

In [51]:
print(Y.head(2))

       ID  Segmentation
0  462809             4
1  466315             2

### 결측치 처리

In [52]:
dfX = pd.concat([X, X_submission], axis=0, ignore_index=True)
dfX.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8819 entries, 0 to 8818
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               8819 non-null   int64
 1   Gender           8819 non-null   object
 2   Ever_Married     8819 non-null   object
 3   Age              8819 non-null   int64
 4   Graduated        8819 non-null   object
 5   Profession       8819 non-null   object
 6   Work_Experience  8819 non-null   float64
 7   Spending_Score   8819 non-null   object
 8   Family_Size      8819 non-null   float64
 9   Var_1            8819 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 689.1+ KB

In [53]:
dfX.isna().sum()

ID                 0
Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
Var_1              0
dtype: int64

### Encoding

In [61]:
for feature in dfX.select_dtypes(include='object').columns:
    print(f'{feature:15s} : {dfX[feature].unique()}')

Gender          : ['Male' 'Female']
Ever_Married    : ['No' 'Yes']
Graduated       : ['No' 'Yes']
Profession      : ['Healthcare' 'Engineer' 'Lawyer' 'Artist' 'Doctor' 'Homemaker'
 'Entertainment' 'Marketing' 'Executive']
Spending_Score  : ['Low' 'High' 'Average']
Var_1           : ['Cat_4' 'Cat_6' 'Cat_7' 'Cat_3' 'Cat_1' 'Cat_2' 'Cat_5']

In [62]:
# LabelEncoding
#   Gender : 'Female': 0, 'Male': 1
#   Ever_Married : 'No' : 0, 'Yes' : 1
#   Graduated : 'No' : 0, 'Yes' : 1
#   Profession : LabelEncoder ['Healthcare' 'Engineer' 'Lawyer' 'Artist' 'Doctor' 'Homemaker' 'Entertainment' 'Marketing' 'Executive']
# One-Hot Encoding
#   Spending_Score : ['Low' 'High' 'Average']
#   Var_1 : ['Cat_4' 'Cat_6' 'Cat_7' 'Cat_3' 'Cat_1' 'Cat_2' 'Cat_5']

In [63]:
dfX['Gender'] = dfX['Gender'].replace(['Female', 'Male'], [0, 1])
dfX['Ever_Married'] = dfX['Ever_Married'].replace(['No', 'Yes'], [0, 1])
dfX['Graduated'] = dfX['Graduated'].replace(['No', 'Yes'], [0, 1])

In [64]:
from sklearn.preprocessing import LabelEncoder

dfX['Profession'] = LabelEncoder().fit_transform(dfX['Profession'])

In [66]:
features = ['Spending_Score', 'Var_1']

dfX2 = dfX.drop(columns = features)
temp_list = [dfX2]

for feature in features:
    temp = pd.get_dummies(dfX[feature])
    temp_list.append(temp)

dfX2 = pd.concat(temp_list, axis=1)

In [67]:
dfX2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8819 entries, 0 to 8818
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               8819 non-null   int64
 1   Gender           8819 non-null   int64
 2   Ever_Married     8819 non-null   int64
 3   Age              8819 non-null   int64
 4   Graduated        8819 non-null   int64
 5   Profession       8819 non-null   int64
 6   Work_Experience  8819 non-null   float64
 7   Family_Size      8819 non-null   float64
 8   Average          8819 non-null   uint8
 9   High             8819 non-null   uint8
 10  Low              8819 non-null   uint8
 11  Cat_1            8819 non-null   uint8
 12  Cat_2            8819 non-null   uint8
 13  Cat_3            8819 non-null   uint8
 14  Cat_4            8819 non-null   uint8
 15  Cat_5            8819 non-null   uint8
 16  Cat_6            8819 non-null   uint8
 17  Cat_7            8819 non-null   uint8
dtypes: float64(2), int64(6), uint8(10)
memory usage: 637.4 KB

In [69]:
print(dfX2.head(2))

       ID  Gender  Ever_Married  Age  Graduated  Profession  Work_Experience  \
0  462809       1             0   22          0           5           1.0000
1  466315       0             1   67          1           2           1.0000

   Family_Size  Average  High  Low  Cat_1  Cat_2  Cat_3  Cat_4  Cat_5  Cat_6  \
0       4.0000        0     0    1      0      0      0      1      0      0
1       1.0000        0     0    1      0      0      0      0      0      1

   Cat_7
0      0
1      0

### 상관관계 분석

In [70]:
dfXY = pd.merge(dfX2, Y, on='ID')
print(dfXY.head(2))

       ID  Gender  Ever_Married  Age  Graduated  Profession  Work_Experience  \
0  462809       1             0   22          0           5           1.0000
1  466315       0             1   67          1           2           1.0000

   Family_Size  Average  High  Low  Cat_1  Cat_2  Cat_3  Cat_4  Cat_5  Cat_6  \
0       4.0000        0     0    1      0      0      0      1      0      0
1       1.0000        0     0    1      0      0      0      0      0      1

   Cat_7  Segmentation
0      0             4
1      0             2

In [72]:
dfXY.corr()['Segmentation']

ID                -0.0160
Gender             0.0370
Ever_Married      -0.2059
Age               -0.2352
Graduated         -0.1740
Profession         0.2036
Work_Experience    0.0107
Family_Size        0.2047
Average           -0.0565
High              -0.0633
Low                0.0959
Cat_1              0.0183
Cat_2              0.0349
Cat_3             -0.0018
Cat_4              0.0015
Cat_5              0.0051
Cat_6             -0.0244
Cat_7              0.0055
Segmentation       1.0000
Name: Segmentation, dtype: float64

### 모델링 - 사전준비

In [92]:
from sklearn.metrics import f1_score

def get_model_score(model, xtrain, xtest, ytrain, ytest):
    A1 = model.score(xtrain, ytrain)
    A2 = model.score(xtest, ytest)
    
    ypred = model.predict(xtest)
    B = f1_score(ytest, ypred, average='macro')
    
    scores = pd.Series([A1, A2, B], index='Train_Accurary Test_Accuracy F1_MACRO'.split())
    return scores

In [135]:
from sklearn.preprocessing import LabelEncoder

from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

def compare_model(xtrain, xtest, ytrain, ytest):
    result = pd.DataFrame()

    model = KNeighborsClassifier().fit(xtrain, ytrain)
    result[f'{model.__class__.__name__}'] = get_model_score(model, xtrain, xtest, ytrain, ytest)

    for n in range(3, 15):
        model = KNeighborsClassifier(n_neighbors=n).fit(xtrain, ytrain)
        result[f'{model.__class__.__name__}_{n}'] = get_model_score(model, xtrain, xtest, ytrain, ytest)
    
    model = DecisionTreeClassifier(random_state=1234).fit(xtrain, ytrain)
    result[f'{model.__class__.__name__}'] = get_model_score(model, xtrain, xtest, ytrain, ytest)
    
    model = RandomForestClassifier(random_state=1234).fit(xtrain, ytrain)
    result[f'{model.__class__.__name__}'] = get_model_score(model, xtrain, xtest, ytrain, ytest)
    
    for d in range(1, 15):
        model = RandomForestClassifier(max_depth=d, random_state=1234).fit(xtrain, ytrain)
        result[f'{model.__class__.__name__}_{d}'] = get_model_score(model, xtrain, xtest, ytrain, ytest)
    
#     le = LabelEncoder()
#     model = XGBClassifier().fit(xtrain, le.fit_transform(ytrain))
#     A1 = model.score(xtrain, le.transform(ytrain))
#     A2 = model.score(xtest, le.transform(ytest))
    
#     ypred = model.predict(xtest)
#     ypred = le.inverse_transform(ypred)
#     B = f1_score(ytest, ypred, average='macro')
    # scores = pd.Series([A1, A2, B], index='Train_Accurary Test_Accuracy F1_MACRO'.split())
    # result[f'{model.__class__.__name__}'] = get_model_score(model, xtrain, xtest, ytrain, ytest)
    
    result = result.T
    result.insert(2, 'DIFF', (result['Train_Accurary'] - result['Test_Accuracy']).abs())
    
    return result

In [81]:
from sklearn.preprocessing import StandardScaler

def get_model_data(dfX, Y, train_size, is_scaled=False):
    X_temp = dfX.drop(columns=['ID'])
    YF = Y['Segmentation']
    
    if is_scaled:
        X_temp = StandardScaler().fit_transform(X_temp)
        
    XF = X_temp[:train_size]
    X_submissionF = X_temp[train_size:]
    
    return XF, X_submissionF, YF

### 모델링 - 모델 선택 (스케일링 X)

In [82]:
XF, X_submissionF, YF = get_model_data(dfX2, Y, len(X), False)
print([x.shape for x in [X, X_submission, Y]])
print([x.shape for x in [XF, X_submissionF, YF]])

[(6665, 10), (2154, 10), (6665, 2)]
[(6665, 17), (2154, 17), (6665,)]

In [85]:
from sklearn.model_selection import train_test_split

xtrain, xtest, ytrain, ytest = train_test_split(XF, YF, train_size=0.3, random_state=1234, stratify=YF)
print([x.shape for x in [xtrain, xtest, ytrain, ytest]])

[(1999, 17), (4666, 17), (1999,), (4666,)]

In [123]:
result_1 = compare_model(xtrain, xtest, ytrain, ytest)

In [125]:
result_1.sort_values(['Test_Accuracy', 'F1_MACRO'], ascending=[False, False])
# KNeighborsClassifier_13	0.5653	0.4781	0.0871	0.4720
# RandomForestClassifier_8	0.7014	0.5362	0.1651	0.5214
# XGBClassifier	0.0375	0.1573	0.1198	0.1284

                        Train_Accurary  Test_Accuracy   DIFF  F1_MACRO
RandomForestClassifier          0.9865         0.4788 0.5077    0.4734
KNeighborsClassifier            0.6073         0.4479 0.1594    0.4479
DecisionTreeClassifier          0.9865         0.4263 0.5602    0.4229
XGBClassifier                   0.0375         0.1573 0.1198    0.1284

### 모델링 - 모델 선택 (스케일링)

In [128]:
XF2, X_submissionF2, YF2 = get_model_data(dfX2, Y, len(X), True)
print([x.shape for x in [X, X_submission, Y]])
print([x.shape for x in [XF2, X_submissionF2, YF2]])

[(6665, 10), (2154, 10), (6665, 2)]
[(6665, 17), (2154, 17), (6665,)]

In [129]:
from sklearn.model_selection import train_test_split

xtrain2, xtest2, ytrain2, ytest2 = train_test_split(XF2, YF2, train_size=0.3, random_state=1234, stratify=YF2)
print([x.shape for x in [xtrain2, xtest2, ytrain2, ytest2]])

[(1999, 17), (4666, 17), (1999,), (4666,)]

In [136]:
result_2 = compare_model(xtrain2, xtest2, ytrain2, ytest2)

In [137]:
result_2.sort_values(['Test_Accuracy', 'F1_MACRO'], ascending=[False, False])
# KNeighborsClassifier_13	0.5653	0.4781	0.0871	0.4720
# RandomForestClassifier_8	0.7014	0.5362	0.1651	0.5214
# XGBClassifier	0.0375	0.1573	0.1198	0.1284

                           Train_Accurary  Test_Accuracy   DIFF  F1_MACRO
RandomForestClassifier_8           0.7019         0.5364 0.1654    0.5213
RandomForestClassifier_7           0.6548         0.5304 0.1244    0.5125
RandomForestClassifier_6           0.6068         0.5289 0.0779    0.5118
RandomForestClassifier_9           0.7609         0.5270 0.2339    0.5138
RandomForestClassifier_4           0.5538         0.5236 0.0302    0.4979
RandomForestClassifier_5           0.5768         0.5199 0.0569    0.4979
RandomForestClassifier_3           0.5308         0.5186 0.0121    0.4885
RandomForestClassifier_10          0.8214         0.5167 0.3047    0.5047
RandomForestClassifier_11          0.8709         0.5141 0.3568    0.5031
RandomForestClassifier_12          0.9070         0.5069 0.4001    0.4965
RandomForestClassifier_2           0.5063         0.5064 0.0002    0.4506
RandomForestClassifier_13          0.9365         0.4985 0.4380    0.4908
RandomForestClassifier_14          0.9565         0.4957 0.4608    0.4884
RandomForestClassifier             0.9865         0.4777 0.5088    0.4721
KNeighborsClassifier_13            0.5573         0.4764 0.0809    0.4670
KNeighborsClassifier_12            0.5673         0.4736 0.0936    0.4647
KNeighborsClassifier_14            0.5473         0.4721 0.0751    0.4627
KNeighborsClassifier_10            0.5708         0.4709 0.0999    0.4635
KNeighborsClassifier_9             0.5743         0.4691 0.1051    0.4628
KNeighborsClassifier_11            0.5683         0.4687 0.0996    0.4606
KNeighborsClassifier_7             0.5998         0.4655 0.1343    0.4602
KNeighborsClassifier_8             0.5828         0.4606 0.1222    0.4557
RandomForestClassifier_1           0.4682         0.4591 0.0092    0.3555
KNeighborsClassifier_6             0.6193         0.4561 0.1632    0.4534
KNeighborsClassifier               0.6268         0.4526 0.1742    0.4518
KNeighborsClassifier_5             0.6268         0.4526 0.1742    0.4518
KNeighborsClassifier_3             0.6843         0.4475 0.2368    0.4472
KNeighborsClassifier_4             0.6523         0.4464 0.2059    0.4454
DecisionTreeClassifier             0.9865         0.4267 0.5598    0.4233

### 모델링 - 완료

In [139]:
model = RandomForestClassifier(max_depth=5, random_state=1234).fit(xtrain, ytrain)
print(get_model_score(model, xtrain, xtest, ytrain, ytest))

Train_Accurary   0.5768
Test_Accuracy    0.5201
F1_MACRO         0.4981
dtype: float64

In [140]:
Y_pred = model.predict(X_submissionF)
submission = pd.DataFrame({'ID': X_submission['ID'], 'Segmentation': Y_pred})
submission.to_csv('./submission.csv', index=False)

In [141]:
temp = pd.read_csv('./submission.csv')
temp.head(10)

       ID  Segmentation
0  458989             1
1  458994             3
2  459000             2
3  459003             2
4  459005             1
5  459008             3
6  459013             3
7  459014             4
8  459015             4
9  459016             4

In [142]:
temp['Segmentation'].unique()

array([1, 3, 2, 4])

In [144]:
temp['Segmentation'].value_counts(normalize=True).sort_index()

1   0.2679
2   0.1416
3   0.2739
4   0.3166
Name: Segmentation, dtype: float64

In [145]:
Y['Segmentation'].value_counts(normalize=True).sort_index()

1   0.2425
2   0.2359
3   0.2581
4   0.2636
Name: Segmentation, dtype: float64