## 빅분기 3회 실기 기출

## 2.작업형1

In [ ]:
!git clone https://github.com/Soyoung-Yoon/bigdata

Cloning into 'bigdata'...
remote: Enumerating objects: 41, done.
remote: Counting objects: 100% (41/41), done.
remote: Compressing objects: 100% (41/41), done.
remote: Total 41 (delta 11), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (41/41), done.

In [1]:
# 'https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/'

### 2-1.캘리포니어 집값 데이터
결측치를 포함하는 모든 행을 제거한 후, 처음부터 순서대로 70%를 추출하여, 'housing_median_age' 컬럼의 사분위수 Q1의 값을 구하시오
- 주의사항 정답 제출시, 정수형으로 제출해야 함
- "https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/housing03.csv" 파일 사용

In [4]:
import pandas as pd

df = pd.read_csv("./bigdata/housing03.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [6]:
df.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [ ]:
# 한 문자형 컬럼에 빈칸 ''인 데이터 1건이 있어서
# 빈칸을 결측으로 처리시 빈칸 제거전 242건에서 빈칸 제거후 243건의 행이 제거됨
# 하지만 제거하지 않고 1분위수를 구하더라도 정답은 같음

In [11]:
# 결측치를 포함하는 모든 행을 제거한 후, 처음부터 순서대로 70%를 추출하여, 'housing_median_age' 컬럼의 사분위수 Q1의 값을 구하시오
temp = df.dropna().iloc[:int(len(df) * 0.7)]
print(f"{temp['housing_median_age'].quantile(0.25):.2f}")

19.00

### 2-2.연도별 나라별 유병률 데이터
2000년 데이터에 대해 국가 전체 유병률 평균 값보다 큰 값을 가진 국가 개수는?
(year 변수와 국가들의 결핵 유병률 값을 가진 데이터셋이 주어짐)

        year  Afghanistan  Albania  Algeria  Andorra  Angola  Antigua & Barbuda  \
        0  1999            0     89.0     25.0    245.0   217.0              102.0   
        1  2000            0    132.0      0.0    138.0    57.0              128.0   
        2  2001            0     54.0     14.0    312.0    45.0               45.0   
        3  2002            0      4.9      0.7     12.4     5.9                4.9 

- 'https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/worlddata.csv' 파일 사용

In [12]:
import pandas as pd

df = pd.read_csv('./bigdata/worlddata.csv')
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Columns: 194 entries, year to Zimbabwe
dtypes: float64(164), int64(30)
memory usage: 6.2 KB

In [24]:
# 2000년 데이터에 대해 국가 전체 유병률 평균 값보다 큰 값을 가진 국가 개수는?
temp = df.head(2).set_index('year').T
print(len(temp.loc[temp[2000] > temp[2000].mean(), :]))

76

### 2-3.타이타닉 데이터
- 각 열의 결측치 비율을 확인 한 후, 결측치의 비율이 가장 높은 변수명을 구하시오
- "https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/titanic_train03.csv" 파일 사용
- 원본 데이터 : https://www.kaggle.com/c/2019-1st-ml-month-with-kakr/overview

In [25]:
import pandas as pd

df = pd.read_csv('./bigdata/titanic_train03.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        773 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [26]:
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [59]:
# 각 열의 결측치 비율을 확인 한 후, 결측치의 비율이 가장 높은 변수명을 구하시오
temp = pd.DataFrame(df.isna().sum(), columns=['Count'])
temp['Ratio'] = temp['Count'] / temp['Count'].sum()
temp.reset_index(inplace=True)
print(temp.sort_values('Ratio', ascending=False).iloc[0,0])

Age

## 3.작업형2
travel insurance 데이터 - 보험가입여부 예측
- travel insurance 데이터를 활용해서 보험가입여부를 예측하라. 
- 데이터 : https://www.kaggle.com/agileteam/traval-insurance-exam 
80점 나왔을 때 30점?!
- X_trinplace=sv, y_train.csv
- X_test.csv (예측해서 제출하는 것)
- 평가: roc-auc 평가지표

In [61]:
# [0] 사용 라이브러리 import
# 파일 생성을 위해 실행하여 주세요!  시험에서는 이런 것은 없습니다.
import pandas as pd

# 데이타가 많은경우 모두 출력 안되고 ... 으로 생략해서 출력됨.
pd.set_option('display.max_rows',500)    #출력할 max row를 지정
pd.set_option('display.max_columns',20)  #출력할 max columns를 지정
#출력 format 지정 - 소수점아래 4자리까지
pd.set_option('display.float_format', '{:.4f}'.format)

train = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/travel_insurance_train03.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/travel_insurance_test03.csv')
Xtrain = train.drop(columns='TravelInsurance')
Xtrain.to_csv('X_train.csv', index=False)
train[['Unnamed: 0', 'TravelInsurance']].to_csv('y_train.csv', index=False)
test.to_csv('X_test.csv', index=False)

In [ ]:
# 직접 코드를 작성해 보세요 ^_^
# 셀을 추가하지 말고 작성해 보시기 바랍니다.

### Data Import

In [88]:
import pandas as pd

X = pd.read_csv('./X_train.csv')
Y = pd.read_csv('./y_train.csv')
X_submission = pd.read_csv('./X_test.csv')

X.columns = ['cust_id', 'Age', 'Employment Type', 'GraduateOrNot', 'AnnualIncome','FamilyMembers', 'ChronicDiseases', 'FrequentFlyer','EverTravelledAbroad']
X_submission.columns = ['cust_id', 'Age', 'Employment Type', 'GraduateOrNot', 'AnnualIncome','FamilyMembers', 'ChronicDiseases', 'FrequentFlyer','EverTravelledAbroad']
Y.columns = ['cust_id', 'TravelInsurance']

print([x.shape for x in [X, Y, X_submission]])

[(1490, 9), (1490, 2), (497, 9)]

In [89]:
pd.options.display.max_rows = 2000
pd.options.display.max_columns = 25
pd.options.display.float_format = '{:,.4f}'.format

### EDA

In [102]:
print(X.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1490 entries, 0 to 1489
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   cust_id              1490 non-null   int64
 1   Age                  1490 non-null   int64
 2   Employment Type      1490 non-null   object
 3   GraduateOrNot        1490 non-null   object
 4   AnnualIncome         1490 non-null   int64
 5   FamilyMembers        1490 non-null   int64
 6   ChronicDiseases      1490 non-null   int64
 7   FrequentFlyer        1490 non-null   object
 8   EverTravelledAbroad  1490 non-null   object
dtypes: int64(5), object(4)
memory usage: 104.9+ KB
None

In [91]:
print(X.head(2))

   cust_id  Age               Employment Type GraduateOrNot  AnnualIncome  \
0     1704   26  Private Sector/Self Employed           Yes       1400000
1      491   28  Private Sector/Self Employed           Yes       1100000

   FamilyMembers  ChronicDiseases FrequentFlyer EverTravelledAbroad
0              3                1            No                 Yes
1              4                1            No                  No

In [99]:
print(X_submission.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   cust_id              497 non-null    int64
 1   Age                  497 non-null    int64
 2   Employment Type      497 non-null    object
 3   GraduateOrNot        497 non-null    object
 4   AnnualIncome         497 non-null    int64
 5   FamilyMembers        497 non-null    int64
 6   ChronicDiseases      497 non-null    int64
 7   FrequentFlyer        497 non-null    object
 8   EverTravelledAbroad  497 non-null    object
dtypes: int64(5), object(4)
memory usage: 35.1+ KB
None

In [100]:
print(X_submission.head(2))

   cust_id  Age               Employment Type GraduateOrNot  AnnualIncome  \
0     1569   27             Government Sector           Yes        500000
1     1344   25  Private Sector/Self Employed           Yes       1700000

   FamilyMembers  ChronicDiseases FrequentFlyer EverTravelledAbroad
0              5                0            No                  No
1              3                0           Yes                  No

In [101]:
print(Y.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1490 entries, 0 to 1489
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   cust_id          1490 non-null   int64
 1   TravelInsurance  1490 non-null   int64
dtypes: int64(2)
memory usage: 23.4 KB
None

In [95]:
print(Y.head(2))

   cust_id  TravelInsurance
0     1704                0
1      491                1

### 결측치 확인

In [104]:
dfX = pd.concat([X, X_submission], axis=0, ignore_index=True)
dfX.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1987 entries, 0 to 1986
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   cust_id              1987 non-null   int64
 1   Age                  1987 non-null   int64
 2   Employment Type      1987 non-null   object
 3   GraduateOrNot        1987 non-null   object
 4   AnnualIncome         1987 non-null   int64
 5   FamilyMembers        1987 non-null   int64
 6   ChronicDiseases      1987 non-null   int64
 7   FrequentFlyer        1987 non-null   object
 8   EverTravelledAbroad  1987 non-null   object
dtypes: int64(5), object(4)
memory usage: 139.8+ KB

In [105]:
dfX.isna().sum()

cust_id                0
Age                    0
Employment Type        0
GraduateOrNot          0
AnnualIncome           0
FamilyMembers          0
ChronicDiseases        0
FrequentFlyer          0
EverTravelledAbroad    0
dtype: int64

### Encoding

In [110]:
for feature in dfX.select_dtypes(include='object').columns:
    print(feature, ':', dfX[feature].unique())

Employment Type : ['Private Sector/Self Employed' 'Government Sector']
GraduateOrNot : ['Yes' 'No']
FrequentFlyer : ['No' 'Yes']
EverTravelledAbroad : ['Yes' 'No']

In [111]:
from sklearn.preprocessing import LabelEncoder

dfX['Employment Type'] = LabelEncoder().fit_transform(dfX['Employment Type'])

In [113]:
dfX['GraduateOrNot'] = dfX['GraduateOrNot'].replace({'No': 0, 'Yes': 1})

In [114]:
dfX['FrequentFlyer'] = dfX['FrequentFlyer'].replace({'No': 0, 'Yes': 1})

In [115]:
dfX['EverTravelledAbroad'] = dfX['EverTravelledAbroad'].replace({'No': 0, 'Yes': 1})

In [116]:
dfX.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1987 entries, 0 to 1986
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   cust_id              1987 non-null   int64
 1   Age                  1987 non-null   int64
 2   Employment Type      1987 non-null   int64
 3   GraduateOrNot        1987 non-null   int64
 4   AnnualIncome         1987 non-null   int64
 5   FamilyMembers        1987 non-null   int64
 6   ChronicDiseases      1987 non-null   int64
 7   FrequentFlyer        1987 non-null   int64
 8   EverTravelledAbroad  1987 non-null   int64
dtypes: int64(9)
memory usage: 139.8 KB

### 연관 관계 분석

In [117]:
dfXY = pd.merge(dfX, Y, on='cust_id')
dfXY.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1490 entries, 0 to 1489
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   cust_id              1490 non-null   int64
 1   Age                  1490 non-null   int64
 2   Employment Type      1490 non-null   int64
 3   GraduateOrNot        1490 non-null   int64
 4   AnnualIncome         1490 non-null   int64
 5   FamilyMembers        1490 non-null   int64
 6   ChronicDiseases      1490 non-null   int64
 7   FrequentFlyer        1490 non-null   int64
 8   EverTravelledAbroad  1490 non-null   int64
 9   TravelInsurance      1490 non-null   int64
dtypes: int64(10)
memory usage: 128.0 KB

In [119]:
dfXY.corr()['TravelInsurance']

cust_id               -0.0156
Age                    0.0690
Employment Type        0.1744
GraduateOrNot         -0.0247
AnnualIncome           0.4064
FamilyMembers          0.0967
ChronicDiseases        0.0308
FrequentFlyer          0.2442
EverTravelledAbroad    0.4279
TravelInsurance        1.0000
Name: TravelInsurance, dtype: float64

### 모델링 (사전작업)

In [141]:
from sklearn.metrics import roc_auc_score

def get_model_score(model, xtrain, xtest, ytrain, ytest):
    A1 = model.score(xtrain, ytrain)
    A2 = model.score(xtest, ytest)
    
    ypred = model.predict_proba(xtest)[:,1]
    B = roc_auc_score(ytest, ypred)
    
    scores = pd.Series([A1, A2, B], index='Train_Accuracy Test_Accuracy ROC_AUC'.split())
    return scores

In [151]:
from sklearn.model_selection import GridSearchCV

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

def compare_model(xtrain, xtest, ytrain, ytest):
    result = pd.DataFrame()
    
    model = LogisticRegression().fit(xtrain, ytrain)
    result[f'{model.__class__.__name__}'] = get_model_score(model, xtrain, xtest, ytrain, ytest)
    
    model = KNeighborsClassifier().fit(xtrain, ytrain)
    result[f'{model.__class__.__name__}'] = get_model_score(model, xtrain, xtest, ytrain, ytest)
    
    # for n in range(3, 10):
    #     model = KNeighborsClassifier(n_neighbors=n).fit(xtrain, ytrain)
    #     result[f'{model.__class__.__name__}_{n}'] = get_model_score(model, xtrain, xtest, ytrain, ytest)

    model = DecisionTreeClassifier(random_state=0).fit(xtrain, ytrain)
    result[f'{model.__class__.__name__}'] = get_model_score(model, xtrain, xtest, ytrain, ytest)
    
    for d in range(1, 10):
        model = DecisionTreeClassifier(max_depth=d, random_state=0).fit(xtrain, ytrain)
        result[f'{model.__class__.__name__}_{d}'] = get_model_score(model, xtrain, xtest, ytrain, ytest)
    
    model = RandomForestClassifier(random_state=0).fit(xtrain, ytrain)
    result[f'{model.__class__.__name__}'] = get_model_score(model, xtrain, xtest, ytrain, ytest)

    for d in range(1, 10):
        model = RandomForestClassifier(max_depth=d, random_state=0).fit(xtrain, ytrain)
        result[f'{model.__class__.__name__}_{d}'] = get_model_score(model, xtrain, xtest, ytrain, ytest)
    
    model = XGBClassifier().fit(xtrain, ytrain)
    result[f'{model.__class__.__name__}'] = get_model_score(model, xtrain, xtest, ytrain, ytest)
    
    result = result.T
    result.insert(2, 'DIFF', (result['Train_Accuracy'] - result['Test_Accuracy']).abs())
    return result

In [132]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

def get_model_data(dfX, Y, train_size, is_scaled=False):
    X_temp = dfX.drop(columns=['cust_id'])
    YF = Y['TravelInsurance']
    
    if is_scaled:
        X_temp = MinMaxScaler().fit_transform(X_temp)
        
    XF = X_temp[:train_size]
    X_submissionF = X_temp[train_size:]
    
    return XF, X_submissionF, YF

### 모델링 - Scaler 미사용

In [135]:
from sklearn.model_selection import train_test_split

XF, X_submissionF, YF = get_model_data(dfX, Y, len(X), False)
print([x.shape for x in [X, X_submission, Y]])
print([x.shape for x in [XF, X_submissionF, YF]])

xtrain, xtest, ytrain, ytest = train_test_split(XF, YF, test_size=0.2, random_state=1234, stratify=YF)
print([x.shape for x in [xtrain, xtest, ytrain, ytest]])

[(1490, 9), (497, 9), (1490, 2)]
[(1490, 8), (497, 8), (1490,)]
[(1192, 8), (298, 8), (1192,), (298,)]

In [152]:
result_1 = compare_model(xtrain, xtest, ytrain, ytest)

In [155]:
print(result_1[result_1['Test_Accuracy'] > 0.8].sort_values(['ROC_AUC', 'Train_Accuracy'], ascending=[False, False]))
# RandomForestClassifier          0.9421         0.8121 0.1300   0.7931
# XGBClassifier                   0.9136         0.7987 0.1149   0.7915
# DecisionTreeClassifier_5          0.8423         0.8322 0.0101   0.8440

                          Train_Accuracy  Test_Accuracy   DIFF  ROC_AUC
DecisionTreeClassifier_5          0.8423         0.8322 0.0101   0.8440
DecisionTreeClassifier_4          0.8372         0.8423 0.0050   0.8250
DecisionTreeClassifier_6          0.8498         0.8154 0.0344   0.8225
DecisionTreeClassifier_3          0.8372         0.8423 0.0050   0.8180
RandomForestClassifier_8          0.8633         0.8356 0.0277   0.8156
RandomForestClassifier_7          0.8498         0.8322 0.0176   0.8147
RandomForestClassifier_5          0.8406         0.8356 0.0050   0.8110
RandomForestClassifier_6          0.8465         0.8389 0.0076   0.8107
RandomForestClassifier_9          0.8775         0.8322 0.0453   0.8092
KNeighborsClassifier              0.8498         0.8121 0.0378   0.7955
RandomForestClassifier            0.9421         0.8121 0.1300   0.7931
DecisionTreeClassifier_7          0.8582         0.8221 0.0361   0.7716
DecisionTreeClassifier_8          0.8624         0.8154 0.0470   0.7505

### 모델링 - Scaler 사용

In [156]:
from sklearn.model_selection import train_test_split

XF2, X_submissionF2, YF2 = get_model_data(dfX, Y, len(X), True)
print([x.shape for x in [X, X_submission, Y]])
print([x.shape for x in [XF2, X_submissionF2, YF2]])

xtrain2, xtest2, ytrain2, ytest2 = train_test_split(XF2, YF2, test_size=0.2, random_state=1234, stratify=YF2)
print([x.shape for x in [xtrain2, xtest2, ytrain2, ytest2]])

[(1490, 9), (497, 9), (1490, 2)]
[(1490, 8), (497, 8), (1490,)]
[(1192, 8), (298, 8), (1192,), (298,)]

In [157]:
result_2 = compare_model(xtrain2, xtest2, ytrain2, ytest2)

In [158]:
print(result_2[result_2['Test_Accuracy'] > 0.8].sort_values(['ROC_AUC', 'Train_Accuracy'], ascending=[False, False]))
# RandomForestClassifier          0.9421         0.8121 0.1300   0.7931
# XGBClassifier                   0.9136         0.7987 0.1149   0.7915
# DecisionTreeClassifier_5          0.8423         0.8322 0.0101   0.8440

                          Train_Accuracy  Test_Accuracy   DIFF  ROC_AUC
DecisionTreeClassifier_5          0.8423         0.8322 0.0101   0.8440
DecisionTreeClassifier_4          0.8372         0.8423 0.0050   0.8250
DecisionTreeClassifier_6          0.8498         0.8154 0.0344   0.8225
DecisionTreeClassifier_3          0.8372         0.8423 0.0050   0.8180
RandomForestClassifier_8          0.8633         0.8322 0.0310   0.8164
RandomForestClassifier_7          0.8498         0.8322 0.0176   0.8148
RandomForestClassifier_5          0.8406         0.8356 0.0050   0.8111
RandomForestClassifier_6          0.8473         0.8389 0.0084   0.8107
RandomForestClassifier_9          0.8775         0.8322 0.0453   0.8087
RandomForestClassifier            0.9421         0.8121 0.1300   0.7948
DecisionTreeClassifier_7          0.8582         0.8221 0.0361   0.7716
DecisionTreeClassifier_8          0.8624         0.8154 0.0470   0.7505

### 모델 확정 및 제출 데이터 생성

In [159]:
from sklearn.model_selection import train_test_split

XF, X_submissionF, YF = get_model_data(dfX, Y, len(X), False)
print([x.shape for x in [X, X_submission, Y]])
print([x.shape for x in [XF, X_submissionF, YF]])

xtrain, xtest, ytrain, ytest = train_test_split(XF, YF, test_size=0.2, random_state=1234, stratify=YF)
print([x.shape for x in [xtrain, xtest, ytrain, ytest]])

[(1490, 9), (497, 9), (1490, 2)]
[(1490, 8), (497, 8), (1490,)]
[(1192, 8), (298, 8), (1192,), (298,)]

In [160]:
model = DecisionTreeClassifier(max_depth=5, random_state=0).fit(xtrain, ytrain)
print(get_model_score(model, xtrain, xtest, ytrain, ytest))

Train_Accuracy   0.8423
Test_Accuracy    0.8322
ROC_AUC          0.8440
dtype: float64

In [161]:
Y_pred = model.predict_proba(X_submissionF)[:,1]
submission = pd.DataFrame({'cust_id': X_submission['cust_id'], 'TravelInsurance': Y_pred})
submission.to_csv('./submission.csv', index=False)

### 제출 데이터 확인

In [162]:
temp = pd.read_csv('./submission.csv')
print(temp.head())

   cust_id  TravelInsurance
0     1569           0.1863
1     1344           1.0000
2     1429           0.1863
3      896           0.2846
4      101           1.0000